[2022-02-15 21:29] lrchang2 commented on #33
Go through the issues and check to see if X is missing or assigned
size: 0/0
role: 0/0
feature: 0/0
 Go through the issues and check to see that there is a label missing:
size: 1/0
role: 0/0
feature: 0/0
Check to see if there are any issues not yet on the project
no project: 0/0
no milestone: 0/0

[2022-02-15 21:30] lrchang2 commented on #127
@kimberly-tellez Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures

[2022-02-15 21:31] lrchang2 commented on #114
@hannahsgr Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of th

[2022-02-15 21:32] lrchang2 commented on #106
@ashleyxz Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the

[2022-02-15 21:33] lrchang2 commented on #120
@Archana-M Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of th

[2022-02-15 21:33] lrchang2 commented on #96
@KaylenaNguyen
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures o

[2022-02-15 21:34] lrchang2 commented on #129
@katelyntn
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of th

[2022-02-15 21:34] lrchang2 commented on #56
@delacrem Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the

[2022-02-15 21:35] lrchang2 commented on #115
@ExperimentsInHonesty
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pic

[2022-02-15 21:36] lrchang2 commented on #94
- #127
- #114
- #106
- #120
- #96
- #129
- #56
- #115

[2022-02-15 21:43] lrchang2 opened #134 "UX/UI Lead Wiki Update"
### Overview
We need the UX/UI leads to document and link all resources within the Access the Data wiki so a new person joining the team can have access to whatever they need for their role.

### Action Items

- [x] Collect all research developed for the project
- [x] Write up all past research done and results from it in the github wiki
- [x] Link any associated resources to the wiki

### Resourc

[2022-02-15 21:54] hannahsgr commented on #114
**Progress:** Bonnie and I met yesterday to go over 311 Data Research Resources. We went through all the files in the documents and added them to the Wiki.
**Blockers:** There were two articles that need further clarification form Sarah and Mike.
**Availability:** 6 hours
**ETA:** Meeting with Bonnie and the Data Analysts on Monday to get clarification on the articles.

[2022-02-15 22:43] lrchang2 commented on #130
#### Onboard: AJ 2022-02-15 (retroactively)
- [ ] Google Drive
   - [ ] Add to drive as Manager
- [ ] Roster
  - [ ] Send link
  - [ ] Team member adds themselves
  - [ ] Check for Public
- [ ] GitHub
     - [ ] Add to team write team
        - [ ] Change membership to maintainer
     - [ ] Add to read vault
        - [ ] Change membership to maintainer
- [ ] Figma
  - [ ] invite
  - [ ] acceptanc

[2022-02-16 00:01] KaylenaNguyen commented on #96
After meeting with Archana, we're still a bit confused on what needs to be added to the questions pertaining the usability testing. We do know that we want to test the entire site again because just testing the carousel will limit what our testers will see. By testing the entire site, we can get a better idea of how they're going through the website and see if they actually go through the carousel

[2022-02-16 02:13] Archana-M commented on #120
Progress: Working with Kaylena on Usability Testing
Blockers: No blockers
Availability: 6 hrs

[2022-02-16 18:57] kimberly-tellez commented on #127
Progress: Research plan has been drafted and feedback recieved, I need to finalize the plan taking into account feedback and create screener survey questions to add to the research plan. I will need feedback on screener survey questions during meeting on 2/17.
Blockers: N/A
Availability: 2 hrs on 2/16, 2 hrs on 2/17 (not including meeting hours), another hour on 2/18 if needed
ETA: This issue shou

[2022-02-16 21:11] joanna-pham commented on #134
@lrchang2 Updated Wiki Page labeled [Prior and Ongoing Research](https://github.com/hackforla/access-the-data/wiki/Prior-and-Ongoing-Research) with majority of what was completed.

[2022-02-16 21:56] Avangarde2225 commented on #133
Updated 10th and 11th slides https://docs.google.com/presentation/d/1mlYV3ELIGxeoxvKBAjjukZ51uTbl6daB5hcAIp9arDI/edit#slide=id.g1159c1a4cab_0_1

Only missing part I am currently working on is the plotly map of the NCs.

[2022-02-17 01:03] scho-git commented on #132
Slides content done but still need to change the slide format to the hfla template-- will do tomorrow

[2022-02-17 01:03] scho-git commented on #131
Slides content done but still need to change the slide format to the hfla template-- will do tomorrow

[2022-02-17 01:24] ashleyxz commented on #106
Updated with notes and slides (in the same folder)

[2022-02-17 19:10] mcmorgan27 commented on #128
Pushed two notebooks + data.  Will keep issue open until I hear back.

[2022-02-18 00:01] katelyntn commented on #129
Progress: Based on discussion with team, we decided to have a logo on the left of the text. Made a change to one of the logo, will need to update usability test then we can send them out
Blockers: no
Availability: 3-5 hrs
ETA: when we get our usability results
Pictures:
<img width="479" alt="Group 251" src="https://user-images.githubusercontent.com/75820160/154591832-00b39156-9c08-4818-a0be-a84fb9

[2022-02-18 02:04] mcmorgan27 commented on #129
FWIW the top one resonates with me.

[2022-02-19 05:08] mcmorgan27 commented on #128
I think the notebooks are ok.  I'm going to close this issue.

[2022-02-19 05:08] #128 closed

[2022-02-21 21:50] scho-git commented on #132
Slides done-- header banners include HfLA logo, maybe change to Access the Data logo once logo's finalized?
Slide 9 (highlighting map, data viz, alpha tool) shows each tool as full-view on the slide that gets shown one at a time during presentation mode.

[2022-02-21 21:53] scho-git commented on #131
Slides done for now-- header banners include HfLA logo, maybe change to Access the Data logo once logo's finalized.

Title slide still needs finalized Title of Workshop and Date of the workshop.
Agenda slide has three different versions to be chosen, wasn't sure which one was the best visually.

[2022-02-21 22:18] KaylenaNguyen commented on #96
After meeting with Melissa and Archana, we decided to create two versions of the website. One version is with the carousel, the other without. We'll run an A/B test and gather data that way. Will the carousel even be necessary?
I also added a submenu for "Get Involved" which is now on the nav bar.
It should work with all screens.

For testing purposes, the auto forwarding on the carousel has been

[2022-02-22 21:26] lrchang2 commented on #70
## [2022-02-22] Meeting Agenda

### Prework to prep for meeting
- [x] #33
- [x] https://github.com/hackforla/access-the-data/issues/94
- [x] Review [ice box](https://github.com/hackforla/access-the-data/projects/1#column-12519284) and see if dependencies are still open or not

### Recurring items: Happens on the PM meeting
 - [ ] review any issues that are in the [new issue approval column](https:

[2022-02-22 21:27] lrchang2 commented on #114
@hannahsgr Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of th

[2022-02-22 21:29] lrchang2 commented on #120
@Archana-M Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of th

[2022-02-22 21:30] hannahsgr commented on #114
Progress: Categorized the documents with the help of Mike and Sarah.
Blockers: Still need to organize documents that belong to Mike (require further clarification).
Availability: 6 hours
ETA: Meeting on Wednesday when this issue can be discussed further and resolved.

[2022-02-22 21:31] lrchang2 commented on #129
sent out usability hub study to #access-the-data channel in slack

[2022-02-22 21:32] lrchang2 commented on #56
@delacrem Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the

[2022-02-22 21:32] lrchang2 commented on #109
@MalakH21 Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the

[2022-02-22 21:34] lrchang2 commented on #106
@ashleyxz can you share the results with the team (slides) and go over "gaps" that need to be filled during this week's meeting?

[2022-02-22 21:43] lrchang2 commented on #94
- #106
- #120
- #56
- #115
- #109
-

[2022-02-22 21:43] lrchang2 commented on #33
Go through the issues and check to see if X is missing or assigned
size: 0/0
role: 0/0
feature: 0/0
 Go through the issues and check to see that there is a label missing:
size: 1/0
role: 0/0
feature: 0/0
Check to see if there are any issues not yet on the project
no project: 0/0
no milestone: 0/0

[2022-02-22 21:49] lrchang2 commented on #37
closing because focus has shifted to high fi

[2022-02-22 21:49] lrchang2 commented on #37
closing because focus has shifted to high fi

[2022-02-22 21:49] #37 closed

[2022-02-22 21:52] lrchang2 commented on #41
finished high fi wireframes

[2022-02-22 21:54] lrchang2 opened #135 "A/B Testing and Usability Testing of Components"
### Overview
We need to conduct an A/B testing of certain components of the desktop and mobile version to see if the design needs to be adjusted to be more user friendly.

### Action Items

- [x] Determine website components that want to be tested
- [x] Develop questions that need to be tested for each component
- [x] Develop documentation for testing
- [x] Review test with team, leads and PMs
- [

[2022-02-22 21:57] lrchang2 commented on #135
We have determined that we need to test the carousel and the buttons within the carousel #96 #120

[2022-02-22 22:00] lrchang2 commented on #135
@Archana-M @KaylenaNguyen moving all your work into this issue, please put an update and any necessary notes within here.

[2022-02-22 22:57] lrchang2 commented on #127
after talking to org, we
- added a new research question to learn about the tools currently use for story telling and social advocacy and the language used
- defined the value that Access the Data provides to potential outside organizations/community advocates

next steps are for
- org needs to add notes to the research plan
- write up a description of how outside organizations could work with Acc

[2022-02-22 23:03] ExperimentsInHonesty commented on #133
@Avangarde2225 please change the following on the side where it currently has a very long url to be the url linked to the text

See the [Data Origin and Request Types](https://docs.google.com/document/d/1-WzGxAbqRENZByrrPepChhGxBRAkmNF5YbpTwyd6Oi8/edit#) one sheet for more request type definitions

[2022-02-22 23:06] ExperimentsInHonesty opened #136 "311 Data Slides: Visualizations"
### Overview
We need to add visualizations to the 311 workshop slides to users have context for why we are looking at specific neighborhoods during the walk through by highlighting patterns within NC for Illegal Dumping and Bulky Items

### Action Items
  - [ ] 13: Histogram and Cloropleth map of bulky item density for all NCs in 2021

### Resources/Instructions
- [311 Data Workshop Outline](https

[2022-02-22 23:09] ExperimentsInHonesty commented on #133
@Avangarde2225 I am separating this issue into two issues.  As soon as you have finished making the change above, you can pick up the other issue #136 136

[2022-02-24 00:54] Archana-M commented on #135
Here are the questions that we want to discuss with the team for usability testing https://docs.google.com/document/d/1Yve2xkk6EtvPTnXT2yvr4D17_f6S0ZMqhrYqJBOoLvE/edit

[2022-02-24 01:05] MalakH21 commented on #109
completed data map feature slides, all data visualization slides outside of total requests + frequency, awaiting review
blockers: 0 data for Jan 3- 18  total requests + frequency visualizations in (image attached
<img width="893" alt="Screen Shot 2022-02-21 at 6 09 47 PM" src="https://user-images.githubusercontent.com/40288906/155437424-ef42c662-92fa-470c-b274-25fa093aeae9.png">
<img width="891" a

[2022-02-24 01:06] MalakH21 commented on #109
slides now live here : https://docs.google.com/presentation/d/1mlYV3ELIGxeoxvKBAjjukZ51uTbl6daB5hcAIp9arDI/edit#slide=id.g116292c21fa_1_42

[2022-02-24 01:19] scho-git opened #137 "311 Data slides: Highlight and Introduce 311-data tools"
### Overview
We need to add content to the 311 workshop slides to introduce the tools of the 311-data website so that the audience knows where they can find them before demos.

### Action Items

[x] Add slide 9: Screenshot highlighting the tool (map / data viz / alpha)

### Resources/Instructions
[311 Data Workshop Outline](https://docs.google.com/document/d/1W1WLLVAN8izVGgm5CsUwEZ43xc_2upMeXR3Q8l

[2022-02-24 01:19] MalakH21 commented on #109
done 👯  please disregard all the previous comments - the nature of the issue has changed fundamentally

[2022-02-24 01:29] scho-git commented on #137
Slide 9 (highlighting map, data viz, alpha tool) done and shows each tool as full-view that gets shown one at a time during presentation mode

[2022-02-24 01:30] snooravi opened #138 "Land on a Title for the 311 Data workshop"
### Overview
We need to develop a title for the workshop that coveys: inviting, exciting, informative, relatable, actionable

### Action Items

- [ ] Review existing options on Slide 1 and continue to brainstorm other options
- [ ] Survey the team and arrive at the best option
- [ ] Update Slide 1 & all other dependencies

### Resources/Instructions
[311 Data Workshop Outline](https://docs.google.

[2022-02-24 01:38] MalakH21 opened #139 "311 Data Slides: Map 2 Slide"
### Overview

We need to add content to the 311 workshop slides to inform attendees what the terms: Bulky Items and Illegal Dumping mean so that they can understand the maps and other methods that follow.

### Action Items
- [x] 311 Data Map 2: Zoom into the map and highlight one BLK data point--highlight and describe what all the data means

### Resources/Instructions
- [311 Data Workshop Outline

[2022-02-24 01:56] MalakH21 commented on #117
discussed - how the objective of this one-pager will be establishing the distinction between:
- where to make a [service request](https://www.lacity.org/myla311)
- where to find the [dataset](https://data.lacity.org/City-Infrastructure-Service-Requests/MyLA311-Service-Request-Data-2021/97z7-y5bt) for 311
- HackforLA API
- where to go to [visualize](https://311-data.org/data) a subset of requests
m

[2022-02-24 18:24] KaylenaNguyen commented on #135
I've updated the navigation bar. submenu for 311 Data under "workshops"
I've also changed the resources link to the GitHub link that you provided.

[2022-02-25 02:06] mxajPrice opened #140 "Project Roadmap"
### Overview
We need to develop a project roadmap for Access the Data that includes workshop, website, design system, and branding/communication guide.

### Action Items

- [ ] Map out project deliverables for the next 6 months
- [ ] Consolidate and refine [list of milestones](https://docs.google.com/spreadsheets/d/1_cx15yObwAl3KZYJjDgqjXd7Njw2D05BfcSc1eGZDtU/edit#gid=144012752)
- [ ] Breakdown mi

[2022-03-01 02:47] hannahsgr commented on #114
Progress: Finalized content groupings with Sarah and Bonnie, will be creating new pages and completing the side navigation bar on GitHub.
Blockers: Unfamiliarity with GitHub - how to create new pages, etc. - will look up
Availability: 6 hours
ETA: By Wednesday

[2022-03-01 20:31] lrchang2 commented on #70
## [2022-03-01] Meeting Agenda

### Prework to prep for meeting
- [x] #33
- [x] https://github.com/hackforla/access-the-data/issues/94
- [x] Review [ice box](https://github.com/hackforla/access-the-data/projects/1#column-12519284) and see if dependencies are still open or not

### Recurring items: Happens on the PM meeting
 - [ ] review any issues that are in the [new issue approval column](https:

[2022-03-01 20:32] lrchang2 commented on #33
Go through the issues and check to see if X is missing or assigned
size: 0/0
role: 0/0
feature: 0/0
 Go through the issues and check to see that there is a label missing:
size: 1/0
role: 0/0
feature: 0/0
Check to see if there are any issues not yet on the project
no project: 0/0
no milestone: 0/0

[2022-03-01 20:34] lrchang2 commented on #134
@melissamurphy when you get the chance, please review what joanna has provided and add any other notes.

[2022-03-01 20:34] lrchang2 commented on #127
@kimberly-tellez Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures

[2022-03-01 20:35] lrchang2 commented on #114
@hannahsgr thank you for your update. if you need help on adding pages to the github, let me know and i'll show you how.

[2022-03-01 20:36] lrchang2 commented on #106
ice boxing issue to recruit for writer

[2022-03-01 20:36] lrchang2 commented on #129
@katelyntn Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of th

[2022-03-01 20:37] lrchang2 commented on #56
@delacrem are you still working on this?

[2022-03-01 20:38] lrchang2 commented on #94
- #134
- #127
- #129
- #56

[2022-03-01 20:40] lrchang2 commented on #139
@MalakH21 is this issue completed? if so, please comment and close out

[2022-03-01 22:52] lrchang2 opened #141 "Keep Team Meeting Invites Up-to-date"
### Overview
We need to keep the team meetings up to date to make sure team members are on or off the calendar invites and that the meeting times match what appears on the Hack for LA website.

### Action Items
- [ ] Update any meeting times below
   - [ ] Update VRMS meeting times
- [ ] Add member to appropriate meeting(s)
   - [ ] UI/UX team meeting: Thursday 4PM PST
   - [ ] Team meeting: Wedne

[2022-03-02 06:23] melissamurphy commented on #8
Added LACounts to [spreadsheet](https://docs.google.com/spreadsheets/d/1_cx15yObwAl3KZYJjDgqjXd7Njw2D05BfcSc1eGZDtU/edit#gid=1259306930).  An example raised in today's PM + Leads meeting by @lrchang2 , LACounts Beta (no longer maintained) showed storytelling with data and specifically LA-area datasets.

[2022-03-02 15:57] MalakH21 commented on #139
@lrchang2 it is awaiting review prior to closure

[2022-03-02 16:06] MalakH21 commented on #117
updated the doc to address points (1) and (2) commented above - [here](https://docs.google.com/document/d/1-WzGxAbqRENZByrrPepChhGxBRAkmNF5YbpTwyd6Oi8/edit#)

not sure that it's cohesive + sufficiently succinct to also include points 3 + 4 - could potentially make a separate one page for them (?)

[2022-03-03 00:07] scho-git commented on #132
Added example for how a 311 request is processed

[2022-03-03 03:43] lrchang2 commented on #99
created twitter account and facebook page

[2022-03-03 05:04] delacrem commented on #56
Progress: workshop template ready for review and feedback from design and workshop team
Blockers: none
Availability: Sunday evening
ETA: upon feedback from design and workshop team
Pictures: template link: https://docs.google.com/presentation/d/1F0XOVFpdzwrqln_ib2b7kEF2PpFX_issaZVf3IxFfps/edit?usp=sharing

[2022-03-08 00:13] mxajPrice commented on #70
## [2022-03-01] Meeting Agenda

### Prework to prep for meeting
- [x] #33
- [x] https://github.com/hackforla/access-the-data/issues/94
- [x] Review [ice box](https://github.com/hackforla/access-the-data/projects/1#column-12519284) and see if dependencies are still open or not

### Recurring items: Happens on the PM meeting
 - [ ] review any issues that are in the [new issue approval column](https:

[2022-03-08 00:14] lrchang2 commented on #33
Go through the issues and check to see if X is missing or assigned
size: 0/0
role: 0/0
feature: 0/0
 Go through the issues and check to see that there is a label missing:
size: 1/0
role: 0/0
feature: 0/0
Check to see if there are any issues not yet on the project
no project: 0/0
no milestone: 0/0

[2022-03-08 00:16] lrchang2 commented on #134
@melissamurphy Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures o

[2022-03-08 00:17] lrchang2 commented on #127
@kimberly-tellez
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures

[2022-03-08 00:18] lrchang2 commented on #114
@hannahsgr
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of th

[2022-03-08 00:18] lrchang2 commented on #129
@katelyntn
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of th

[2022-03-08 00:19] lrchang2 commented on #109
@MalakH21 if this issue is completed, please close it out

[2022-03-08 00:19] lrchang2 commented on #133
@Avangarde2225
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures o

[2022-03-08 00:20] lrchang2 commented on #94
- #134
- #127
- #114
- #129
- #115
- #133

[2022-03-08 01:33] lrchang2 commented on #56
@delacrem data analysts need some stock images. can be seen in slide 4 & 9. should align with our wireframes - wireframes use the blush plugin https://docs.google.com/presentation/d/1mlYV3ELIGxeoxvKBAjjukZ51uTbl6daB5hcAIp9arDI/edit#slide=id.g10992d975c3_0_190

[2022-03-08 01:39] hannahsgr commented on #114
Hey Lucy! I'll be doing updates after Monday meetings.

Progress: New pages/side navigation created
Blockers: Need broader/website like categories for the side navigation bar
Availability: 6 hours
ETA: Wednesday

[2022-03-10 00:55] katelyntn commented on #129
Progress: Gathered data from our testing on the logo. Test results https://app.usabilityhub.com/tests/72604272480f/results/b61b1180be0e
Blockers: Time
Availability: 2-3 hrs
ETA: Tomorrow's meeting
Pictures:

[2022-03-10 00:59] Avangarde2225 commented on #133
Progress: This issue has been completed. Please refer to the slide #11 : https://docs.google.com/presentation/d/1mlYV3ELIGxeoxvKBAjjukZ51uTbl6daB5hcAIp9arDI/edit#slide=id.g113bcaff670_2_34
Blockers: My laptop died.

Updated the slide #13 as well. More details can be seen here: https://public.tableau.com/app/profile/serdar.celebi/viz/LACity311ServiceRequestCallsDashboard/Dashboard_1

[2022-03-10 00:59] #133 closed

[2022-03-11 00:04] lrchang2 commented on #135
- warning for outside links
-

[2022-03-11 00:48] lrchang2 commented on #135
next steps are to work on refining the carousel and cards with the feedback from usability testing

[2022-03-15 00:57] hannahsgr commented on #114
Progress: Finalized information architecture, will be working on creating a research/test plan.
Blockers: None
Availability: 6 hours
ETA: Wednesday

[2022-03-15 01:16] mxajPrice commented on #70
## [2022-03-15] Meeting Agenda

### _Prework to prep for meeting
- [ ] #33
- [ ] https://github.com/hackforla/access-the-data/issues/94
- [ ] Review [ice box](https://github.com/hackforla/access-the-data/projects/1#column-12519284) and see if dependencies are still open or not_

### Recurring items: Happens on the PM meeting
 - [ ] review any issues that are in the [new issue approval column](http

[2022-03-15 20:49] #134 closed

[2022-03-15 20:49] #129 closed

[2022-03-15 20:50] lrchang2 commented on #127
@kimberly-tellez
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures

[2022-03-15 20:51] lrchang2 commented on #52
@katelyntn
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of th

[2022-03-15 20:51] lrchang2 commented on #135
@Archana-M @KaylenaNguyen can we close out this issue?

[2022-03-15 20:52] lrchang2 commented on #56
@delacrem
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the

[2022-03-15 20:54] lrchang2 commented on #94
- #127
- #52
- #56
- #115
-

[2022-03-15 21:11] lrchang2 commented on #33
Go through the issues and check to see if X is missing or assigned
size: 0/0
role: 0/0
feature: 0/0
 Go through the issues and check to see that there is a label missing:
size: 1/0
role: 0/0
feature: 0/0
Check to see if there are any issues not yet on the project
no project: 0/0
no milestone: 0/0

[2022-03-15 21:18] Archana-M commented on #135
@lrchang2 yes.
cc: @KaylenaNguyen

[2022-03-16 05:22] katelyntn commented on #52
Progress: Researched the different vertical logo variations and designed vertical versions. Added favicon.
Blockers:
Availability: 2-3
ETA: Thurs
Pictures:

[2022-03-16 07:44] melissamurphy commented on #74
@kimberly-tellez @hannahsgr @ashleyxz  The Activism Orientation scale (from the Social Cognition lab at Cornell) I mentioned as a validated measure of activism is here https://www.midss.org/activism-orientation-scale-aos/ May provide some inspiration in defining our potential community activist users or some segment thereof.

[2022-03-17 00:09] lrchang2 commented on #63
- workshop asked for suggestions on title of workshop

[2022-03-17 00:26] mxajPrice commented on #63
New people: Anupriya Jayakumar - Data - shopping
Eloka Ogbonnia - UX Design - shopping
Sara - UX - interested in this project
Steffie Kim - UX Research, quantitative methods - 70%

[2022-03-17 02:18] mxajPrice commented on #63
## 2022 March 23 - Team Meeting

### AGENDA
_Timezones listed as PDT._
_Note: the Zoom room will close abruptly at the end-time of the meeting to accommodate another Hack for LA meeting._
- [ ] 17:00  _10 minutes_- PM Updates - @lrchang2 & @mxajPrice
- [ ] 17:10  _5 minutes_- Website team briefs on what they are working on - @lrchang2
- [ ] 17:15  _5 minutes_- Workshops team briefs on what they ar

[2022-03-17 03:00] mxajPrice commented on #70
## 2022 March 22 - PM Meeting

### AGENDA
_Timezones listed as PDT._

- [ ] 14:00 _10 minutes_ - Review any issues that are in the [new issue approval column](https://github.com/hackforla/access-the-data/projects/1#column-15402664) - @lrchang2
- [ ] 14:10 _10 minutes_ - Review issues with [epic label](https://github.com/hackforla/access-the-data/issues?q=is%3Aissue+is%3Aopen+label%3Aepic+) and def

[2022-03-17 23:16] mxajPrice commented on #64
## 2022 March 17 - UX/UI Working Session

### AGENDA
_Timezones listed as PDT._
- [ ] 16:00 _10 minutes_- Welcome New UX/UI teammates - @KaylenaNguyen
- [ ] 16:10 _40 minutes_- Work on website design

Notes:

- Archana and Kaylena shared updates on the carousel

[2022-03-20 12:52] Providence-o commented on #70
Please add to your next agenda

- Discuss with Bonnie you adding this [CTA](https://docs.google.com/presentation/d/1UDHwTQ1C3y01CiNS0mvPjNBHJFlm2Txs/preview) to your team agenda

[2022-03-21 23:45] mxajPrice commented on #100
## 2022 March 21 - AtD Workshops Meeting

### AGENDA
_Timezones listed as PDT._
_Note: the Zoom room will close abruptly at the end-time of the meeting to accommodate another Hack for LA meeting._
- [ ] 17:00  _10 minutes_- Issues updates
- [ ] 17:00 _40 minutes_- working session

[2022-03-22 01:10] hannahsgr commented on #114
Progress: Met with Steffie to go over the project and divided up the work. She will work on the screener/background questions and I will finalize the task list.
Blockers: None
Availability: 6 hours
ETA: I can have the task finalized by end of this week for review for next weeks research meetings.

[2022-03-22 02:41] mxajPrice opened #142 "Create Roadmap"
### Overview
We need to create a visual roadmap to communicate to the team what has been done and what is yet to be done.

### Action Items

- [ ] Audit the [milestones listed in GitHub](https://github.com/hackforla/access-the-data/milestones?direction=asc&sort=title&state=open) and the milestones on the [Competitive/Comparative Analysis](https://docs.google.com/spreadsheets/d/1_cx15yObwAl3KZYJjDg

[2022-03-22 20:38] lrchang2 commented on #127
@kimberly-tellez
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures

[2022-03-22 20:38] lrchang2 commented on #52
@katelyntn
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of th

[2022-03-22 20:39] lrchang2 commented on #135
apologies for the late response, yes lets make another issue. i will close out this one for now

[2022-03-22 20:39] #135 closed

[2022-03-22 21:47] lrchang2 commented on #99
- added Bonnie and Sequoia to Facebook as admins
- add current logo to all pages
- Instagram account has been disabled - need to dispute

[2022-03-23 06:21] katelyntn commented on #52
Progress: Designed all the logo variations. Will present for feedback.
Blockers:
Availability: 2-3 hrs
ETA: By Thurs
Pictures:
<img width="2845" alt="ATD Logo" src="https://user-images.githubusercontent.com/75820160/159635978-0883750c-f4ba-4248-8aa5-0e018ccf1f61.png">

[2022-03-24 03:37] #114 closed

[2022-03-24 03:45] hannahsgr opened #143 "Tree Testing Information Architecture"
### Overview
Test Access the Data’s top navigation menu to see how easily people can find the information that they’re looking for. Identify any road blocks in the user journey.

### Action Items
- [x] Finalize user tasks
- [x] Create the tree test
- [x] Launch the tree test
- [x] Analyze the data

### Resources/Instructions
https://github.com/hackforla/access-the-data/wiki
[IA Tree Test Research

[2022-03-24 19:27] mxajPrice opened #144 "Plan for Planning Week [4-8 April]"
### Overview
The PMs and Team leads need to

### Action Items

- [x] Set up a retrospective with team leads week of 28 March
- [x] Outline what needs to be accomplished during planning week
- [x] Set up AtD strategic workshop sessions with team leads for planning week
- [x] Prepare materials and agendas for AtD strategic workshops

[2022-03-25 16:00] lrchang2 commented on #104
closing, this was sarah's personal issue and she is off the project now

[2022-03-25 16:00] #104 closed

[2022-03-25 16:04] lrchang2 commented on #52
team finalized the version of the vertical, favicon and submark. last step is to create svg, png and jpeg version of each of the logos

[2022-03-26 03:40] lrchang2 opened #145 "Website User Flows and Wireflows"
### Dependencies

- #191
- #192

### Overview
We need to develop the user flow of the website and align it with the project's user personas and user journey through the website to ensure that the website is designed and organized to support their journey.

### Action Items
- [x] PHASE 1: #169
- [ ] PHASE 1: Audit and document current high-fi wireframes for sitemap and wireflows
- [ ] PHASE 1: Defi

[2022-03-26 03:52] lrchang2 commented on #120
button confirmed during usability testing, closing out issue

[2022-03-26 03:52] #120 closed

[2022-03-27 02:24] #52 closed

[2022-03-28 20:23] hannahsgr commented on #143
Progress: Created and launched the tree test. Posted the test on various Slack channels.
Blockers: Getting enough participants to complete the tree test.
Availability: 6 hours
ETA: Friday

[2022-03-29 21:59] mxajPrice commented on #63
## 2022 March 29 - Team Meeting

### AGENDA
_Timezones listed as PDT._
_Note: the Zoom room will close abruptly at the end-time of the meeting to accommodate another Hack for LA meeting._
- [ ] 17:00  _10 minutes_- PM Updates - @lrchang2 & @mxajPrice
- [ ] 17:10  _5 minutes_- AOB (Any Other Business)
- [ ] 17:15  _35 minutes_- [Website](https://www.google.com/url?q=https://github.com/hackforla/acc

[2022-03-29 23:52] #127 closed

[2022-03-30 00:45] kim-tellez opened #147 "ATD Persona 1 Recruitment Strategy"
### Overview
We need to develop a recruitment strategy that targets finding Community Activists.

### Action Items

- [x] Create recruitment strategy with sample email & LinkedIn messaging templates
- [x] Create contacts spreadsheet
- [x] Create sample script/list of questions for Informational Interviews
- [x] Create Screener Survey Questions (in Google Doc to allow for comments)
- [x] Create Scr

[2022-03-30 01:16] bradyse opened #148 "Review Workshop Slides"
### Overview
The purpose of this issue is to conduct a review of the Workshop slides for clarity and educational information, especially for an audience unfamiliar with data. Once the review is complete, data analysts on the project will be asked to provide answers to questions regarding the information presented in the workshop slides.

### Action Items

- [x] Review Workshop slides and provide n

[2022-03-30 01:17] steffiekim opened #149 "Evaluating the Content Among Wiki, Website, and Workshop Slides"
### Overview
We need to check whether the information on three different places (Github wiki, website, and workshop slides) is consistent.

### Action Items

- [x] Connect with @katelyntn to check on how website wire flow is going
- [x] Connect with data analysts (@MalakH21 & @scho-git) to check on the slides content
- [x] Collaborate with @hannahsgr to understand the content on the Github wiki
-

[2022-03-30 06:11] lrchang2 commented on #56
@Eloks7 Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the v

[2022-03-30 06:12] lrchang2 commented on #124
@ri0nardo Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the

[2022-03-30 06:13] lrchang2 commented on #119
@KC243 Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the vi

[2022-03-30 06:13] lrchang2 commented on #123
@deepamohan22 Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of

[2022-03-30 20:19] deepamohan22 commented on #123
@lrchang2
Progress : In progress. Completed first 3 tasks. Redesigned the text fields (desktop version).
Blockers : No
Availability : 12 hrs
ETA : Two weeks from now.
Image
<img width="377" alt="Acess the data screen shot" src="https://user-images.githubusercontent.com/102125634/160923499-1d7566fb-6fdc-4490-bb0b-b6103bd825e9.png">

[2022-03-31 00:58] KC243 commented on #119
Progress: Finished action item 1 (Do industry research on different types of headers and footers and the components that are included in them)
Blockers: none
Availability: 4-6
ETA: In 1-2 weeks
Pictures: None
Reference for Action item 1: https://www.figma.com/file/ogRwU7dOorqIlORIoHsFiQ/Header-and-Footer-Comparison?node-id=0%3A1

[2022-03-31 15:44] Eloks7 commented on #56
1.  None, confused on what to do.
2. Unable to meet with Clarizza Mendoza yet to get guidance.
3. 3 hours.
4. No idea.

[2022-04-03 07:07] steffiekim commented on #149
- Identified and evaluated content for Github wiki.
- Created [a document](https://docs.google.com/document/d/1QK69gmIsQzzbkptNjwJc_vuOSOPe2Pz7bcJ67QkHddY/edit?usp=sharing) for evaluation

[2022-04-04 20:41] hannahsgr commented on #143
Progress: Reviewing statistical models in excel. My past experience is primarily using descriptive statistics.
Blockers: I'm still unsure how to use quant methods in excel to analyze the tree testing data
Availability: I'm available on Friday + the weekend to begin analyzing the data
ETA: Sunday

[2022-04-05 22:55] deepamohan22 commented on #123
@lrchang2

Progress : In progress. Completed the first 7 Tasks. Redesigned the text fields ( Mobile Version)
Blockers :  Yes, In remaining tasks - I did not understand the meaning of :  ' detail out component's within the figma section
Availability : 6 hrs.
ETA : One week from now
<img width="98" alt="Access data mobile version text fields Screenshot 2022-04-05 154808" src="https://user-images.git

[2022-04-06 04:07] ri0nardo commented on #124
Progress: Currently set all the margins and paddings to a set grid system that is consistent throughout each frame. Will need to review the margins and paddings to see if anything needs to be revised. Once the margins and paddings are complete with complete annotations, will proceed to start image sizing. After that will start the components.

Blockers: No blockers yet. Just very time-consuming.

[2022-04-07 02:53] KC243 commented on #119
Progress: Finished action items 2-3
Blockers: need to bring updated designs to the team for feedback and finalizing before I'm able to proceed further
Availability: 4-6
ETA: 1 week after meeting with the team
Pictures:
![Desktop-Updated Header and Footer](https://user-images.githubusercontent.com/101949454/162110839-06e30470-97a4-422a-81d1-e0d9cf92fc48.jpg)
![Mobile- Updated Header and footer](htt

[2022-04-07 17:39] lrchang2 commented on #123
@deepamohan22 what I mean by that is to put your component in the [design system page within the figma](https://www.figma.com/file/nS5IqnutUT2FuPwwJObHaY/Access-the-Data-Main-Figma?node-id=2%3A5). If you look at the example "forms--input field" that is the template you can use to detail out the component for a developer.
![image](https://user-images.githubusercontent.com/10827101/162263487-4e7e425

[2022-04-11 22:42] hannahsgr commented on #143
Progress: Made a destination chart outlining how many people selected a given location on the IA per question. I think I can start modifying the IA based on the results.
Blockers: Need to look up supplementary quant analysis methods
Availability: Will be available on Friday and the weekend to do additional analysis
ETA: Sunday

[2022-04-12 01:29] scho-git opened #150 "311 Data Slides: NC Comparison"
### Overview

We need to create content to the 311 workshop slides for an use case of what the audience can do with the data. This section will focus on a compare & contrast between two neighborhood councils (NCs) with regards to their bulky items request (and indirectly illegal dumping requests). One of NCs to be compared is Van Nuys NC since it has the highest count of bulky items requests.

###

[2022-04-12 01:38] scho-git opened #151 "311 Data Slides: Get ALPHA Tool Feedback"
### Overview

We need to create a section for one of the 311-data tools, ALPHA, to add to the workshop slides. It seems like the tool was initially made for a neighborhood council (NC) member. We need to identify the member and reach out to obtain feedback about the tool so that we can present it properly.

### Action Items

- [x] Reach out to Pras from the 311 team to ask about the NC member and

[2022-04-12 02:03] scho-git commented on #151
Reached out to Pras: Thomas from Echo Park NC (NC member) asked for an extract for the ALPHA tool which was provided, and there was no feedback after they followed up. After looking thru member names from the meeting minutes of Echo Park NC (EPNC) in 2020, it seems like it could be Thomas DeVoss who was Chief Information Officer. He's no longer on the NC (Liz Staley is the current CIO). So far, ha

[2022-04-12 02:27] scho-git opened #152 "311 Data Slides: City Outreach"
### Overview

We'd like to obtain a statement from the city of Los Angeles regarding their opinion on why citizens should self report 311 requests as opposed to the city identifying these issues. This statement would potentially go in hand with the current direction of our workshop slides (NC comparison story) where citizens self reporting bulky items requests may be beneficial to the city.

### A

[2022-04-12 02:36] scho-git commented on #152
Maryam Abbassi (maryam.abbassi@lacity.org), Assistant General Manager of the Customer Engagement Bureau, seems like the best person to reach out since the Customer Engagement Bureau provides external customer services like the 311 call center, so she may have a good insights of 311.

Otherwise, there's also Donna Arrechea who's the 311 Director (her number's listed in the phone directory and I'm a

[2022-04-12 18:36] ExperimentsInHonesty commented on #147
@kimberly-tellez The email is great.  Please feel free to reach out to organizations other than Neighborhood Councils with this message.  If you have neighborhood councils on your list we need to coordinate them with our department stakeholder (the Department of Neighborhood Councils).

[2022-04-12 19:58] lrchang2 commented on #70
## 2022 April 12 - PM Meeting

### AGENDA
_Timezones listed as PDT._

- [ ] 14:00 _10 minutes_ - Review any issues that are in the [new issue approval column](https://github.com/hackforla/access-the-data/projects/1#column-15402664) -
- [ ] 14:10 _10 minutes_ - Review issues with [epic label](https://github.com/hackforla/access-the-data/issues?q=is%3Aissue+is%3Aopen+label%3Aepic+) and define how to

[2022-04-12 20:23] lrchang2 commented on #33
Go through the issues and check to see if X is missing or assigned
size: 0/0
role: 0/0
feature: 0/0
 Go through the issues and check to see that there is a label missing:
size: 1/0
role: 0/0
feature: 0/0
Check to see if there are any issues not yet on the project
no project: 0/0
no milestone: 0/0

[2022-04-12 20:25] lrchang2 commented on #144
@mxajPrice close out?

[2022-04-12 20:26] lrchang2 commented on #149
@steffiekim Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of t

[2022-04-12 20:28] lrchang2 commented on #143
@hannahsgr please sharing your results with the team to get input as well, i think it would benefit everyone to hear what you're doing and others might have ideas for other quant analysis methods

[2022-04-12 20:28] lrchang2 commented on #109
closing issue since it's done

[2022-04-12 20:28] #109 closed

[2022-04-12 20:32] lrchang2 commented on #147
@kimberly-tellez Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures

[2022-04-12 20:37] lrchang2 commented on #94
- #144
- #149
- #147

[2022-04-12 20:52] lrchang2 commented on #99
@ExperimentsInHonesty can you pop the "proof of domain name registration" here so I can dispute the instagram disabling?

[2022-04-12 21:13] lrchang2 commented on #147
look into mail merge tool (through hackforla email) as seen used in the [internship project](https://github.com/hackforla/internship/issues/129) to automate and customize emails

[2022-04-12 21:30] lrchang2 commented on #99
Receipt for domain name: [accessthedata_billing.pdf](https://github.com/hackforla/access-the-data/files/8476682/accessthedata_billing.pdf)

[2022-04-12 22:06] lrchang2 commented on #63
## 2022 April 13 - Team Meeting

### AGENDA
_Timezones listed as PDT._
_Note: the Zoom room will close abruptly at the end-time of the meeting to accommodate another Hack for LA meeting._
- [x] 17:00  _10 minutes_- PM Updates - @lrchang2 & @mxajPrice
- [x] 17:10 _10 minutes_- Team updates: <br/>Design - @KaylenaNguyen <br/>Research - @melissamurphy <br/>Workshops - @MalakH21
- [x] 17:20  _15 minut

[2022-04-12 22:57] deepamohan22 commented on #123
@lrchang2

Progress :  Completed all 12  Tasks. Redesigned the text fields ( Desktop & Mobile Versions)
Blockers : No
Availability : 2 more days
<img width="457" alt="Acess the data screen shot final design system" src="https://user-images.githubusercontent.com/102125634/163067769-d40bf699-9d7d-45a6-a45e-3a7874d9c4a9.png">

ETA : 2 more days

[2022-04-12 23:05] steffiekim commented on #149
@lrchang2

Progress: "What is the current status of your project? What have you completed and what is left to do?"
[Things that are done]
- I have completed evaluating the github wiki content.
[Things to do]
- Evaluate website content
- Evaluate workshop materials content

Blockers: "Difficulties or errors encountered."
-Website flow is not ready for review
-Workshop materials are not ready for re

[2022-04-13 00:22] jjaylo opened #153 "Persona 1 Recruitment - Contact Community Leaders"
### Overview
Contact LA Community Leaders to set up and conduct informational interviews

### Action Items
- [x] Contact 5 community leaders from Recruitment List via LinkedIn
- [x] Follow up with 5 community leaders from Recruitment List via email
- [x] Determine informational interview questions
- [x] Get access to Hack for LA email

### Resources/Instructions
[ATD Persona 1 Recruitment Strategy

[2022-04-13 05:14] ri0nardo commented on #124
Progress: Currently organizing each padding and margin to match the individual color, so anyone (including a developer) can identify the sizing quickly. Also added an arrow depending on the direction of the margin or padding. (This portion is time-consuming). I am making both the mobile and web margins and padding sizes match.

Blockers: No blockers yet. Just very time-consuming.

Availability: I'

[2022-04-13 18:57] lrchang2 commented on #123
great work @deepamohan22! please bring to the design team to get feedback this week and if there are no improvements suggested to be made, please close out this issue and move onto a new one.

[2022-04-13 20:34] deepamohan22 commented on #123
@lrchang2
Thanks Lucy. Sure I will discuss with team.

[2022-04-14 03:53] KC243 commented on #119
Progress: In progress Action item 3 (will make new mockups of the header and footer based on the group feedback)
Blockers: none
Availability: 4-6
ETA: TBD based on group review of new mockups)
Pictures
![Landing 3](https://user-images.githubusercontent.com/101949454/163310470-9d94b2a6-2273-47dd-bc60-053a4c4d2d14.jpg)
![Landing 4](https://user-images.githubusercontent.com/101949454/163310488-d25154

[2022-04-14 05:57] steffiekim opened #154 "Research Plan: Data Enthusiast Persona"
### Overview
We need to create a research plan for understanding data enthusiasts—people who are interested in learning about data but do not have the knowledge yet

### Action Items

_1) Identifying Persona_
- [x] Familiarize with targeted persona in #90, [User Persona in Mini Presentation](https://docs.google.com/presentation/d/1C8GP1kzx_iimIYVSnfQTZR-8EEuyPP7Td6iTmywZIQk/edit#slide=id.gf6fed8a0

[2022-04-14 20:38] #144 closed

[2022-04-16 02:32] lrchang2 commented on #41
reopening to update wireframe colors

[2022-04-17 22:57] steffiekim commented on #154
Worked on the first action item: Familiarize with targeted persona in #90, [User Persona in Mini Presentation](https://docs.google.com/presentation/d/1C8GP1kzx_iimIYVSnfQTZR-8EEuyPP7Td6iTmywZIQk/edit#slide=id.gf6fed8a0bd_0_0) and [wiki page of prior research](https://github.com/hackforla/access-the-data/wiki/Prior-and-Ongoing-Research)

However, I had a difficult time identifying who the "data ent

[2022-04-18 00:38] bradyse commented on #148
**Progress**: Slide Review document is finished and located here: [https://docs.google.com/document/d/1fLUCQcMT30MLmvw3nLSVXp9p0iiOF0ZSKftEDaBtSOY/edit?usp=sharing](https://docs.google.com/document/d/1fLUCQcMT30MLmvw3nLSVXp9p0iiOF0ZSKftEDaBtSOY/edit?usp=sharing)
**Blockers**: None
**Availability**: I'm available during the evening hours this week.
**ETA**: I plan on meeting with data analysts Mond

[2022-04-18 23:21] mxajPrice commented on #70
## 2022 April 19 - PM Meeting

### AGENDA
_Timezones listed as PDT._

- [ ] 14:00 - Project plagiarism
- [ ] 14:10 -
- [ ] Review any issues that are in the [new issue approval column](https://github.com/hackforla/access-the-data/projects/1#column-15402664)

#### FYIs

#### Notes from meeting

#### Task Items

[2022-04-19 00:00] mxajPrice commented on #100
## 2022 March 21 - AtD Workshops Meeting

### AGENDA
_Timezones listed as PDT._
_Note: the Zoom room will close abruptly at the end-time of the meeting to accommodate another Hack for LA meeting._
- [ ] 17:00  _10 minutes_- Issues updates
- [ ] 17:00 _40 minutes_- Recorded run-through of slides - @scho-git

### NOTES

- In this meeting Stephanie and Malak worked on [Workshop 1: 311Data in Action](

[2022-04-19 00:29] hannahsgr commented on #143
Progress: Ashley asked to join this issue and we are now working together. Ashley created a chart to begin analysis of the destination charting data to identify which tasks need further testing and to ideate changes to the IA.
Blockers: None
Availability: I have 6 hours mostly on Thursday and Friday to work on this issue. I will begin analysis on Wednesday.
ETA: Saturday

[2022-04-19 00:45] bradyse commented on #148
**Progress**: Finished meeting with @scho-git and rest of Workshop team about slides. Bonnie updated my [review document ](https://docs.google.com/document/d/1fLUCQcMT30MLmvw3nLSVXp9p0iiOF0ZSKftEDaBtSOY/edit?usp=sharing)with answers to the questions.
**Blockers**: None
**Availability**: I'm available this week for additional issues.
**ETA**: Finished as of 4/18/2022

[2022-04-19 18:05] lrchang2 commented on #99
sent Instagram dispute form with billing and emailed photo confirmation requested, currently waiting for response for next steps

[2022-04-19 18:08] lrchang2 commented on #96
@KaylenaNguyen are you done with the carousel? if so, please update and close issue

[2022-04-19 19:40] lrchang2 commented on #147
@kimberly-tellez Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures

[2022-04-19 19:41] KaylenaNguyen commented on #96
Carousel is about finished. Waiting for layouts and grids to be complete so I can make the changes in sizing.
Color for carousel background will also be changed if Kevin changes the header and footer color, so colors are interchanging. Also looking for one more image for the first slide of the carousel on mobile. What I have now for the desktop doesn't fit right and looks off. I'm looking for an i

[2022-04-19 19:48] lrchang2 commented on #33
Go through the issues and check to see if X is missing or assigned
size: 0/0
role: 0/0
feature: 0/0
 Go through the issues and check to see that there is a label missing:
size: 0/0
role: 0/0
feature: 0/0
Check to see if there are any issues not yet on the project
no project: 0/0
no milestone: 0/0

[2022-04-19 19:49] lrchang2 commented on #94
- #147

[2022-04-19 19:53] lrchang2 commented on #96
great ok, im going to put this is ice box until kevin and randy finish their issues and you can take this out of it once theyre done and finish it up

[2022-04-19 19:56] lrchang2 commented on #153
@jjaylo do you still need help with email access?

[2022-04-19 20:00] mxajPrice commented on #142
We currently have a draft of the updated goals which needs to be finalized and approved by Bonnie.  Will discuss in today's PM meeting.

[2022-04-19 20:10] lrchang2 commented on #148
thank you for your work on this @bradyse, closing out issue

[2022-04-19 20:10] #148 closed

[2022-04-19 20:49] mxajPrice opened #155 "MONTHLY Planning Week"
### Overview
Prepare for and plan planning week.  What will the themes be and what are the major goals.  These sessions happen the first week of each month and include PMs, leads, and other key decision-making players.

### Action Items
This is an on-going, monthly task until v1 is complete.  Monthly duties include:

Monthly actions:
- [ ] Organize topics to be covered.
- [ ] Create slides to walk

[2022-04-19 22:40] kimberly-tellez commented on #153
Update: 15 people have been contacted via LinkedIn or Email, Joyce will have Informational Meeting tomorrow, 4/20/2022.
Next steps: I need to finalize the screener survey questions and survey, then I will start sending them out in community activist networks. I will continue doing the Informational Interview outreach, but that is going slow so I am moving forward with a 2 pronged approach of conti

[2022-04-20 01:06] LouismChan commented on #154
Hi Steffie, Great to join this team.  After looking over the existing slides, it looks like Data Enthusiasts are the community activists and prospective users who are interested in learning about/using data, may or may not be to the point of becoming Data Amateurs themselves.  So we need to find out who they are and what they want to do.  Maybe also need to find out why some community activists ar

[2022-04-20 05:12] ri0nardo commented on #124
Progress: Finished the paddings and margins with arrows showing the direction the paddings and margins go per item. I will create a library of colors and sizes used for padding and margins, so anyone reviewing will be able to look at the legend to recognize what size the color represents. Will call out the image sizing max size per area on the notes unless it would be better to label it with the m

[2022-04-20 22:11] mxajPrice commented on #63
## CANCELLED - 2022 April 20 - Team Meeting

_This week's meeting is being replaced with 1:1 meetings with team members as needed._

[2022-04-20 23:53] KC243 commented on #119
Progress: Action item 3 changed based on group feedback
Blockers: none
Availability: 4-6
ETA:  by 4/24th tentatively
Pictures:
![Header 1](https://user-images.githubusercontent.com/101949454/164343056-ab4147ef-10b8-490e-be3f-d9e085a14df4.jpg)
![Header 2](https://user-images.githubusercontent.com/101949454/164343065-6b785295-575a-49a0-aa68-ffd707df2208.jpg)
![Footer](https://user-images.githubuserc

[2022-04-21 16:10] Eevinjennings commented on #143
I will get caught up to speed this Friday. Still learning GitHub and finishing the end of this semester.

[2022-04-21 23:01] steffiekim commented on #154
@LouismChan Thank you for your comment! I agree that it's important to find out why someone would not want to do it as well as why someone would want to do it.

[2022-04-21 23:49] steffiekim commented on #154
1. Met with @LouismChan to go over where the current project is going and what this is about.

2. Met with @kimberly-tellez, @joyceeyang , @jjaylo, @Aparna1Gopal and @LouismChan and decided that the current issue will focus more on surveying the "data experience/expert" part while @kimberly-tellez's project focuses more on investigating the "interest in community activism."

Based on the discussio

[2022-04-22 00:42] LouismChan commented on #154
Very interesting diagram.  Maybe also use it to think dynamically: Data Enthusiasts are people who want to move up by learning more about data?  Maybe moving to the Northeast quadrant?

[2022-04-22 01:05] jjaylo commented on #153
@lrchang2 I apologize for the delayed response. I have gotten access to the email as of this evening.

[2022-04-22 06:49] Aparna1Gopal commented on #147
**Notes**
Was paired with Kim-Tellez to work on this issue by Lucy Chang, PM as a good first issue post Onboarding on April 19, 2022. Was introduced to Kim-Tellez by PM Lucy Chang via Slack. Will be meeting with all the UXRs currently working on the User Personas.

[2022-04-22 06:58] Aparna1Gopal commented on #147
UXRs meeting to discuss all User Personas on ATD.
https://github.com/hackforla/access-the-data/issues/154#issuecomment-1105862512

[2022-04-22 15:16] lrchang2 commented on #154
@steffiekim agree with Louis, the chart is great. The only thing that I would like to point out is that becoming data literate has a bit more nuisance in our context. Becoming data literate includes:
1. gaining knowledge about data and analytics
2. knowing what (open source/public) resources around  data and tools are available
3. knowing how to apply the knowledge and tools in the context of comm

[2022-04-22 23:06] Eevinjennings commented on #143
@hannahsgr @lrchang2 Please let me know what I should do next! (and also whether this is the right location to say/ask these kinds of things- still figuring this out!

[2022-04-23 00:28] Eevinjennings opened #156 "UX Writing for site IA"
### Overview
Help with writing/terminology for site navigation and identify blockers.

### Action Items
- [ ] Identify which materials were used (IA site map, interactive prototype, etc.)?
- [ ] Meet with @hannahsgr and @ashleyxz for background context/questions on 4/26
- [ ] Access dataset
- [ ] Confirm next steps

### Resources/Instructions
[Wiki](https://github.com/hackforla/access-the-data/wik

[2022-04-23 00:50] joycekyang opened #157 "Template for Internal Presentations"
### Overview
Template for Internal Presentations to use during meetings

### Action Items
[ ] Add a slide for **Highlights**, have replaceable text
[ ] Add a slide for **Highlights**, have replaceable text

### Resources/Instructions
[Template Deck Figma File](https://www.figma.com/file/8qlMlrbDMYFqSfDiWlMwzQ/Internal-Meeting-Template?node-id=0%3A1
)

[2022-04-23 01:14] joycekyang opened #158 "Informational Interviews"
### Overview
Template used for Informational Interviews (script/notes) with data experts (and data amateurs).

### Action Items
[ ] Attach example script for informational interview
[ ] Attach example notes during informational interview
[ ] Attach timeline (?)
[ ] Next steps: There is a need for an Informational website to show potential partners

### Resources/Instructions
**(1.) Script**
1. Tel

[2022-04-23 03:32] ashleyxz commented on #143
Progress: Discussed the findings and recommendations with Hannah. Co-created a report linked in the description.
Blockers: None

[2022-04-23 22:32] LouismChan commented on #154
Seems that a Data Expert/Amateur (Sr. Director, Research & Data Analysis at Advancement Project (CA)) doesn't know much about 311 Data: https://docs.google.com/document/d/1SyqoEeXFAyb3rfMfe3wMRdcVoVMtDgTAzx2ezQT5mKQ/edit

Below is just some background info on 311 data:
https://www.civisanalytics.com/blog/how-los-angeles-taps-its-311-call-data-to-bring-more-power-to-the-people-and-build-more-trust-

[2022-04-24 22:58] nikitashah14 commented on #151
Went through all NC meeting notes and did not find any mention of the ALPHA tool. I drafted an email for Thomas to ask whether he is familiar with this tool, and if so, if he can give us feedback so we can incorporate his input into our workshop.

Specifically, the email asks Thomas the following questions: Whether he is familiar with the ALPHA tool, what is the ALPHA tool used for, how has he use

[2022-04-25 23:23] steffiekim commented on #154
Created a research plan draft: [Data Enthusiast Persona Research Plan (Survey)](https://docs.google.com/document/d/1zwl3NNHpMZ5vFY24k4AU463b_HGIbtr-y3fyJ1G7mjM/edit?usp=sharing)

[2022-04-26 01:31] Eevinjennings opened #159 "Familiarize yourself project's historical work on user personas, user stories, and website's information architecture"

[2022-04-26 01:32] Eevinjennings commented on #145
@lrchang2 I accidentally converted the first action item into an issue and I'm not sure how to undo it 😅

[2022-04-26 01:55] Eevinjennings commented on #156
### Update
1. Materials used for tree test: [IA site map. ](https://www.figma.com/file/nS5IqnutUT2FuPwwJObHaY/Access-the-Data-Main-Figma?node-id=2%3A7)
2. Noted that "All content reference page" isn't part of tree.
3. Dataset shared in Slack - Destination map with counif fcn in Excel.
4. Hannah:

6. Lucy referenced issues #87 and #106 for future interest with UX Writing (will keep on backburner fo

[2022-04-26 02:19] hannahsgr commented on #143
Progress: Met with Ashley and identified issues with the IA and ideated solutions. Will be meeting with Ashley and Eevin to review solutions tomorrow.
Blockers: None
Availability: 6 hours
ETA: Friday

[2022-04-26 15:15] Aparna1Gopal commented on #147
Progress: "What is the current status of your project? What have you completed and what is left to do?"
Currently reviewing the Screener Survey before it is sent out to research participants
Working on expanding the research participant database
The item list currently being worked on is mentioned here: https://github.com/hackforla/access-the-data/issues/147#issuecomment-1106074562

- [ ] First re

[2022-04-26 20:51] mxajPrice commented on #70
## 2022 April 26 - PM Meeting

### AGENDA
_Timezones listed as PDT._

- [ ] 14:00 - Review current [Project Charter](https://docs.google.com/document/d/1C9hY1I5U-LIPGxNCcyQCbmP1WWWD8BIrkStqb0PiDOU/edit?resourcekey=0-LxTnFlQdrn1qH4VKQWMiJw)
- [ ] 14:10 - Planning for Scope - who needs to give input?
- [ ] 14:20 - Planning week
- [ ] 14:30 - Career/school/life updates

#### FYIs

#### Notes from mee

[2022-04-26 22:54] KC243 commented on #119
Progress: Completed
Blockers: none
Availability: 4-6
ETA: Completed
Pictures:
![Header- updates April 2022](https://user-images.githubusercontent.com/101949454/165405845-f4466405-4186-4331-8138-abe956154ad2.jpg)

![Footer-updated April 2022](https://user-images.githubusercontent.com/101949454/165405856-2e925bce-d004-480e-9e1b-420e24679bc0.jpg)

[2022-04-26 23:09] lrchang2 commented on #145
@Eevinjennings no worries, ive deleted it

[2022-04-27 01:21] ri0nardo commented on #124
Progress: Completed the margins, paddings, divider line, image sizing, states, class, use, context, and grid system per section of mobile and desktop. Started writing the CSS for the desktop and mobile. Did not get far. Noting that the components within the margins and paddings are not edited. If the text and images need to be within the margins, will need to clean up the desktop and mobile compon

[2022-04-27 01:41] steffiekim commented on #154
@lrchang2 reviewed [Data Enthusiast Persona Research Plan (Survey)](https://docs.google.com/document/d/1zwl3NNHpMZ5vFY24k4AU463b_HGIbtr-y3fyJ1G7mjM/edit?usp=sharing). I and @LouismChan edited the document based on the feedback. We replied to the comments and resolved the ones that are done. Comments history can be seen in the upper right corner of Google Docs for future references.

[2022-04-27 16:37] Eevinjennings commented on #156
### Update:
Met with Hannah and Ashley to ideate solutions for tree test results.

### Action Items:
- [ ] Run a few moderated interviews for some of the IA structure and terms.
- [ ] A/B tests for some of the alternative terms.
- [ ] Consolidate all of the different spreadsheets/materials into a single space for ease of reference/newly onboarded members.
- [ ] Share IA update with project teams o

[2022-04-27 16:52] Eevinjennings opened #160 "UX Writing & Content Style Guide"
### Overview
I need to reach out to other project members to learn about their directions, prior tests/results, and current status so that I am not lost during meetings. This is meant to be a longer-term issue.

### Action Items
- [ ] Reach out to Aubrey for meeting/collab
- [ ] Reach out to content team for consult about style guide
- [ ] Adopt/Form a writing style/guide

### Resources/Instructio

[2022-04-27 17:04] Eevinjennings opened #161 "UX Writing for Wireflows & User Flows"
### Overview
Lucy referenced #145 and said:

### Action Items
- [x] Examine issue 145.
- [x] Familiarize self with project's historical work on personas.
- [ ] Locate existing user flows
- [ ] Locate existing wireflows
- [x] Locate copy feedback referenced above.
- [x] Locate and analyze past usability tests/results.

### Resources/Instructions
Website User Flows and Wireflows #145
Website informa

[2022-04-27 17:44] mxajPrice opened #162 "Update Project information"
### Overview
We need to update and uniform our information and logos about AtD.

### Dependency
[#4566](https://github.com/hackforla/website/issues/4566)

### Action Items

- [x] Update [GitHub mainpage](https://github.com/hackforla/access-the-data)
- [x] Update [onesheet/overview](https://docs.google.com/document/d/1bWWhI0Zuas22sdEEDC6sSuRYZ3gXiBZ8LuyNUmD_s7o/edit?usp=sharing) and upload [here](h

[2022-04-27 17:46] mxajPrice commented on #162
@lrchang2 will be retiring the onesheet per Slack 27 April.

[2022-04-27 19:11] mxajPrice commented on #155
### Week of 2 May

### Agenda
## Day 1

## Day 2

## Day 3

### Action Items

[2022-04-28 00:28] mxajPrice commented on #63
## 2022 April 27 - Team Meeting

### AGENDA
_Timezones listed as PDT._
_Note: the Zoom room will close abruptly at the end-time of the meeting to accommodate another Hack for LA meeting._
- [x] 17:00  _10 minutes_- PM Updates - @lrchang2 & @mxajPrice
- [ ] 17:10 _5 minutes_- Citizen Engagement - @mxajPrice
- [ ]  17:15  _10 minutes_- Project Goals and Teams
- [ ] 17:30  _15 minutes_- Team Updates

[2022-04-28 02:25] LouismChan opened #163 "Research Plan: Data Expert Persona"
### **Overview**
We need to create a research plan for talking to data experts to understand how they would like to use their expertise to give back to their community.

### **Action Items**

- [x]  Familiarize with targeted persona in
    - [x] #90
    - [x] [User Persona in Mini Presentation](https://docs.google.com/presentation/d/1C8GP1kzx_iimIYVSnfQTZR-8EEuyPP7Td6iTmywZIQk/edit#slide=id.gf6fed

[2022-04-29 02:09] LouismChan commented on #163
[@Joyce Yang’s user interview](https://docs.google.com/document/d/1SyqoEeXFAyb3rfMfe3wMRdcVoVMtDgTAzx2ezQT5mKQ/edit) is a very useful user/field research piece that helps us understand a possible data expert user better.  He is a Senior Director of Research & Data Analysis who oversees data analysis and social justice research at a Community Activist organization.   But he doesn't know very much a

[2022-04-30 17:25] LouismChan commented on #163
@Aparna1Gopal @kimberly-tellez @joyceeyang @jjaylo @lrchang2 @steffiekim This [LA Data Platform group](https://datadriventechnologies.org/ladataplatform-usergroup/) and [here](https://www.meetup.com/los-angeles-data-platform/) may be a possible recruitment target.

[2022-04-30 23:13] LouismChan commented on #163
Working on this [Research Plan draft.](https://docs.google.com/document/d/1YINoBN6qJoKNi85yjUJDJmhR_4qlcXWyVqnIjqSMzoI/edit)

[2022-05-01 19:22] hannahsgr opened #164 "A/B Testing Information Architecture Labels"
### Overview
A/B test the labels of the information architecture of the website to identify which labels people would most commonly look under to find information.

### Action Items

- [x] Create an A/B test survey
- [x] Administer the survey
- [x] Analyze the results
- [x] Update the information architecture

### Resources/Instructions
https://github.com/hackforla/access-the-data/wiki
[IA Tree Te

[2022-05-01 19:30] #143 closed

[2022-05-01 22:43] nikitashah14 opened #165 "Empathy Map"
### Overview
I have recently conducted a usability test on @Eevinjennings using the updated website prototype, and will need to create an empathy map to illustrate the findings and inform UX design/UX writing decisions.

### Action Items
[ ] Watch usability test recording and complete excel sheet with relevant quotes and timestamps (see link below)
[ ] Identify specific quotes and actions from the

[2022-05-04 01:02] hannahsgr commented on #164
Progress: Created and administered survey. I will finalize analysis on Friday. I currently have 14 respondents and the data shows clear trends/"winners."
Blockers: None
Availability: 6 hours
ETA: Friday

[2022-05-04 17:45] Eevinjennings commented on #156
Update:
Hannah is analyzing the A/B test data.
Blockers:
Waiting on results to see what is next.

[2022-05-04 18:10] Eevinjennings opened #166 "Website Prototype Usability Test"
### Overview
I am going to run a usability test on @mmelovega on Thursday. I need to create a plan and organize the materials.

### Action Items
- [x] Have materials organized in one place
- [x] Practice beforehand
- [x] Record Zoom

### Resources/Instructions
[Usability Testing Notes Google Doc](https://docs.google.com/spreadsheets/d/1LSn9gwVv1VDBNDIgepzHkhBxr-W57RyVXv-jb8u6vDQ/edit#gid=0)
[Scrip

[2022-05-04 18:46] Eevinjennings opened #167 "UX Writing for Website Desktop Prototype"
### Overview
Based on several usability studies, I need to analyze and improve the copy on the website prototype.

### Action Items
- [x] Check copy on carousel
- [x] About page
  - [x] Cards
  - [x] About us

### Resources/Instructions
#87 (Goals for copy)
[Figma prototype](https://www.figma.com/file/nS5IqnutUT2FuPwwJObHaY/?node-id=2%3A16)
![image](https://user-images.githubusercontent.com/102377

[2022-05-05 02:22] nikitashah14 commented on #165
Progress: I completed the excel sheet and created a draft of the empathy map based on my interview with Eevin. I will be meeting with @melissamurphy this week to share my initial findings, and discuss whether she has any additional thoughts. Once this empathy map is finalized, I will begin to create an empathy map based on previous usability tests on the prior prototype in aggregate. The next step

[2022-05-05 03:40] hannahsgr opened #168 "Usability Test: Wiki's Information Architecture"
### Overview
Do a moderated usability tree test on the revised information architecture on a small group of people (4-6) to see how people navigate the site and find information.  The purpose of this usability test is to catch any problems people may encounter before launching another tree test to the HfLA community.

### Action Items

- [ ] Create a 1-1 usability testing script
- [ ] Create a tre

[2022-05-05 04:23] KC243 commented on #119
Progress: None (look into header and footer coloring)
Blockers: Lack of time this week
Availability: 4-6
ETA: 1-2 days
Pictures:

[2022-05-05 06:41] Aparna1Gopal commented on #147
Progress: "What is the current status of your project? What have you completed and what is left to do?"
Screener survey, my review and first draft of Screener complete. Workshopped with Kim to work on Draft 2 and finalize it ready for circulation

Blockers: "Difficulties or errors encountered."
Understanding the foundational needs of the screener. Will be collaborating and workshopping with Kim on

[2022-05-05 06:42] Aparna1Gopal commented on #147
**Notes:

Aparna G and Kim T met on May 04, 2022 5PM PST to discuss/workshop the Screener Survey**

Is the Screener Survey still applicable? Since the recruitment strategy now includes reaching out to potential research participant via LinkedIn/Email, then having an informational interview with them. Initially Screener Survey was to be sent after this stage. But since the informational interview a

[2022-05-05 06:45] Aparna1Gopal commented on #147
**Notes**

@Aparna1Gopal Tasks

- [ ] Expanding the research participant database. Researching and updating recruitment database.

https://docs.google.com/spreadsheets/d/1lE-0M2Fc9Njf71aG9wrlE5gXhyWh_hV1AnXEtKnu558/edit#gid=0

[Currently on hold? Based on last week’s ATD Meeting pertaining to citizen engagement, wherein it was mentioned a collective outreach would be preferable instead of individu

[2022-05-07 07:08] Aparna1Gopal commented on #145
**Additional Resources**

https://github.com/hackforla/access-the-data/issues/80

[2022-05-07 14:45] Aparna1Gopal opened #169 "Familiarize self with project's historical work on personas [Phase 1_Website User Flows and Wireflows]"
**Overview**

Phase 1 focusses on familiarizing oneself with the project's historical work on personas

**Action Items**

- [ ] Collect resources from UX/UI leads and review
- [ ] Review all databases related to ATD > GitHub, Google Drive, Figma, anything else..
- [ ] Collect Best Practices
- [ ] Review Best Practices
- [ ] Create simple Slide Deck with the primary information

[2022-05-07 14:56] Aparna1Gopal commented on #145
- This Issue is distributed into Phases
- Further details provided in the Research Plan.

[2022-05-10 00:23] mxajPrice commented on #70
## 2022 May 10 - PM Meeting

### AGENDA
_Timezones listed as PDT._

- [x] 14:00 - Managing Slack, how can we remove people from channels? - @mxajPrice
- [ ] 14:05 - Update email for forwarding AtD emails to aj - @mxajPrice
- [ ] 14:10 - Review WBS
- [ ] 14:20 - New meeting cadence
- [ ] 14:30 - Next steps: Modules WBS, old documentation clean-up, and

#### FYIs

#### Notes from meeting

#### Task

[2022-05-10 17:26] mxajPrice opened #170 "Kickoff Educational Modules"
### Overview
We need to scope and document the Modules project.

### Action Items

- [ ] Recruit a Project Manager to oversee tasks and schedule (update
- [ ] Create a WBS for Modules specific
- [ ] Gather requirements
- [ ] Meet with team to discuss subtasks, time estimations, and working sessions
- [ ] Create recurring working sessions for modules on the 1st and 3rd weeks of the month

Note: We

[2022-05-10 17:30] Aparna1Gopal commented on #145
Progress: "What is the current status of your project? What have you completed and what is left to do?"
Was assigned to this issue recently. Currently working on making the connections and collecting resources from UX/UI leads and reviewing work already completed & available in the databases.

Blockers: "Difficulties or errors encountered."
Newly assigned, so finding my way around and making certa

[2022-05-10 17:34] Aparna1Gopal commented on #169
https://github.com/hackforla/access-the-data/issues/145#issuecomment-1122678273

[2022-05-10 17:38] Aparna1Gopal commented on #169
**Tasks**

- [ ] Collect resources from UX/UI leads and review
- [ ] Review all databases related to ATD > GitHub, Google Drive, Figma, anything else..
- [ ] Collect Best Practices
- [ ] Review Best Practices
- [ ] Create simple Slide Deck with the primary information

[2022-05-10 18:44] mxajPrice opened #171 "Update Org Chart & roles"
### Overview
We need to update the Org Chart and Roles for v1 AtD

### Action Items
- [x] Update the Org Chart
- [ ] Create descriptions of each role

We updated the org chart during the May planning week, but now we need to make some descriptions for these roles, particularly for PM and lead roles.

### Resources/Instructions
- [Org Chart](https://docs.google.com/spreadsheets/d/1b97Np96EimkxicW83

[2022-05-10 21:51] lrchang2 commented on #162
one sheet has the archived

[2022-05-11 23:56] deepamohan22 commented on #41
@lrchang2 @KaylenaNguyen
Progress : Fixed the spacing and alignment issues on Hi fi wireframes (Desktop ).
Blockers : No
ETA        : 6 weeks.

[2022-05-12 01:00] bradyse commented on #147
**Notes**

After ATD Research breakout meeting on Wed 5/11, we determined that @joyceeyang needs to send out this survey to our most recent community activist contact (Chris). Once @Aparna1Gopal okays the edits from the Final Screener Survey, @bradyse will make the edits in the actual Google Form and send the link to Joyce to send out.

[2022-05-12 23:02] KC243 commented on #119
Progress: Redoing the header and footer based on research teams new IA
Blockers: none
Availability: 4-6
ETA: TBD
Pictures
![Updated Header](https://user-images.githubusercontent.com/101949454/168181049-e4bc7a81-ef31-4e21-8554-4517b501b9ae.jpg)
:

[2022-05-12 23:36] #161 closed

[2022-05-13 16:36] mxajPrice opened #174 "Off-board Melissa Murphy"
### Overview
Melissa Murphy's last day with AtD will be 12 May 2022.

### Action Items
- [x] Remove from Google calendar invite
   - [x] #141
- [x] WIKI
  - [x] move to new place on team page
  - [x] 1password setup
    - [x] remove from team vaults
       - [x] Access the Data - Data Literacy vault
       - [x] Zoom vault
- [x] Google Drive
   - [x] demote to viewer
- [x] Roster
  - [x] mark as i

[2022-05-13 16:40] mxajPrice opened #175 "Off-Board Jaisah Jaylo"
### Overview
Jaisah Jaylo's last day with AtD will be 13 May 2022.

### Action Items
- [x] Remove from Google calendar invite
   - [x] #141
- [x] WIKI
  - [x] move to new place on team page
  - [x] 1password setup
    - [x] remove from team vaults
       - [x] Access the Data - Data Literacy vault
       - [x] Zoom vault
- [x] Google Drive
   - [x] demote to viewer
- [x] Roster
  - [x] mark as ina

[2022-05-15 00:39] Eevinjennings commented on #167
@lrchang2 I left comments and a copyediting key in the prototype if you (or anyone else) wants to respond. You can find the frames I edited by locating the blue backgrounds.

[2022-05-15 08:33] Aparna1Gopal commented on #147
Progress: "What is the current status of your project? What have you completed and what is left to do?"
Screener Survey complete

Blockers: "Difficulties or errors encountered."
I had a blocker since I was not sure which direction to proceed with the Screener. Since this was a paired issue, there are multiple stakeholders required to take this decision.
I have Slack communicated with Lucy C, PM an

[2022-05-15 08:36] Aparna1Gopal commented on #147
@bradyse Please find the Final Screener Survey here https://docs.google.com/document/d/1PTEBRiPYWQarMyXMwCxGZy_OqW4qu5MSGfqCX7kZSxM/edit

@joyceeyang @lrchang2

[2022-05-15 19:56] LouismChan commented on #163
@lrchang2 Sent out [Data Expert Screener Survey](https://docs.google.com/forms/d/1Y5EVtnXi3lCpklEnU1IMAxl9FyFKGnwmaJTyqcplK1A/edit) to the Hack For LA slack data science channel and the [LA Data Platform group](https://datadriventechnologies.org/ladataplatform-usergroup/).  Already got back a couple of positive responses.

Gave @joyceeyang a copy of the screener survey to send out.

Contacted @akh

[2022-05-16 20:14] bradyse commented on #147
Made edits, had one more question about the required responding regarding the "General Questions" section. I asked Aparna in Slack about it. Once that is confirmed, then the survey is ready to go.

[2022-05-17 00:25] lrchang2 commented on #163
exciting! great work @LouismChan. look forward to seeing next steps

[2022-05-17 01:11] lrchang2 commented on #153
issue done

[2022-05-17 01:11] #153 closed

[2022-05-17 09:13] Aparna1Gopal commented on #147
@bradyse Noted and Done!

[2022-05-17 19:02] mxajPrice commented on #70
## 2022 May 17 - PM Meeting

### AGENDA
_Timezones listed as PDT._

- [ ] 14:00 - New meeting cadence
- [ ] 14:05 - Off-boarding:
    - [Melissa Murphy](https://github.com/hackforla/access-the-data/issues/174) (recruiters might be reaching out to verify her work on this project)
    - [Jaisah Jaylo](https://github.com/hackforla/access-the-data/issues/175)
    - Kaylena Nguyen
    - Kimberly Tellez

[2022-05-17 20:41] mxajPrice commented on #162
An issue has been submitted to VRMS:
[Update Project Profile: Access the Data #3153](https://github.com/hackforla/website/issues/3153)
I will check this off when this is completed.

[2022-05-17 20:44] mxajPrice commented on #162
Re: GitHub mainpage

A [push request with updates](https://github.com/hackforla/access-the-data/pull/173/files) is awaiting review from @lrchang2.  The calendar already needs to be updated.  I am not sure what we need to do to embed the new logo or the new calendar.

[2022-05-18 00:07] bradyse commented on #147
@joyceeyang Here is the link to the Screener Survey to send to Chris: https://forms.gle/8zA4j8tqwx4LceDX8

Thank you @Aparna1Gopal for your help!!

[2022-05-18 01:00] joyceeyang commented on #147
Got it! Thank you @bradyse and @Aparna1Gopal

[2022-05-18 01:58] LouismChan commented on #147
Hi Joyce (@joyceeyang ) This is the link for data experts: https://forms.gle/3ofdUikFkbBK5Vbf6.  Please send this link for data experts to Chris also.  Thanks.

[2022-05-18 19:49] LouismChan commented on #147
Thanks Joyce (@joyceeyang ), Chris Ringewald has filled out the Data Expert survey.

[2022-05-18 20:00] LouismChan opened #176 "Data Expert Persona Interview Script"
### Overview

Create a list of interview questions for the Data Expert Persona.

### Action Items

Ask open ended questions (like how questions instead of yes or no questions) to keep conversation going and create opportunities for the person to tell their stories to give critical insights and ideas.
A few tips to keep in mind:
• Don’t try to ask all of these, prioritize based on your research goa

[2022-05-18 23:18] KC243 commented on #119
Progress: Redoing the header and footer based on online research of footers and headers
Blockers: none
Availability: 4-6
ETA: TBD
Pictures:
![New Header Access the Data](https://user-images.githubusercontent.com/101949454/169170641-a91c8f2d-d452-4150-aac8-b711d19bcb8e.jpg)

![New Header with dropdown Access the Data](https://user-images.githubusercontent.com/101949454/169170646-a76e49d3-05aa-4d4f-

[2022-05-18 23:59] deepamohan22 commented on #126
@lrchang2
Progress : Completed 5 tasks.
Blockers : No
Question : Is this whole tasks only for Workshop page ?
Availability : 6 hrs.
 ETA       :  1week

[2022-05-19 00:04] #166 closed

[2022-05-19 00:05] #167 closed

[2022-05-19 00:51] Eevinjennings opened #177 "UX Writing Collab"
### Overview
I need a second pair of UX writer eyes to check out the comments I left and the changes I made to the prototype so that we can integrate them into the design and run tests on the new version.

### Action Items
- [x] Aubrey will look over my comments and edits on the prototype.
- [x] Aubrey will leave comments and let me know when she's done.
- [x] We will meet to discuss changes/quest

[2022-05-20 13:47] Aparna1Gopal commented on #145
Overview

Phase 1 focusses on familiarizing oneself with the project's historical work on personas

Action Items

  Collect resources from UX/UI leads and review
  Review all databases related to ATD > GitHub, Google Drive, Figma, anything else..
  Collect Best Practices
  Review Best Practices
  Create simple Slide Deck with the primary information

[2022-05-20 13:48] Aparna1Gopal commented on #145
Resource Library

Doing more UI (visual) competitive analysis + competitive flows + design recommendations
Previous work competed for ATD
https://www.figma.com/file/nS5IqnutUT2FuPwwJObHaY/Access-the-Data-Main-Figma?node-id=9%3A62

[2022-05-20 13:51] Aparna1Gopal commented on #169
Please refer to https://github.com/hackforla/access-the-data/issues/145 for progress updates

[2022-05-20 13:51] #169 closed

[2022-05-20 14:27] Aparna1Gopal commented on #169
@lrchang2 This issue needs to be deleted. Thanks!

[2022-05-20 18:45] Eevinjennings opened #178 "Link my files into the Wiki page"
### Overview
I need to make sure that all of the files/links I'm working with on this project are shareable and accessible in the new Wiki page.

### Action Items
- [ ] Locate all of the crap
- [ ] Put it into the Wiki
- [ ] Profit.

### Resources/Instructions
N/A

[2022-05-20 20:22] LouismChan commented on #163
Steve Rezhener [@SteveRezhener](https://twitter.com/SteveRezhener) from [LA Data Platform group](https://datadriventechnologies.org/ladataplatform-usergroup/) responded and agreed to do a social media post of the screener survey.

[2022-05-20 23:32] steffiekim commented on #154
Created [Data Enthusiast Persona Survey Questionnaire](https://docs.google.com/document/d/1c90PcsDjI3UCYdaGh-aHZQ6KjVrDvy1rGxkcXSMAGLE/edit?usp=sharing) and started working on crafting questions

[2022-05-21 16:46] steffiekim commented on #154
Complete the first draft of [Data Enthusiast Persona Survey Questionnaire](https://docs.google.com/document/d/1c90PcsDjI3UCYdaGh-aHZQ6KjVrDvy1rGxkcXSMAGLE/edit?usp=sharing)

[2022-05-22 15:49] LouismChan commented on #176
Drafted [Google Docs: Data Expert Persona Interview Questions](https://docs.google.com/document/d/1x1oVsE6weOIgK1Da9u_SXagvTr8mBcZTwn4fhg551j8/edit).  Ready to schedule and conduct interviews.  @mmelovega thanks.

[2022-05-24 15:15] Aparna1Gopal commented on #145
**TEMPLATE FOR PROJECT PROGRESS**

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the visual changes made to the site so far."

If yo

[2022-05-24 16:23] bradyse opened #179 "Create Wiki for Community Persona Activist"
### Overview
The purpose of this issue is to create a wiki page for the Community Persona Activist (formerly called Persona 1).

### Action Items
The following items need to be updated in the wiki page:
- [ ] Assets (collate all related issues and research plan)
- [ ] Scripts
- [ ] Recruitment Strategy

### Resources/Instructions
[Research Plan](https://docs.google.com/document/d/1yayDQm-WFxm63PKH

[2022-05-24 18:57] mxajPrice opened #180 "Initial meeting with LA Counts"
### Overview
Set up initial meeting with LA Counts organizers.

### Action Items

- [ ] Schedule initial meeting with LA Counts
- [ ] Create an agenda/list of questions we have
- [ ] Meet with LA Counts

@lrchang2 has been in contact with LA Counts and will be setting up a meeting with them, herself, @mxajPrice , and @nyarly.

### Resources/Instructions
- [LA Counts site](https://www.lacounts.org/

[2022-05-24 21:40] lrchang2 commented on #111
took off open roles for UX/UI designer from board

[2022-05-25 01:13] LouismChan commented on #176
@AubreySchiavone, @joycekyang, and @mmelovega will schedule and conduct interviews.  Thanks.

[2022-05-25 05:46] Aparna1Gopal commented on #145
**RESOURCE LIBRARY - BEST PRACTICES**

[2022-05-25 05:48] Aparna1Gopal commented on #145
**REFERENCE MATERIALS - WORK COMPLETED WITHIN ATD**

[2022-05-25 06:13] #147 closed

[2022-05-25 06:34] Aparna1Gopal opened #181 "Create Wiki for Website User Flows and Wireflows"
### Overview
The purpose of this issue is to create a Wiki page for the ATD Research Website User Flows and Wireflows

### Action Items

The following items need to be updated in the wiki page:

- [ ]  Assets (collate all related issues and research plan)
- [ ]  Resource Library (of Best Practices & relevant research/design/writing work completed previously completed at ATD
- [ ]  Ongoing Progress

[2022-05-25 06:42] Aparna1Gopal commented on #181
PROJECT PROGRESS

Progress: "What is the current status of your project? What have you completed and what is left to do?"
The Wiki has been created and updated

Blockers: "Difficulties or errors encountered."
None

Availability: "How much time will you have this week to work on this issue?"
Ongoing, based on resources relevant to the Issue #145

ETA: "When do you expect this issue to be completed?

[2022-05-25 20:42] mxajPrice commented on #155
### Week of 2 May

Topics:
-

### Agenda
#### Day 1

#### Day 2

#### Day 3

### Action Items

### Notes

Lucy is moving this week and our leads are new to their roles/team.  I will aim to make this week a working week for PM work and to have a short meeting with leads.

[2022-05-25 21:27] mxajPrice commented on #70
## 2022 May 24 - PM Meeting

### AGENDA
_Timezones listed as PDT._

- [ ] 14:00 - New meeting cadence
- [ ] 14:05 - Off-boarding:
    - [Melissa Murphy](https://github.com/hackforla/access-the-data/issues/174) (recruiters might be reaching out to verify her work on this project)
    - [Jaisah Jaylo](https://github.com/hackforla/access-the-data/issues/175)
    - Kaylena Nguyen
    - Kimberly Tellez

[2022-05-25 21:57] mxajPrice commented on #63
## 2022 May 25 - DEMO DAY

### AGENDA
_Timezones listed as PDT._
_Note: the Zoom room will close abruptly at the end-time of the meeting to accommodate another Hack for LA meeting._
- [ ] 17:00  _5 minutes_- Into to Demo Day- @lrchang2 & @mxajPrice
- [ ] 17:05 _15 minutes_- Demos:
    - [ ] Personas - Lead by @lrchang2
    - [ ] Website - Lead by @KC243
- [ ]  17:20  _30 minutes_- Games and Social

[2022-05-25 23:49] KC243 commented on #119
Progress: Redoing the header and footer based on online research of footers and headers
Blockers: none
Availability: 4-6
ETA: TBD (I'm prototyping out the menus on both desktop and mobile.)
Current progress can be seen here: https://www.figma.com/proto/ogRwU7dOorqIlORIoHsFiQ/Header-and-Footer-Comparison?node-id=186%3A263&scaling=contain&page-id=0%3A1&starting-point-node-id=186%3A263&show-proto-sid

[2022-05-26 07:17] Aparna1Gopal commented on #145
****RESOURCE LIBRARY ---- RESEARCH PLAN**

[2022-05-26 23:38] lrchang2 commented on #123
reopening issue to add drop down for subject field

[2022-05-26 23:48] #177 closed

[2022-05-26 23:51] Eevinjennings opened #182 "Error 404 page"
### Overview
We need to make an Error: 404 page for the website.

### Action Items
- [x] Create an image with brand design.
- [x] Create copy for the error message.

### Resources/Instructions
N/A

[2022-05-31 18:06] #126 closed

[2022-06-05 02:54] steffiekim commented on #154
1.  Edited [Data Enthusiast Persona Survey Questionnaire](https://docs.google.com/document/d/1c90PcsDjI3UCYdaGh-aHZQ6KjVrDvy1rGxkcXSMAGLE/edit?usp=sharing) based on @lrchang2's feedback. [One more comment left to address]
2. Created [Social Media Recruitment Language](https://docs.google.com/document/d/1QYWgl0s3pPKBnwEcTrkGbVXtRyGB4fDvJ3K8gjAHT7A/edit?usp=sharing)

[2022-06-06 07:51] Aparna1Gopal commented on #145
PROJECT PROGRESS

Progress: "What is the current status of your project? What have you completed and what is left to do?"

Completed the following:
- [ ] Research Plan
- [ ] Identified resources pertaining to this issue and documented it under RESOURCE LIBRARY
- [ ] Contacted the internal stakeholders [UX Designers, UX Writers, UX Researchers, Design and Research Leads of ATD] to collate all infor

[2022-06-07 17:06] #182 closed

[2022-06-08 05:15] steffiekim commented on #154
Backlogged for now

[2022-06-08 05:28] steffiekim opened #183 "Identifying and Optimizing Data Sources"
### Overview
We need to reorganize data sources complied by a data analyst before, optimize search, and test a low-fi mockup.

### Action Items

- [x] Create proof-of-concept with 10 data resources
- [x] Understand how CKAN grabs metadata (what kind of data they grab)
    - [x] Talk to tech lead about CKAN metadata
- [x] Talk with the research team and understand what the community activists want

[2022-06-08 19:25] mxajPrice commented on #63
## 2022 June 8 - Team Meeting

### AGENDA
_Timezones listed as PDT._
_Note: the Zoom room will close abruptly at the end-time of the meeting to accommodate another Hack for LA meeting._
- [ ] 17:00  _10 minutes_- Planning Week - @lrchang2 & @mxajPrice
- [ ] 17:10 _5 minutes_- Project Breakouts: How did it go?
- [ ]  17:15  _10 minutes_- Team Updates:
    - [ ] Research - @mmelovega
    - [ ] Desig

[2022-06-08 23:41] tsiedesign commented on #54
- Progress: Possibly completed, needs to be reviewed
- Blockers: N/A
- Availability: Available to work as needed
- ETA: 6/11/22
- Comments: Noted 2 different typefaces for footer (mobile vs web), contrast for white and terracotta do not pass accessibility checks.

[2022-06-09 22:27] mxajPrice commented on #183
Adding [here](http://docs.ckan.org/en/2.9/user-guide.html#adding-a-new-dataset) the link Judson shared on CKAN datasets.

[2022-06-13 20:32] bradyse opened #184 "Community Activist Screener Survey Recruitment"
### Dependencies

Recruitment/outreach of community advocate and expanding the database https://github.com/hackforla/access-the-data/issues/193

### Overview
We need to continue the recruitment for the Community Activist Persona screener survey so that we can interview users who are community activists.

### Action Items

- [x] Using [Initial Contacts Spreadsheet](https://docs.google.com/spreadshe

[2022-06-13 20:40] bradyse commented on #184
### At-Channel Recruitment Message

📊 Access the Data team is looking for individuals to interview and connect with to learn more about accessibility to city data.

🏙 We'd love to learn more about people in our communities that are doing community work. This short survey will help us in finding community members to talk to and gain insights for building out an easy-to-navigate website of LA's open

[2022-06-13 20:59] bradyse commented on #184
### Email Template

Hi **(Contact Name)**,

I’m **(HfLA Name)**, a member of [Hack for LA’s](https://www.hackforla.org/#) [Access the Data](https://www.hackforla.org/projects/access-the-data.html) research team. Our goal with the Access the Data project is to help people make data-driven decisions that impact government policies by partnering with community activists and by providing free and open

[2022-06-13 21:42] mxajPrice commented on #70
## 2022 June 13 - PM Meeting

### AGENDA
_Timezones listed as PDT._

- [ ] 14:00 - Access the Access the Data - permissions for PMs
    - Email
    - Slack
- [ ] 14:05 - H4LA Organization (volunteer meetings? Team Leads meetings?)
- [ ] 14:10 - The Darren bottleneck- how do we remove it? Can we make a guide on what makes an acceptable container for H4LA to help bypass?
- [ ] 14:05 - Off-boarding:

[2022-06-13 21:48] mxajPrice commented on #170
This issue is on hold until at least v2.

[2022-06-13 22:17] mxajPrice commented on #64
This agenda is no longer needed now that the Design and Research teams have separated.

[2022-06-13 22:17] #64 closed

[2022-06-13 22:18] mxajPrice commented on #100
With workshops on hold until further notice, I am closing this issue.

[2022-06-13 22:18] #100 closed

[2022-06-15 00:39] bradyse commented on #176
Progress: @AubreySchiavone is scheduling more interviews.
Blockers: @AubreySchiavone needs to be onboarded to ATD's GitHub so that she can assign herself to the issue.
Availability: @AubreySchiavone has availability over the next two weeks.
ETA: @lrchang2 needs to add Aubrey to the ATD membership

[2022-06-15 00:50] AubreySchiavone opened #185 "Interviews for Data Expert Persona"
### **Overview**
Contact Data Experts to set up and conduct informational interviews

### **Action Items**

- [ ] Get access to Hack for LA's Access the Data email
- [ ] Contact 5 Data Experts from survey responses to schedule interviews
- [ ] Determine informational interview questions for each interviewee using survey responses to inform questions for each interviewee

### **Resources/Instructio

[2022-06-15 00:57] AubreySchiavone commented on #185
Data Expert Interviews as of 6/14/22

- M.M.: interviewed by Mariana
- R.B.: Interviewed by Aubrey
- C.R. (already interviewed by Joyce and Sara as community activist, but he actually fits better into the Data Expert persona): Aubrey will reach out to and interview C.R. using Joyce’s previous email
- H.D: Aubrey has reached out to H.D over email; will reach out over Slack as well
- H.K.: Aubrey wi

[2022-06-15 01:06] AubreySchiavone commented on #185
If anyone else would like to conduct one of the remaining three interviews (with C.R., H.D., or H.K.) that would be great.

[2022-06-15 01:10] AubreySchiavone commented on #185
Interview questions posted in #176 but need to be individualized for each remaining interviewee (based on that interviewee's response to survey questions).

[2022-06-15 01:57] LouismChan commented on #176
@lrchang2 please approve/move this issue to In Progress.  Thanks.

[2022-06-15 05:38] #163 closed

[2022-06-15 14:33] Aparna1Gopal commented on #145
Progress: "What is the current status of your project? What have you completed and what is left to do?"

- [ ]   Review collected Best Practices
- [ ]   Identify appropriate methods to deploy next steps
- [ ]   Research Plan (Ongoing)
- [ ]   Create appropriate interview scripts for each method
- [ ]  Contacted UX Writers and Designers on the project. Conducting short internal stakeholder intervie

[2022-06-15 23:53] mxajPrice opened #186 "Onboard Mano Sakayan - UX Research"
### Overview
Onboard Mano Sakayan as a UX Researcher.

### Action Items
- [x] Slack channel membership
  - [x] #access-the-data
  - [x] #access-the-data-research
- [x] Add to Google calendar invites
   - [x] #141
- [x] Google Drive
   - [x] Add to drive as Contributor
- [x] Roster
  - [x] Send link
  - [x] Team member adds themselves
- [ ] GitHub
     - [x] Add to team write team
     - [ ] Check

[2022-06-16 00:41] bradyse commented on #186
@lrchang2  @lrchang2  Mano's GitHub handle is @manosak

The first task for Mano is to begin working on the Data Expert Interviews with @AubreySchiavone

[2022-06-16 01:01] steffiekim commented on #183
- Met with @scho-git and @lrchang2 to talk about the scope of the project and distribute work
- Created [Catalogue of LA Geo Data](https://docs.google.com/spreadsheets/d/1x9f0HSinKudyHcHeoeGc0H0msB086e36cRcpk-sDYS0/edit#gid=0)

[2022-06-17 00:12] Eevinjennings opened #187 "Make testable live website"
### Overview
In order to progress with research and design choices, we need a basic website for users to interact with. I will make this using some tools.

### Action Items
- [ ] Decide which platform I will use.
- [ ] See if I'm able to share design editing options with teammates.
- [ ] Make the site.
- [ ] Work with @Aparna1Gopal and @lrchang2 to integrate Microsoft Clarity, Google Analytics, an

[2022-06-17 06:00] nyarly opened #188 "Starting website workspace"
### Overview

As a starting point, and point of focus for developers, create a first cut CKAN application instance and Dockerfile for hosting.

### Action Items
- [ ] build the existing Dockerfile from https://github.com/okfn/docker-ckan-lacounts
- [x] find a home for the Dockerfile in hackforla
- [ ] first pass clearing out the lacounts branding

[2022-06-17 06:22] Aparna1Gopal commented on #185
**Notes for HK Interview:**
(Scheduled and conducted by @Aparna1Gopal)

H.K Survey Responses
https://docs.google.com/forms/d/1Y5EVtnXi3lCpklEnU1IMAxl9FyFKGnwmaJTyqcplK1A/edit#response=ACYDBNhhY3WJYjsr-m-94ux-47ixNTtWahof2byPJ3ju1Gb90PO5wJB-aQ1-MzzDLYPjuLc

Instructions from Slack:
Hi Aparna, thanks so much. If you can schedule and conduct an interview with H.K. (Henry Kaplan) that would be great.

[2022-06-17 06:39] Aparna1Gopal commented on #145
**Notes**

**Access the Data Figma Files**

https://www.figma.com/proto/nS5IqnutUT2FuPwwJObHaY/Access-the-Data-Main-Figma?node-id=4665%3A19504&scaling=contain&page-id=2%3A16&starting-point-node-id=4665%3A19504&show-proto-sidebar=1

https://www.figma.com/files/project/29582752/Access-The-Data?fuid=1100942504337383164

Figma Prototype
https://www.figma.com/file/nS5IqnutUT2FuPwwJObHaY/Access-the-Data

[2022-06-17 06:52] Aparna1Gopal commented on #187
@Eevinjennings Is this something we can look at? To make the process of creating a live website simpler? Embedding our existing Figma prototype into a live website tool?

https://www.figma.com/prototyping/
Under: Other ways to use Figma prototypes
Interact with live prototypes in Notion or Dropbox
Integrate with third-party prototyping tools

https://www.figma.com/blog/introducing-figmas-live-embe

[2022-06-17 07:27] #175 closed

[2022-06-17 07:28] #174 closed

[2022-06-17 07:50] mxajPrice commented on #186
Hi @mmelovega , will Mano be using Figma?

[2022-06-17 07:57] mxajPrice opened #189 "Clean-up Wiki and archive outdated documentation"

[2022-06-17 08:04] mxajPrice opened #190 "Clean-up Figma and Wiki and Archive outdated documentation"
## OVERVIEW
Our github wiki and Figma has a lot of outdated information that needs to be updated, cleaned up and organized.

## ACTIONS
- [x] Wiki Cleanup
   - [x] Organize existing pages
   - [x] Go through each page and add context and clean up any outdated materials
   - [ ] Create pages that allow people to easily find guides/systems and product progress
- [ ] Figma Cleanup
   - [ ] Archive ou

[2022-06-17 08:10] mxajPrice commented on #190
@KC243 We talked about this at the last planning week.  Let me know if you have any questions.

[2022-06-18 08:13] Aparna1Gopal opened #191 "Competitive analysis (unmoderated usability testing) of CKAN websites - Userflows"
### Overview

- Conducting a Competitive Usability Evaluation of existing CKAN Websites
- Testing the user flows of specific user personas (data expert and data novice)
- Related to Issue: Website User Flows and Wireflows #145
- Related to Issue: Gap Analysis for current User Flows #192

### Action Items

PHASE 1
- [x] Identify the CKAN competitor websites to conduct the tests (3-5 websites) (Show

[2022-06-18 08:18] Aparna1Gopal commented on #145
Progress:
Progress on this issue via https://github.com/hackforla/access-the-data/issues/191

[2022-06-18 08:27] Aparna1Gopal opened #192 "Benchmarking task flows of data points [by conducting a comparative analysis of CKAN websites]"
### Dependencies

- #191

### Overview
- Identify all existing data points across CKAN websites (both Government & Enterprise) for benchmarking
- Conduct a gap analysis of existing current AtD website (pre CKAN additions)
- Related to Issue: Website User Flows and Wireflows https://github.com/hackforla/access-the-data/issues/145

### Action Items

Comparative Analysis of CKAN websites
- [x] Identi

[2022-06-20 22:37] #1 closed

[2022-06-20 22:39] mxajPrice commented on #4
@lrchang2 can we close this?

[2022-06-21 00:49] bradyse opened #193 "Recruitment/outreach of community advocate and expanding the database"
### Overview

- We need to expand the community advocate recruitment to get people to complete the screener survey and/or sign-up for the (one-on-one, in-depth,qualitative) Interviews

- We need to recruit 5 research participants (community advocates) to assess the needs and pain points of this persona as we re-design the website based on CKAN

### Action Items
- [x] Based on the methodology, fina

[2022-06-21 00:50] bradyse commented on #184
**2022.06.20 Update**

@joycekyang emailed several community activists from spreadsheet.
Created #193 to better target HfLA projects that are involved with Citizen Engagement.

[2022-06-21 02:56] Aparna1Gopal commented on #191
**Notes:**

Competitor websites identified based on PMs' product vision. Contacted PM (Lucy C & AJ) via Slack. Below are the websites to be tested on:

https://africaopendata.org/
https://hri.fi/en_gb/
https://data.gov/
https://data.humdata.org/

I am going to be adding https://data.gov.sg, as well due to their active use of iconography/favicons on their website.

[2022-06-21 07:21] Aparna1Gopal opened #194 "Create Wiki for Research Plan Assets_Website User Flows and Wireflows #181"
### Overview
The purpose of this issue is to create a Wiki page for all Research Plan assets of the Website User Flows and Wireflows Issue
There are different research plans at different stages of this issue, and this Wiki will be used to capture and keep track of all assets related to this progress

### Action Items
Formulate Research Plans
Update Wiki
Provide Links to appropriate Research Plans

[2022-06-21 16:31] Eevinjennings commented on #187
@Aparna1Gopal Good idea, but this only allows you to embed the viewable file like a PDF. While we could technically track users' behaviors with heatmapping, I'm not sure what we'd be able to get out of the analytics. That being said, we can totally try it! I've put an example of the embed on the site if you want to check it out: https://access-the-data.webflow.io/figma-embed

[2022-06-21 18:53] nyarly commented on #188
@mxajPrice

Blockers here:
- [ ] We need a repo for the accessthedata CKAN extension, as forked from lacounts
- [ ] I'll build the Dockerfile out there, but there's no guide about what makes for acceptable dockerfiles for Hack4LA

This repo could be used for the CKAN extension, but we'd lose the history of the original code, which might be really useful later.

We could be build the Dockerfile to

[2022-06-21 21:09] lrchang2 commented on #119
@KC243
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the vi

[2022-06-21 21:10] lrchang2 commented on #54
@tsiedesign
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of t

[2022-06-21 21:12] #101 closed

[2022-06-21 21:14] #4 closed

[2022-06-21 21:19] #140 closed

[2022-06-21 21:27] deepamohan22 commented on #41
@lrchang2

I have completed the tasks( fixed the spacing and alignment issues on Hi Fi Desktop) assigned to me by Keylena. I think Kevin  forgot to remove me from here. I got another issue to work on from Yesterday's meeting.

[2022-06-21 21:30] #118 closed

[2022-06-21 21:35] #75 closed

[2022-06-21 21:35] #80 closed

[2022-06-21 21:36] #68 closed

[2022-06-21 21:36] #92 closed

[2022-06-21 21:38] #122 closed

[2022-06-21 21:38] #125 closed

[2022-06-21 21:42] #149 closed

[2022-06-21 21:47] lrchang2 commented on #157
@joycekyang issue needs more information and a role and size tag to be moved to the prioritized backlog. if you are still doing this work, please add more details, thanks!

[2022-06-21 21:49] lrchang2 commented on #164
@hannahsgr are you still doing a/b testing for the info architecture or has this been pivoted to usability testing? if you are still working on this, please provide update, thanks!

[2022-06-21 21:50] lrchang2 commented on #168
@hannahsgr how is this different from #164 and is it needed?

[2022-06-21 21:56] #74 closed

[2022-06-21 21:57] #42 closed

[2022-06-21 21:57] #78 closed

[2022-06-21 21:58] #87 closed

[2022-06-21 21:58] #8 closed

[2022-06-21 21:59] #130 closed

[2022-06-21 21:59] #96 closed

[2022-06-21 22:00] #154 closed

[2022-06-21 22:16] joycekyang commented on #157
Hi Lucy,

How do we close issues? If possible can you close this issue?

Joyce

On Tue, Jun 21, 2022 at 2:47 PM Lucy Chang ***@***.***> wrote:

[2022-06-21 22:17] joycekyang commented on #158
Hi Lucy,

We have stopped doing informational interviews for the time being.

Joyce

On Tue, Jun 21, 2022 at 2:48 PM Lucy Chang ***@***.***> wrote:

[2022-06-21 22:54] lrchang2 commented on #157
closing issue

[2022-06-21 22:54] #157 closed

[2022-06-21 22:54] lrchang2 commented on #158
closing issue

[2022-06-21 22:54] #158 closed

[2022-06-22 00:46] KC243 commented on #119
Progress: Components changed in mobile version to reflect changes agreed upon by the design team
Blockers: none
Availability: 4-6
ETA: TBD (based on looking at CKAN websites, we will need to add a search bar to the header on both versions)

[2022-06-22 00:49] KC243 opened #195 "Add a search bar function to the header"

[2022-06-22 03:27] Aparna1Gopal commented on #187
@Eevin Good job! I am just excited seeing it live! At least it is interactive and gives us the framework to test with outside users, unmoderated.  We could start with testing on small tasks and features for the user flows and IA. Thank You!

Now we just need to figure out how we could embed Hotjar/Analytics/other testing tools to this.

Once the new direction for data sources (CKAN) are decided an

[2022-06-22 06:26] steffiekim commented on #183
Finished cataloging the first 10 entries for the "Health" category in https://docs.google.com/spreadsheets/d/1x9f0HSinKudyHcHeoeGc0H0msB086e36cRcpk-sDYS0/edit#gid=0

[2022-06-22 14:42] Aparna1Gopal commented on #145
Progress: "What is the current status of your project? What have you completed and what is left to do?"

Working on the following related Issues: (Resources and progress are interconnected)
https://github.com/hackforla/access-the-data/issues/191
https://github.com/hackforla/access-the-data/issues/192
Website User Flows and Wireflows #145
Currently set up GitHub issues and relevant resources to sta

[2022-06-23 00:41] bradyse commented on #193
Notes from AJ:

Citizen Engagement
https://www.hackforla.org/citizen-engagement
[311 Data](https://www.hackforla.org/projects/311-data)
16.8: Broaden and strengthen the awareness and participation of City and local communities, especially those traditionally underserved and marginalized, in the institutions of local and global governance.
PM: [Eric Cho](https://hackforla.slack.com/team/U02E95SPK4N

[2022-06-23 01:03] steffiekim commented on #183
-Met with the persona team to talk about what the community activists look for when searching for open-source data

Community Activist Screener Survey https://github.com/hackforla/access-the-data/issues/184
Community Activist Screener Survey (expanding recruitment) https://github.com/hackforla/access-the-data/issues/193
Interviews for Data Expert Persona https://github.com/hackforla/access-the-dat

[2022-06-23 01:43] mxajPrice commented on #70
## 2022 June 28 - PM Meeting

### AGENDA
_Timezones listed as PDT._

- [ ] 14:00 - Development blockers #188
- [ ] 14:10 - Finalize [One Sheet](https://docs.google.com/document/d/17yzHv1Jx5Vf_QAHtgBZ0slU3no9BXneEB8GJscyKlpE/edit#)
- [ ] 14:30 - Prep for Demo Day tomorrow (games, presenters)
- [ ] 14:40 - Prep planning week agenda
- [ ] 14:45 - Review [Roster](https://docs.google.com/spreadsheets/d

[2022-06-23 07:22] Aparna1Gopal commented on #191
**Notes:**

Access the Data Website:
http://accessthedata.org

Access the Data Test website (Figma embed in Userflow website tool):

[2022-06-23 07:54] Aparna1Gopal commented on #185
**Notes for HK Interview:
(To be scheduled and conducted by @Aparna1Gopal)**

- Worked with PM to receive access to Access the Data gmail.
- Set-up Calendly account for Access the Data for one-on-one/group interview scheduling. Can use Access the Data's Gmail to sign-in and use Calendly.
- Contacted HK regarding setting up interview. Awaiting response

[2022-06-23 23:23] lrchang2 commented on #41
great, closing issue

[2022-06-23 23:23] #41 closed

[2022-06-24 23:01] Eevinjennings commented on #187
@Aparna1Gopal It's not difficult at all! Webflow has some great tutorials on how to do a custom embed with Figma 👍

As for Analytics and Clarity, we will need to make a code that I can paste into the HMTL on each page. I learned how to do it by following the step-by-step instructions on Analytics and Clarity 😀 I'll just need the embed code for the HTML head once you've got it setup.

[2022-06-26 08:05] Aparna1Gopal commented on #187
@Eevinjennings Thanks! I will check out these Webflow tutorials for the custom embed :)

I have no clue how 'the embed code for the HTML head' would work including 'making the code.' I will need to do a deep dive into the step-by-step tutorial as well!

[2022-06-28 02:06] Aparna1Gopal commented on #185
**Notes for HK Interview:
(To be scheduled and conducted by @Aparna1Gopal)**

- Contacted HK on Jun 23,2022 (5 days ago). Have not heard back yet. Will wait for a few more days on this one.
- After which, will discuss with Data Expert research team and Research Lead on next steps.

[2022-06-29 18:06] mxajPrice commented on #186
Mano will not be needing access to Figma.

[2022-06-29 23:59] mxajPrice commented on #188
@nyarly can you add a size label to this?

[2022-06-30 00:52] scho-git commented on #183
Finished cataloging another combined 10 datasets from [NYC Open Data](https://opendata.cityofnewyork.us/) [311](https://data.cityofnewyork.us/browse?Dataset-Information_Agency=311) and [Dept. of Education](https://data.cityofnewyork.us/browse?Dataset-Information_Agency=Department+of+Education+%28DOE%29)
File renamed to [Catalogue of Data Resources](https://docs.google.com/spreadsheets/d/1x9f0HSinK

[2022-06-30 02:26] joycekyang commented on #184
I think this updated version is definitely more personable and do think it is helpful. (I think one thing that we could also add is something along the lines of "I noticed that you are apart of _____ project/organization" because it might help give the impression that what we are going to be talking about, relates to their work!

[2022-06-30 19:16] deepamohan22 commented on #195
@KC243 ,
Hi Kevin,
Completed the tasks.
Thanks.

[2022-07-01 17:51] LouismChan commented on #185
Update on H.D. interview: got in touch with H.D over Slack.  He has agreed to look out for a new email from us next week to arrange for an interview.  Please send him another email to get the interview done.  Thanks. @Aparna1Gopal @AubreySchiavone @manosak @mmelovega

[2022-07-02 04:07] KC243 opened #196 "Design Volunteer Page (Join the ATD Team / Join the Science Community)"
### Overview
We will need to create a new page to allow users visiting the website to join the ATD team and the Hack for LA Data Science Community of Practice.

### Action Items

- [x] Create a high fidelity "Join the ATD Team" Page
   - [x]  Create lo-fi prototypes
   - [x] bring lo fi prototypes to team for final decision
   - [x]  Build out a hi-fi page in figma
- [x] Create a high fidelity "Jo

[2022-07-02 05:05] steffiekim commented on #183
Finished cataloging 10 datasets from the Department of Health and Mental Hygiene (DOHMH) in NYC Open Data in [Catalogue of Data Resources](https://docs.google.com/spreadsheets/d/1x9f0HSinKudyHcHeoeGc0H0msB086e36cRcpk-sDYS0/edit?usp=sharing)

[2022-07-02 15:25] Aparna1Gopal commented on #185
**Update on H.K. (Henry Kaplan) Interview:**

- There has been no response from HK when contacted via ATD email, I have updated the UXR Lead and Data Expert team via Slack.
- I will contact H.K again via email and also try Slack, to see if there is some momentum and response.

[2022-07-05 20:44] mxajPrice commented on #70
## 2022 July 05 - PM Meeting

### AGENDA
_Timezones listed as PDT._

- [ ] 14:00 - Review [New Issues Approvals](https://github.com/hackforla/access-the-data/projects/1)
- [ ] 14:15 - Finalize [Planning Week agenda](https://drive.google.com/drive/folders/1CRImIJJGuNqHAzBwiYTa2B1JtlqibqJs)
- [ ] 14:45 - Final touches to [one-sheet](https://docs.google.com/document/d/17yzHv1Jx5Vf_QAHtgBZ0slU3no9BXne

[2022-07-05 21:17] lrchang2 commented on #164
@hannahsgr Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of th

[2022-07-05 21:18] lrchang2 commented on #168
@hannahsgr Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of th

[2022-07-05 21:41] mxajPrice commented on #70
## 2022 July 12 - PM Meeting

### AGENDA
_Timezones listed as PDT._

- [ ] 14:00 -
- [ ] 14:15 -
- [ ] 14:45 -

#### FYIs

#### Notes from meeting

#### Task Items

[2022-07-05 21:47] hannahsgr commented on #164
This issue is complete. I will close.

[2022-07-05 21:47] #164 closed

[2022-07-05 21:48] hannahsgr commented on #168
This issue is on hold as the design team updates the information architecture on the website.

[2022-07-06 16:42] bradyse commented on #193
Responses:

- Eric Cho (311 Data) - _Planning an outreach campaign to onboard stakeholders for some alpha testing on the site, but that won’t be happening until after the summer_
- Byron Heart (Engage) - _No response_
- Greg Pawin (Lucky Parking) - _Project is in between PMs and they don't know enough about the project to provide contacts_
- Kalyani Raman (Open Community Survey) - _Said that Kalya

[2022-07-06 16:44] bradyse commented on #193
- No leads with other HfLA Projects involved with Community Engagement.
- 311 Data may have some additional information to share after the summer.
- Reached out to EmpowerLA as part of the issue #184.

[2022-07-06 18:00] mxajPrice commented on #155
## Week of 4 July
[Draft Agenda](https://docs.google.com/spreadsheets/d/1n9R7zlFaRH-784LjAeTVeTg0AC_L-NRLqT7EeSrKzaI/edit#gid=1283539278)
PM prep work:

- [ ] Create agenda
- [ ] Send invites to leads team
- [ ] prep retrospective
- [ ] draft July objectives
- [ ] slides
- [ ] clean up issues

### Agenda
#### Wednesday, 6 July

- [ ] 17:00 _(30 minutes)_ - June retrospective
- [ ] 17:30 _(15 minut

[2022-07-07 18:23] bradyse commented on #184
@mmelovega @joycekyang @Aparna1Gopal @hannahsgr

### Updates as of 2022-07-07:
- [X] Sent email to EmpowerLA using the [newly revised recruitment email message](https://docs.google.com/document/d/1IXu9rG2X-5Jx01zxp6MuSpZwQzJ09HYMvgdQGA-2hXQ/edit).
- [X] Sent email to I.L. (AJ's friend) to request completion of the survey and also copied recruitment email.
- [X] Updated [contact list spreadsheet](h

[2022-07-08 00:08] mxajPrice commented on #176
Closing this issue per conversation in planning meeting on 7 July.

[2022-07-08 00:08] #176 closed

[2022-07-08 00:15] mxajPrice commented on #184
@KC243 can reach out to contacts in NY.  @mmelovega to send Kevin the survey template.

[2022-07-08 00:27] mxajPrice opened #197 "Create Interview Script for Community Activists"
### Overview
We need to create an interview script for the Community Activist Persona.

### Action Items

- [x] Review past scripts
- [x] Draft script in [the Drive](https://drive.google.com/drive/u/1/folders/1Wr3qoQ56T9WefQ5yTbbSPvHSZt9RMW0k)
- [x] Review with @mmelovega
- [x] Finalize
- [x] Get final approval from @mmelovega
- [x] Update in [wiki](https://github.com/hackforla/access-the-data/wik

[2022-07-08 00:37] mxajPrice commented on #119
Closing issue per conversation with @KC243 in planning meeting 7 July 2022.

[2022-07-08 00:39] mxajPrice commented on #124
This needs to be approved by @KC243 for closing.

[2022-07-08 00:42] mxajPrice commented on #187
Need to ask @Eevinjennings  about access to this.

[2022-07-08 06:35] mxajPrice opened #198 "Create drop-off policy"
### Overview
We need to establish a policy that allows the leadership team to off-board team members who have shown no progress nor presence on AtD in a two-week time period without letting us know ahead of time.

### Action Items

- [x] Draft policy
- [x] get input from Leadership Team
- [x] Finalize policy
- [x] Communicate to the team
- [x] publish on GitHub [readme](https://github.com/hackforl

[2022-07-08 06:55] mxajPrice opened #199 "Incorporate RACI into blank issue template"
### Overview
The team needs to better understand what needs to be communicated to whom and who is the final sign-off on issues.  Therefore, we will be including a RACI in the blank issue template.

### Action Items

- [ ] Add RACI section to blank issue template
- [ ] Communicate this change to the team in Slack
- [ ] Communicate this change to the team in the team meeting
- [ ] Communicate this c

[2022-07-08 17:39] mxajPrice opened #200 "MONTHLY Planning Comms (after planning week)"
### Overview
Every first week of the month the PMs and Leads have planning week.  During this week, we do a retrospective of the previous month, look at whether progress is being made or has been made, and what the objectives of the next month are.  After planning week, the PMs and leads have to communicate all the updates to the team.

This on-going issue will house the Action Items for each mont

[2022-07-08 18:28] mxajPrice commented on #162
[One sheet](https://docs.google.com/document/d/17yzHv1Jx5Vf_QAHtgBZ0slU3no9BXneEB8GJscyKlpE/edit) has been updated.

[2022-07-09 08:11] Aparna1Gopal commented on #184
**Notes:**

**Currently following this recruitment strategy from my end:**

- [ ] Posting the Screener message on external Slack channels

[Clarified from UX Lead (Mariana V) and this Community Activist Persona Lead (Sara B) via Slack. Can post on external slack channels. Research participants can be from Los Angeles, United States and/or International. Due to this non-specificity, and/all Slack c

[2022-07-09 08:43] Aparna1Gopal commented on #191
Progress: "What is the current status of your project? What have you completed and what is left to do?"
- Created Hotjar account and did some navigating around/training to understand how it works.
- Audited how the external CKAN websites could be embedded into Hotjar to assess usability and user flows for the two personas
- Audited how Hotjar could be embedded in the Access the Data website to ass

[2022-07-10 02:27] pbahle commented on #124
![screencapture-figma-file-nS5IqnutUT2FuPwwJObHaY-Access-the-Data-Main-Figma-2022-07-09-20_21_01](https://user-images.githubusercontent.com/36608233/178128804-feecbe5d-89c6-45fe-8723-3e0ccccc84f4.png)

Checked the spacing and layout against Figma's vertical grid system as well as  the alignment tools

[2022-07-10 02:36] pbahle commented on #196
![20220709_202846](https://user-images.githubusercontent.com/36608233/178128965-8580259d-beb6-4fae-b3d3-e5f16cd63cec.jpg)

Here's a couple sketched prototypes for the join the ATD page.
I included the header and footer from the ATD high fidelity wireframes, as well as making sure we had separate options for both ATD and the science team, plus a relevant section to highlight either a team member's

[2022-07-10 16:49] bradyse commented on #184
- Received reply from an email that Kim sent back in April.
- Sent response and link to screener survey to Claire.
- Thank you @Aparna1Gopal for monitoring the Gmail account.

[2022-07-10 18:26] #124 closed

[2022-07-10 18:30] KC243 commented on #54
I will take over this issue and work on changing the button colors going forward.

[2022-07-11 17:02] mxajPrice commented on #33
2022.7.11 - all In Progress issues have appropriate labels.

[2022-07-11 17:55] mxajPrice commented on #198
[Draft](https://docs.google.com/document/d/1lMPgcnULbAMTZR13IGi2I4ioXWxfWBMO6HNhkyHCqhI/edit) created and language shared with PMs and leads on [Slack ](https://hackforla.slack.com/archives/C03GXA9DFGD/p1657562015754289)for review.

[2022-07-12 13:06] Aparna1Gopal commented on #185
@LouismChan @mmelovega

**Update on H.K. (Henry Kaplan) Interview:**

- Contacted research participant H.K via ATD email two times in the past three-four weeks and via Slack DM once (documented above) https://github.com/hackforla/access-the-data/issues/185#issuecomment-1172915766

- There has been no response thus far.

[2022-07-12 22:06] mxajPrice commented on #63
## 2022 July 13 - Team Meeting

### AGENDA
_Timezones listed as PDT._
_Note: the Zoom room will close abruptly at the end-time of the meeting to accommodate another Hack for LA meeting._
- [ ] 17:00  _5 minutes_- Planning Week
- [ ] 17:05 _15 minutes_- Project Boards / July Objectives
- [ ] 17:20 _5 minutes_- 2 week drop-off policy
- [ ] 17:25 _10 minutes_- RACI Charts in issues
- [ ] 17:35 _5 min

[2022-07-13 00:43] mmelovega commented on #193
On the Research meeting (07/1272022) Sara, Aparna, Mariana and Hannah discussed the need to expand the spreadsheet with the NGO contacts to send the survey.

[2022-07-13 00:49] bradyse commented on #193
@mxajPrice @lrchang2

Could one of you please send out our [recruitment message](https://github.com/hackforla/access-the-data/issues/193#issue-1277544971) on Twitter like how you did with the Data Expert screener survey? See the resources/instructions for the text. Thank you!

[2022-07-13 02:03] Aparna1Gopal commented on #185
**Notes on H.K. Interview:**
**Communication on Slack**

[From: Aparna G, To: Mariana M-V, Louis C]
Research Participant H.K's issue has been updated on GitHub. Based on the no response, can H.K.s issue be closed out? Thanks!

[From: Mariana M-V, To:Aparna G]
Ok, let's move on.  Thank you Aparna!

Thus, closing out H.Ks issue

[2022-07-13 06:30] Aparna1Gopal commented on #193
**Working Notes** for @Aparna1Gopal

Expand Community Activist Survey Recruitment – Extract names from Liberty Hill Project, Add name of Non-profit to the Spreadsheet- Email the contact person from ATD’s website with Screener Survey – Wait for response – Dual purpose of: Expanding the recruitment database and also outreach for potential interview participants

[2022-07-13 08:30] Aparna1Gopal commented on #191
**Notes**
**Communication on Slack**

Communication with PM Lucy C, Aparna G (UX Researcher) and Archana (UX Designer)

_Main points_
PM Lucy C: We need to create separate GitHub issues so they can track the differences and progress
Aparna G, UXR: Working on this issue #191
Archana, UXD : Working on auditing the UI and design elements. Adding the SUS audit to this work.

_Communication from Slack_

[2022-07-13 08:44] Aparna1Gopal commented on #191
Progress: "What is the current status of your project? What have you completed and what is left to do?"

Created Hotjar account and embedded CKAN websites to test the workings/navigation of HotJar. Also hit a blocker with the free version of Hotjar.

Able to incorporate only the overall website heat maps with HotJar (will give the overall CKAN analytics)

Exploring UsabilityHub to incorporate simp

[2022-07-13 10:56] #185 closed

[2022-07-13 10:57] mmelovega commented on #185
5 interviews completed and uploaded on [Google Drive](https://drive.google.com/drive/folders/14WQu2RwTbbjjSS8udqFZR2H6nZD5IqA8?usp=sharing)

[2022-07-13 14:30] lrchang2 commented on #193
@bradyse the recruitment message is long for twitter and will have to be split into a chain of tweets if we want to keep all the content. consider revising to be shorter?
![image](https://user-images.githubusercontent.com/10827101/178758984-fa4ec6de-f1b0-4dfb-b068-ee1286c22971.png)

[2022-07-13 16:12] LouismChan opened #201 "Data Expert Persona Synthesis: Affinity Map"
### Overview
We need to present an affinity map to find common trends, pains and gains for the data expert persona, to understand how they would like to use their expertise to give back to their community.

### Action Items
- [x]  Familiarize with targeted persona in
    - #163
    - #176
    - #185
- [x]  Do the [Data Expert Affinity Map](https://www.figma.com/file/K1KJbdWBh4fwse0JzunBVN/Affinity

[2022-07-13 16:24] mmelovega commented on #201
Thank you Louis.  What is the deadline for this?

[2022-07-14 00:00] deepamohan22 commented on #123
@lrchang2 ,
Progress : Finished.  Added the dropdown menu to the text field in both Desktop and Mobile versions.
Blockers : No
ETA : One week

[2022-07-14 00:23] lrchang2 commented on #123
@deepamohan22 thank you for the update. can you link where you put the current version of the dropdown and put screenshots here in an issue comment so i can find and review it?

[2022-07-14 00:31] bradyse commented on #193
@lrchang2, how does this work for you? I shortened it to 280 characters.

Are you a Community Activist? Access the Data team is looking for community-minded people to interview to learn more about accessibility to city data. This 2-min survey will be used to gain insights for building out an easy-to-navigate website. https://forms.gle/tUAAj53DhRKS6cMM6

[2022-07-14 00:35] lrchang2 commented on #193
@bradyse that works! do you want to add an @ to the Hack for LA twitter or a hashtag for better reach? We have 11 characters to do that
![image](https://user-images.githubusercontent.com/10827101/178859931-4fb0edd6-a964-4e7c-913b-a1b820274c7b.png)

[2022-07-14 00:44] bradyse commented on #193
@lrchang2 Yes, if it fits, then I would be in favor of that. Thank you so much!

[2022-07-14 00:45] mxajPrice commented on #196
Please add more context to the difference in joining AtD and HfLA Data Science.

- Access the Data [repository](https://github.com/hackforla/access-the-data)
- Hack for LA Data Science Community of Practice [repository](https://github.com/hackforla/data-science#readme)

[2022-07-14 00:47] lrchang2 commented on #193
here is the tweet https://twitter.com/accessthedata/status/1547382221681598464

[2022-07-14 00:50] deepamohan22 commented on #123
<img width="622" alt="image" src="https://user-images.githubusercontent.com/102125634/178860874-23899016-4530-4fd2-a6be-586af0aeff0b.png">
Mobile version :
<img width="213" alt="image" src="https://user-images.githubusercontent.com/102125634/178861132-8cd6ef96-f5ab-4bd5-86b3-c1203000502b.png">
Figma Link :
https://www.figma.com/file/nS5IqnutUT2FuPwwJObHaY/Access-the-Data-Main-Figma?node-id=5166%3A

[2022-07-14 00:53] deepamohan22 commented on #123
https://www.figma.com/file/CW0T9tfhQ3WK92nQd7VFMn/My-Projects-Linkedin%2CFrirndly%2CPick-%24-Dine?node-id=1317%3A48756

[2022-07-14 01:08] deepamohan22 commented on #123
Sure
Thanks @lrchang2

[2022-07-14 22:50] #123 closed

[2022-07-18 01:55] bradyse commented on #193
Updates

- Tweeted at EmpowerLA
- Sent a couple more emails from recruitment sheet

[2022-07-19 21:34] mxajPrice opened #202 "Offboard: Eevin, Aubrey, Mano, Tiffany"
### Overview
We need to offboard the following people:

- Eevin Jennings
- Aubrey Schiavone
- Mano Sakayan
- Tiffany Sie

#### Offboard Action Items
- [x] Remove from Google calendar invite
   - [x] #141
- [ ] WIKI/Github Project Boards
  - [x] move to new place on team page
  - [x] 1password setup
    - [x] remove from team vaults
       - [x] Access the Data - Data Literacy vault
       - [x] Zo

[2022-07-19 21:49] lrchang2 commented on #202
slacked #admin channel to take people off of the vaults in 1password. https://hackforla.slack.com/archives/C01Q24YF56J/p1658267315383179

[2022-07-20 00:38] hannahsgr commented on #197
- Created the community activist [script ](https://docs.google.com/document/d/19T9jE_Fd4nkppnUUchV29mqOjJcg6vBbXmDRCHP1iHg/edit)
- Reviewed script with Mariana and Joyce during the research team meeting. Linked the script in the website research channel for further review by researchers who were unable to attend the meeting.

[2022-07-20 04:56] lrchang2 commented on #186
mano is not on the project anymore, issue closed

[2022-07-20 04:56] #186 closed

[2022-07-20 22:01] Archana-M opened #203 "Competitive analysis of CKAN websites - Design"
- [ ] conduct audit of the UI and design elements of CKAN websites.
- [ ] prepare a report for team review.
- [ ] prepare questionnaire for SUS audit
- [ ] recruit participants
- [ ] conduct SUS audit
- [ ] generate a report
- [ ] prepare a ppt for presentation
- [ ] Present findings to the team

[2022-07-20 23:34] mxajPrice commented on #54
please update your issue with the following info  if you have not already
- Progress: "What is the current status of your project? What have you completed and what is left to do?"
- Blockers: "Difficulties or errors encountered."
- Availability: "How much time will you have this week to work on this issue?"
- ETA: "When do you expect this issue to be completed?"

[2022-07-20 23:34] mxajPrice commented on #188
please update your issue with the following info  if you have not already
- Progress: "What is the current status of your project? What have you completed and what is left to do?"
- Blockers: "Difficulties or errors encountered."
- Availability: "How much time will you have this week to work on this issue?"
- ETA: "When do you expect this issue to be completed?"

[2022-07-20 23:47] mxajPrice commented on #196
please update your issue with the following info if you have not already

- Progress: "What is the current status of your project? What have you completed and what is left to do?"
- Blockers: "Difficulties or errors encountered."
- Availability: "How much time will you have this week to work on this issue?"
- ETA: "When do you expect this issue to be completed?"

[2022-07-21 00:03] mxajPrice commented on #63
## 2022 July 20 - Project Meeting

This is a project meeting.  We will be looking at the kanbans for each project and clarifying

- current status
- are there blockers?
- what is the availability of the assignees
- when does assignee expect issue will be complete?
    - do adjustments need to be made to the size?
    - do adjustments need to be

### AGENDA
_Timezones listed as PDT._
_Note: the Zoo

[2022-07-21 00:46] steffiekim commented on #183
Met with @nyarly and discussed what columns from [Catalogue of Data Resources](https://docs.google.com/spreadsheets/d/1x9f0HSinKudyHcHeoeGc0H0msB086e36cRcpk-sDYS0/edit?usp=sharing) are essential for the first version that will be built by the end of the month.
Next step: Contact @nyarly at the end of July to see what is needed after the first launch.

[2022-07-21 00:52] mmelovega opened #204 "Data Expert Persona Synthesis: Empathy Map"
### Overview
After doing the Affinity Map, we need to create an Empathy Map, to find common trends, pains and gains for the data expert persona, to understand how they would like to use their expertise to give back to their community.

### Action Items
- [x]  Familiarize with targeted persona in
    - #163
    - #176
    - #185
    - #201
- [x]  Do the [Data Expert Empathy Map](https://www.figma.c

[2022-07-21 00:54] ghost opened #205 "Data Expert Persona Synthesis: Detailed Persona"
### Overview
We need to create a Detailed Persona to find common trends, pains and gains for the data expert persona, to understand how they would like to use their expertise to give back to their community.

### Action Items
- [x]  Familiarize with targeted persona in
    - #163
    - #176
    - #185
    - #201
    - #204
- [x]  Do the [Data Expert Detailed Persona](https://www.figma.com/file/IQC

[2022-07-25 22:04] bradyse commented on #193
Updates

- Sent recruitment message to Christine (from another HfLA project) for her to share with her colleagues.

[2022-07-26 20:34] mxajPrice commented on #70
## 2022 July 26 - PM Meeting

### AGENDA
_Timezones listed as PDT._

- [ ] 14:00 - Prep for Demo Day
- [ ] 14:20 - Prep Planning week
- [ ] 14:40 - PM issues

#### FYIs

#### Notes from meeting

#### Task Items

[2022-07-26 20:40] #198 closed

[2022-07-26 20:44] mxajPrice commented on #162
Still waiting on VRMS to update HfLA page.  Need to plan a working session with the leads to clean the wiki.

[2022-07-26 21:26] mxajPrice commented on #155
## Week of 1 August

PM prep work:

- [ ] Create agenda
- [ ] Send invites to leads team
- [ ] draft August objectives
- [ ] clean up issues

Attendees:

- [ ] PM: @lrchang2
- [ ] PM: @mxajPrice
- [ ] Research Lead: @mmelovega
- [ ] Design Lead: @KC243
- [  ] Development Lead: @nyarly

### Agenda
#### Tuesday, 2 August

- [ ] 17:00 _(10 minutes)_ - July objectives review
- [ ] 17:10 _(40 minutes)_

[2022-07-26 21:28] lrchang2 commented on #202
got response from Karen in slack #admin channel that she took all the people off of 1password vaults

[2022-07-26 21:28] #202 closed

[2022-07-27 04:45] mxajPrice commented on #63
## 2022 July 26 - Demo Day

Demo Day!  Let's all grab a drink and take a look at what was accomplished this past month.  Then let's chat over a game of Insider.

### AGENDA
_Timezones listed as PDT._
_Note: the Zoom room will close abruptly at the end-time of the meeting to accommodate another Hack for LA meeting._
- [ ] 17:00  _5 minutes_- Data Expert Persona affinity map - @LouismChan
- [ ] 17:0

[2022-08-02 00:07] mxajPrice opened #206 "Update Current HiFi Wireframes and Info Architecture"
### Overview
To update with Data Catalog.

### Action Items

- [x] update[ info arch - V3.1](https://docs.google.com/spreadsheets/d/1BV3TJ-tr2QPjij0IUXxTShtnHgDhAlkQAKIUELXAmWA/edit#gid=1188394452) with data catalog
- [x] Update the [CURRENT HiFi Wireframe](https://www.figma.com/file/nS5IqnutUT2FuPwwJObHaY/Access-the-Data-Main-Figma?node-id=2%3A27&t=DTbwx9A0SAY8FTQM-0) with
   - [x] with newest sc

[2022-08-02 00:46] #201 closed

[2022-08-02 01:07] lrchang2 opened #207 "Mock-up and Test Data Catalog"
### Overview
We need to reorganize data sources complied by a data analyst before, optimize search, and test a low-fi mockup.

### Action Items

- [ ] Take spreadsheet of resources and categorize and display information for optimal search
    - [ ] Test categorized search logic
- [ ] Select necessary features of metadata that should be added to the mockup based on persona research
- [ ] Make a low

[2022-08-02 01:09] #183 closed

[2022-08-02 21:03] mxajPrice commented on #70
## 2022 August 2 - PM Meeting

### AGENDA
_Timezones listed as PDT._

- [ ] 14:00 - Do the prep work above because there was no time
- [ ] 14:20 - Prep for persona planning meeting
- [ ] 14:30 - PM issues

#### FYIs

#### Notes from meeting

#### Task Items

[2022-08-03 03:14] Aparna1Gopal commented on #184
**Notes**
**Currently following this recruitment strategy from my end:**

https://github.com/hackforla/access-the-data/issues/184#issuecomment-1179501393

Based on the above message, following are the updates:

Have contacted the friend, they donot wish to be interviewed. Need to look at other resources/networks for recruiting and outreach.

Posting the Screener message on external Slack channels

[2022-08-03 03:29] Aparna1Gopal commented on #193
Working Notes for @Aparna1Gopal

Currently working on this recruitment and outreach https://github.com/hackforla/access-the-data/issues/193#issuecomment-1182819806

Will also reach out to ATD's PMs and UXR Lead to request for ATD's Facebook account, such that outreach could be carried out via FB in addition to the more traditional path of email to reach the grassroots community activists.

[2022-08-03 21:59] lrchang2 opened #208 "Standarize Screen Size for Mobile and Desktop"
### Overview
We need to update the high fidelity mobile and desktop to have the right screen size for the device.

### Action Items

- [ ] Change the dimensions of high fidelity prototype in Figma to fit the standard set in the design system
   - [ ] mobile
   - [ ] desktop
- [ ] Reorganize page components to fit new dimensions

### Resources/Instructions
[Design System Screen Sizes - Figma](https

[2022-08-03 22:29] Aparna1Gopal commented on #191
Immediate Tasks to be completed:

- [ ]   Complete Research Plan for this particular issue [Overall Phase 1, 2, 3]
- [ ]   Complete embedding CKAN websites in HotJar for overall analytics and heatmaps
- [ ]   Start automated data collection on Hotjar
- [ ]   Complete mini-survey to embed in UsabilityHub before the CKAN is tested for flows.
- [ ]   Send this draft to PMs (Lucy C, AJ), UX Leads (Mar

[2022-08-04 19:47] #197 closed

[2022-08-08 22:46] KC243 commented on #54
Progress: Buttons have been changed to adhere to accessibility standards
Blockers: none
Availability:  issue done
ETA: completed.

New Button/Accent Color Hex Code : EF6E6C

[2022-08-08 22:46] #54 closed

[2022-08-09 19:45] pbahle commented on #196
[](url
![join page 1 (1)](https://user-images.githubusercontent.com/36608233/183745855-5a0941f0-2d9e-4667-ac6b-c7334289d9cc.png)
)
Progress: I've completed high fidelity wireframes of both join ATD and the data science team, with the exception of the copywriting
Blockers: What sort of text will go on the page
Availability: 1-3 hours
ETA: Next week, (assuming UX writing is also under my responsibil

[2022-08-09 23:43] Aparna1Gopal commented on #193
**Notes**

- Updating Spreadsheet from the resources on this page https://www.libertyhill.org/organizations/
- Emailing each community activist non-profit from this group after updating spreadsheet

[2022-08-10 14:33] lrchang2 opened #209 "Offboard: Sara Brady and Archana Mudiam"
### Overview
Need to offboard Sara and Archana

### Action Items
- [x] Remove from Google calendar invite
   - [x] #141
- [x] WIKI
  - [x] move to new place on team page
  - [x] 1password setup
    - [x] remove from team vaults
       - [x] Access the Data - Data Literacy vault
       - [x] Zoom vault
- [x] Google Drive
   - [x] demote to viewer
- [x] Roster
  - [x] mark as inactive
- [x] GitHub

[2022-08-10 14:34] lrchang2 commented on #209
- Why brought them to Hack for LA and Access the Data
- What are their current professional goals, if any
- Why are they leaving
- How well did they fit with their team
- How well did you understand what Hack for LA is, Access the Data is, and what work needed to be done
- How was overall experience working on Access the Data
- What suggestions do they have for Hack for LA and Access the Data
- An

[2022-08-10 23:00] Aparna1Gopal commented on #191
Progress: "What is the current status of your project? What have you completed and what is left to do?"
Embedded MS  Clarity on the 5 CKAN Websites. Data tracking commenced. Will be waiting and collecting data for the next two weeks.

Blockers: "Difficulties or errors encountered."
Learning MS Clarity as a tool and learning to understand the needs of the tool for effective quantitative data collec

[2022-08-10 23:53] lrchang2 commented on #63
## 2022 August 10 - Team Meeting

### AGENDA
_Timezones listed as PDT._
_Note: the Zoom room will close abruptly at the end-time of the meeting to accommodate another Hack for LA meeting._
- [ ] 17:00  _5 minutes_- Planning Week
- [ ] 17:05 _15 minutes_- Project Boards / July Objectives
- [ ] 17:20 _5 minutes_- 2 week drop-off policy
- [ ] 17:25 _10 minutes_- RACI Charts in issues -is this helpful

[2022-08-11 18:37] lrchang2 opened #210 "Offboard: Joyce Yang"
### Overview
Joyce Yang is off the project

### Action Items
- [ ] Remove from Google calendar invite
   - [ ] #141
- [ ] WIKI
  - [ ] move to new place on team page
  - [ ] 1password setup
    - [ ] remove from team vaults
       - [ ] Access the Data - Data Literacy vault
       - [ ] Zoom vault
- [ ] Google Drive
   - [ ] demote to viewer
- [ ] Roster
  - [ ] mark as inactive
- [ ] GitHub

[2022-08-16 03:56] Aparna1Gopal commented on #191
Progress: "What is the current status of your project? What have you completed and what is left to do?"

- Completed the Steps of embedding MS Clarity on the CKAN Websites. Data Collection in progress.
- Have also gone one step further and embedded Google Analytics that is available with MS Clarity to further collect analytics on the CKAN websites
- While the above will suffice for automated usabi

[2022-08-16 04:22] Aparna1Gopal commented on #193
**Notes**

Using the resources/non-profits identified in https://www.libertyhill.org/organizations/ for outreach
Also came across this website: polywork.com. Will also be using this for outreach in the upcoming weeks.

[2022-08-16 05:26] Aparna1Gopal commented on #184
**Notes:**

- Outreach to prospective research participant at Active San Gabriel Valley (ActiveSGV) https://www.activesgv.org/about#mission via email.

- Used the following email template:

Subject: 📊 Hack for LA wants to help community activists access the data 📊

Email template recorded here: Under Screener Survey Recruitment Message (Sent on August 15, 2022)
https://docs.google.com/document/d/1

[2022-08-16 21:40] lrchang2 opened #211 "Create LinkedIn Message for Community Activist Interview Recruitment"
### Overview
We need to create a LinkedIn recruitment message targeted at getting community activists to interview us for the persona.

### Additional Information
- Consider @ people (with people's permission) on LinkedIn to get it on their feed and increase reach.
- Make sure that it's clear that the message is for a single project under Hack for LA

cant find civic related data? data published b

[2022-08-16 22:42] lrchang2 commented on #209
requested individuals to be taken off  the 1password Access the Data - Data Literacy vault in #admin channel

[2022-08-23 20:00] mxajPrice opened #212 "Onboard Bailey Kong"
### Overview
Bailey Kong will be joining the Access the Data PM team.

#### Onboard
- [x] Slack channel membership
  - [x] #access-the-data
  - [x] #access-the-data-website
  - [x] #access-the-data-research
- [x] Add to Google calendar invites
   - [x] #141
- [x] Add to team page on Wiki
- [x] Google Drive
   - [x] Add to drive as Manager
- [x] Roster
  - [x] Send link
  - [x] Team member adds the

[2022-08-23 20:57] mxajPrice commented on #70
## 2022 August 23 - PM Meeting

### AGENDA
_Timezones listed as PDT._

- [ ] 14:00 - Introductions: Bailey Kong, new PM
- [ ] 14:10 - Welcome to Access the Data
    - [ ] What is Access the Data?
    - [ ] Projects: Personas, Data Catalog, Website
    - [ ] GitHub tour
    - [ ] Communications: Slack, Meetings, issues, blogs
    - [ ] Meeting Cadence and agenda templates
    - [ ] Applications: Gi

[2022-08-24 18:14] hannahsgr commented on #193
- With the help of Matt and Mariana, rewrote the email template to make it more appealing and concise.
- Compiled a list of community activists to reach out to.
- Sent out emails.
- Trying a new approach: I directly ask community activists to sign up for an interview and take out the screener survey step. We have already established these people are community activists and if they're interested in

[2022-08-24 19:08] hannahsgr commented on #193
Email I'm currently using w/ Calendly link.

Hello [NAME]!

I'm Hannah, a volunteer at Hack for LA, a brigade of Code for America. We want to talk to you about how you can use data to impact your community.

We are developing a free resource so that community activists like you can use open-source data in their advocacy.

If you're interested in helping us develop a free resource to help people ma

[2022-08-24 22:27] mxajPrice commented on #63
## 2022 August 24 - Project Breakouts

### AGENDA
_Timezones listed as PDT._
_Note: the Zoom room will close abruptly at the end-time of the meeting to accommodate another Hack for LA meeting._
- [ ] 17:00 - Go into project breakout rooms

### Notes:
Attendees that have a strikeout through their name have notified PMs that they will not be attending today's meeting

[2022-08-24 22:48] mxajPrice commented on #203
Unassigning Archana and moving this issue to the backlog as Archana is on hiatus.

[2022-08-24 23:14] mxajPrice commented on #180
@lrchang2 can we assume we will not be hearing back from LA Counts?

[2022-08-24 23:37] mxajPrice opened #213 "Role Recruitment: Engineer"
### Overview
We need to recruit for engineering to help move the project along.

### Action Items

- [x] Create list of required knowledge
- [x] Determine what work needs to be done
- [x] Write blurb to put on the open role board based on template:

[code]

- [x] Review blurb
- [x] Follow [directions ](https://github.com/hackforla/product-management/projects/8#card-53859442)to put on open role boa

[2022-08-25 00:35] nyarly commented on #213
**Project Name:** Access the Data

**Volunteer Opportunity:**

Access the Data is seeking a Python developer to help us with our mission. Useful experience would include working in Flask or migrations from Python 2 to 3. The project is built on CKAN, so experience there would be useful, but not necessary.

We need to adapt an existing project to provide open data to the LA community, and serve as

[2022-08-25 00:36] nyarly commented on #213
@mxajPrice or @lrchang2 do you want to review the above?

[2022-08-26 14:51] lrchang2 commented on #193
@hannahsgr i should have caught this earlier. the one sheet you linked in the message is our old one. This is the new one: https://docs.google.com/document/d/17yzHv1Jx5Vf_QAHtgBZ0slU3no9BXneEB8GJscyKlpE/edit

[2022-08-26 14:57] lrchang2 commented on #193
I am going to email the moderators on a listserv to see if we can post there:
- Data Ladies Alliance (DLA)
    - 1500 people
    - This is a listserv for women, non-binary, trans, and non-conforming folks in progressive data and technology. We are committed to creating a safe space for our community to discuss working with progressive and political data and technology.

[2022-08-28 22:14] lrchang2 commented on #213
@nyarly the text looks good but it seems long. check the word count for a post on the open roles board. you might have to edit accordingly.

we also have a best practice to put our logo at the top of the post to catch people's eye better. this is the code you would have to put at the top of the note:
`<img src="https://user-images.githubusercontent.com/10827101/169327862-09c89c93-c002-4436-a6f6-9d

[2022-08-30 21:04] lrchang2 commented on #204
@LouismChan
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of t

[2022-08-30 21:06] lrchang2 commented on #211
@joycekyang Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of t

[2022-08-30 21:07] lrchang2 commented on #119
@KC243 Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the vi

[2022-08-30 21:07] lrchang2 commented on #188
@nyarly
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the v

[2022-08-30 21:08] lrchang2 commented on #196
@pbahle is this done? if so, please close this issue

[2022-08-30 23:08] LouismChan commented on #204
@lrchang2 @mmelovega
Progress: I have made another revision to the Empathy Map.  I am ready to present it tomorrow during demo day.

[2022-08-31 23:05] joycekyang commented on #211
Progress: The message is written, has been reviewed by ux writer and ux research team, all that is left is  review the draft with Bonnie, edit based on feedback, and bring the message to the meeting/post the message.
Blockers: "Difficulties or errors encountered."
Availability: 2 hours this week to work on this issue.
ETA: This issue should be compeleted by the start of next week's meeting.
Pictur

[2022-08-31 23:12] KC243 commented on #119
Progress: Currently cleaning up the components page since previously people have created multiple components for the same asset.  Desktop Hi-fi pages have been redone with updated components.  Still need to check spacing.
Blockers: Time
Availability: 2-4
ETA: TBD

[2022-09-01 20:40] lrchang2 opened #214 "User Test Data Catalog Mockup"
### Overview
We need to reorganize data sources complied by a data analyst before, optimize search, and test a low-fi mockup.

### Action Items

- [ ] Create research plan to test usability of mockup with research questions
- [ ] Develop tests
- [ ] Confirm with team
- [ ] Run Tests
- [ ] Synthesis results and present to team
- [ ] Edit mockup based on synthesis

### Resources/Instructions
[LA Dat

[2022-09-02 14:11] majkush opened #215 "Brand Voice Chart"
### Overview
We need to develop an Access The Data brand voice chart so that our writing is consistent and aligns with the brand product principles.

### Dependency
- Style Guide
- Glossary of Terms

### Additional Information
This voice chart will assist all UX Writers on the project by helping ensure consistency in the brand voice. The voice chart will be accompanied by voice chart examples in t

[2022-09-08 07:14] Aparna1Gopal commented on #192
**Notes**

Resources

UX MATURITY GAP ANALYSIS
Benchmark your UX operation against global best practices

https://www.humanfactors.com/uxsupport/ux_maturity_gap_analysis.asp?utm_medium=email&utm_source=Act-On%20Software&utm_content=email&utm_campaign=Avoid%20the%2024%20perils%20that%20derail%20UX%20Maturity&utm_term=Learn%20more%20about%20the%20UX%20Maturity%20Gap%20Analysis&utm_medium=email&utm_s

[2022-09-08 07:31] Aparna1Gopal commented on #192
**Notes**

_Steps for Research Plan_

Formulate Research Plan
Design the survey attached to the CKAN websites (to identify the user type - data expert/novice) (Recorded in the Research Plan)
Embed Usability Hub for first click testing of CKAN websites, for automated quantitative usability testing
Recruit external research participants using existing Slack channels
Data Collection (over 2-3 weeks f

[2022-09-08 14:01] majkush commented on #215
@lrchang2, I placed both documents linked under resources in a Google Drive folder I created within Access the Data's main folder so that you could place it under the sub-folder where you feel it fits best.

[2022-09-08 14:01] #215 closed

[2022-09-09 06:29] Aparna1Gopal commented on #191
Progress: "What is the current status of your project? What have you completed and what is left to do?"
The automated data collection is currently under progress.
Added AccesstheData email ID as one of members of the MS Clarity Team
Have added PM's email ID as one of the member of the MS Clarity Team as requested

Blockers: "Difficulties or errors encountered."
None

Availability: "How much time w

[2022-09-09 07:15] Aparna1Gopal commented on #193
**Notes:**

_Draft used on Calendly Link: (Image also attached)_

accessthedata project

Access the Data_User Interview
1 hr

Thank you for your interest in chatting with us regarding your community based work!

We look forward to deep diving into your community advocacy. And also understanding the role of data (if any) on your social impact.

More Information:
https://www.hackforla.org/projects/a

[2022-09-09 07:33] Aparna1Gopal commented on #193
Notes

**Notes:**

Using the resources/non-profits identified in https://www.libertyhill.org/organizations/ for outreach

Also came across this website: polywork.com. This seemed to have some members interested in community activism. Since I am not certain how this webpage works, will be doing some in-depth research on it. Will also be using this for outreach in the upcoming weeks if it works as a

[2022-09-09 08:25] Aparna1Gopal commented on #145
**Notes:**

- The product (ATD website) is currently undergoing a redesign with the incorporation of CKAN type Data Cataloguing. Design team is updating the information architecture and low-fi/hi-fi wireframes on the website.

- The user personas are also being developed further into a second iteration: the two personas being data expert and data novice (also called community activist)

- This iss

[2022-09-09 09:11] Aparna1Gopal commented on #193
@lrchang2 Could you please Tweet our recruitment message to the people listed on our [Spreadsheet](https://docs.google.com/spreadsheets/d/1lE-0M2Fc9Njf71aG9wrlE5gXhyWh_hV1AnXEtKnu558/edit#gid=0) working for 'Alliance for Community Transit – Los Angeles'. They seemed pretty active on Twitter and their handles are documented in the spreadsheet. Many thanks!

[2022-09-12 15:25] majkush opened #216 "Nomenclature Audit"
### Overview

A nomenclature audit - or content analysis of current nouns and verbs used in public-facing communication - for Access the Data will allow us to better understand how we are talking about AtD. As a result, we should be able to improve consistency and clarity of communication in the future.

### Dependency

- Style Guide
- #217

### Action Items

- [x] Gather public facing communicati

[2022-09-13 07:46] Aparna1Gopal commented on #192
**Notes**

The dependent issue (https://github.com/hackforla/access-the-data/issues/191) is currently collecting automated data (for the next 4-5 weeks)

In the meantime, this defendant issue is being worked on

[2022-09-13 07:59] Aparna1Gopal commented on #192
Progress: "What is the current status of your project? What have you completed and what is left to do?"
- Cleaned up the Action items and getting it ready to launch the research with projected timelines
- Formulating the Research Plan
Blockers: "Difficulties or errors encountered."
None
Availability: "How much time will you have this week to work on this issue?"
6 hours
ETA: "When do you expect th

[2022-09-13 20:49] bkong commented on #211
@joycekyang Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of t

[2022-09-13 20:52] bkong commented on #119
@KC243 Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the vi

[2022-09-13 20:53] bkong commented on #196
@pbahle Can you please update this issue or close it if it's done?

[2022-09-13 20:55] bkong commented on #204
@LouismChan Are you continuing to make revisions to the Empathy Map or is it done? If it's done, can you please close the issue?

[2022-09-13 21:25] mxajPrice commented on #70
## 2022 September 13 - PM Meeting

### AGENDA
_Timezones listed as PDT._

- [ ] 14:00 _ Go over last couple weeks

#### FYIs

#### Notes from meeting

#### Task Items

- [ ] get updates from Judson on CKAN and #123

[2022-09-13 22:48] LouismChan commented on #204
@bkong Okay I will close it.

[2022-09-13 22:48] #204 closed

[2022-09-13 23:06] joycekyang commented on #211
Progress: Message is written.
Blockers:  Blocker of waiting on approval from Bonnie and PMs, I believe @lrchang2 mentioned that she will check it with Bonnie last meeting.
Availability: 2 hours
ETA: Once approved by Bonnie, the message can be posted immediately.
Pictures: N/A

[2022-09-14 02:24] Aparna1Gopal commented on #193
**Notes:**

UX Lead Mariana M and UXRs Hannah S and Aparna G worked collaboratively/ in real-time on this issue at todays's UXR meeting:

- ATD Calendly account was set up
- We set up the Community Advocates User Interviews Calendly Event. Provided a wide timeframe for participants to sign up for interviews (7AM-9PM), Monday through Saturday. We were able to cover a wide time-frame due us being pl

[2022-09-14 03:09] Aparna1Gopal commented on #193
Notes:

Sara B (ex-UXR at ATD Team) had reached out to Christine O (via email) from a different Hack for LA team to circulate our Recruitment message.  Christine O has responded asking if we are still recruiting. Since we are, the most recent and current recruitment/outreach message has been sent to be circulated amongst this contact's colleagues and network.

_Recruitment Message:_
(a slightly di

[2022-09-15 00:09] nyarly commented on #213
I've updated the text above with that feedback. I'll post it to the engineering repo soon.

[2022-09-15 00:20] mxajPrice commented on #196
To be re-assigned.

[2022-09-15 00:59] majkush commented on #196
I am happy to help whoever gets assigned this wireframe with the UX Writing. Please just reach out to me if I can be of help.

[2022-09-15 06:58] Aparna1Gopal commented on #193
**Notes:**

_Twitter General Tweet messaging_

Hello! Are you or someone in your network a community advocate who works with data? Our team is developing a free resource so that community advocates like you can use open-source data in their work.
If you are interested in helping us out, we would love to talk to you! :wave::blush:

[2022-09-15 07:14] Aparna1Gopal commented on #193
Notes:
**Draft of Twitter Message - DM or @direct tweett:**

Hi [NAME]! I am a UX Researcher at Hack for LA, a brigade of Code for America. We want to talk to you about how you can use data to impact your work and community.

We are developing a free resource so that community advocates like you can use open-source data in their work and social impact.

If you're interested in helping us develop a

[2022-09-15 08:25] Aparna1Gopal commented on #193
@lrchang2 **Update:**

I did manage to log into AtD's Twitter account. The following were completed using AtD's Twitter account:

- Tweeted general recruitment/outreach message on Tweeted
- Sent direct tweets to potential community advocates (research participants)
- Also did some addditonal branding on AtD's Twitter profile, to make it more catchy and interesting to be able to grad more eyeballs

[2022-09-17 06:50] Aparna1Gopal commented on #191
Progress: "What is the current status of your project? What have you completed and what is left to do?"

The automated data collection on selected CKAN websites is currently under progress.

Blockers: "Difficulties or errors encountered."
None

Availability: "How much time will you have this week to work on this issue?"
Not applicable

ETA: "When do you expect this issue to be completed?"
We shall

[2022-09-17 07:13] Aparna1Gopal commented on #193
**Notes:**

_For outreach and recruitment:_

- Followed https://www.libertyhill.org on Twitter for wider outreach of our recruitment message.
- Signed up accessthedata@hackforla.org email ID to www.libertyhill.org's 'Join the Movement' to stay updated on the local community activism related activities taking place in the Los Angeles area.

[2022-09-19 06:28] Aparna1Gopal commented on #192
Progress: "What is the current status of your project? What have you completed and what is left to do?"
Formulation Research Plan

Blockers: "Difficulties or errors encountered."
None
(Will be seeking feedback from PMs and UX Leads once Research Plan is complete)

Availability: "How much time will you have this week to work on this issue?"
6 hours

ETA: "When do you expect this issue to be complet

[2022-09-20 13:27] majkush commented on #216
**Notes:**

I have completed the nomenclature audit and added it as completed work in the above issue description. The first tab of the spreadsheet of the audit reveals recommendations to modifying copy on the wireframes and/or other public-facing Access the Data text.

I will begin a glossary of terms issue and link that issue in the dependency above. Once started, I will check off the last task

[2022-09-20 14:17] majkush opened #217 "UX Writing Glossary of Terms"
### Overview

For the meantime, the project is pivoting away from containing a workshop/educational component to focusing exclusively on serving as a data access point for open government data. Past UX writing (#87) was based on the old design.

The nomenclature audit (#216) confirmed that copy on the wireframes and current public-facing Access the Data content still discusses the data literacy co

[2022-09-20 14:23] #216 closed

[2022-09-20 20:58] mxajPrice commented on #70
## 2022 September 20 - PM Meeting

### AGENDA
_Timezones listed as PDT._

- [ ] 14:00 _20 min_ Review [open PM tasks](https://github.com/hackforla/access-the-data/projects/1)
- [ ] 14:20 _10 min_ Issues clean-up
- [ ] 14:30 _10 min_ Prep tomorrow's meeting [agenda](https://github.com/hackforla/access-the-data/projects/1)
- [ ] 14:40 _5 min_ Roster clean-up
- [ ] 14:45 _5 min_ AOB

#### FYIs

####

[2022-09-22 00:38] Aparna1Gopal commented on #193
**Notes:**

@hannahsgr @Aparna1Gopal

Based on the UX All-Team meeting on 09/21/2022 and feedback from PMs: the Action Items have been updated to reflect a start and end task to this issue, instead of keeping it as an ongoing, ever-expanding database issue (as it was initially planned)

[2022-09-22 03:35] Aparna1Gopal commented on #184
**Notes**

Added Dependencies https://github.com/hackforla/access-the-data/issues/193 to this issue, since both issues are inter-connected and overlap at this point.

This issue is complete and is also currently being tracked in https://github.com/hackforla/access-the-data/issues/193

[2022-09-22 03:39] Aparna1Gopal commented on #184
@lrchang2 @mxajPrice @bkong

- **This issue can be closed**

- This issue is complete and is also currently being tracked in https://github.com/hackforla/access-the-data/issues/193

CC: @mmelovega @hannahsgr @Aparna1Gopal

[2022-09-22 03:45] Aparna1Gopal commented on #193
**Notes:**
From @Aparna1Gopal

_Slack message communication:_
To Mariana M and Hannah S: We just got a community advocate sign-up on our Calendly for a user interview! The participant has signed up for September 22nd, so we need to scramble to prep for the interview! I am sending you both a private message with the details, for data privacy! CC: Lucy C, ajPrice, Bailey K

Update: The participant d

[2022-09-22 07:07] Aparna1Gopal commented on #193
**Notes:**
From @Aparna1Gopal

_Slack message communication:_
To Mariana M and Hannah S: We just got a community advocate sign-up on our Calendly for a user interview! The participant has signed up for September 22nd, so we need to scramble to prep for the interview! I am sending you both a private message with the details, for data privacy! CC: Lucy C, ajPrice, Bailey K

Update: The participant d

[2022-09-22 18:16] mxajPrice commented on #70
## 2022 September 27 - PM Meeting

### AGENDA
_Timezones listed as PDT._

- [ ] 14:00 _20 min_ Review [open PM tasks](https://github.com/hackforla/access-the-data/projects/1)
- [ ] 14:20 _10 min_ Issues clean-up
- [ ] 14:30 _10 min_ Prep Demo Day [agenda](https://github.com/hackforla/access-the-data/projects/1)
- [ ] 14:40 _5 min_ Roster clean-up
- [ ] 14:45 _5 min_ AOB

#### FYIs
- Kevin's last d

[2022-09-22 19:26] mxajPrice commented on #212
Items are complete- closing this issue.

[2022-09-22 19:26] #212 closed

[2022-09-22 19:32] mxajPrice commented on #209
Karen removed them from the vault.
<img width="354" alt="Screen Shot 2022-09-22 at 12 32 19" src="https://user-images.githubusercontent.com/98370780/191835078-3d26e560-aeca-44f6-b42a-a414e66335ce.png">

[2022-09-22 19:33] mxajPrice commented on #209
All task complete- closing this issue.

[2022-09-22 19:33] #209 closed

[2022-09-22 19:57] mxajPrice commented on #162
This project is currently dependent on:

- [ ] VRMS updating the [site][https://github.com/hackforla/website/issues/3153]
- [ ] #189
- [ ] #190

[2022-09-22 19:58] mxajPrice commented on #190
@KC243 and @bkong, is this complete?

[2022-09-22 20:44] mxajPrice opened #218 "Offboard Kevin Chu"
### Overview
Need to offboard Kevin Chu

### Action Items
- [x] Remove from Google calendar invite
   - [x] #141
- [x] Remove from 1password (ask the Slack Admin channel)
    - [x] remove from team vaults
       - [x] Access the Data - Data Literacy vault
       - [x] Zoom vault
- [x] Google Drive
   - [x] demote to viewer
- [x] Roster
  - [x] mark as inactive
- [x] GitHub
     - [x] demote member

[2022-09-22 22:05] bkong commented on #190
From my discussions with @KC243 during planning week, the [wiki](https://github.com/hackforla/access-the-data/wiki/ATD-Website-Overview) was updated to the state of the design system. Kevin did not have a chance to finish cleaning up Figma before leaving so that still needs to be done. My understanding of what this entails is:

1. Moving finalized designs to a separate Figma page to separate those

[2022-09-23 04:27] Aparna1Gopal commented on #193
**Notes:**

- Outreach and recruitment email sent to 5 community advocates

- Expanded and recorded the details of the community advocates in the database (spreadsheet)

[2022-09-23 09:21] Aparna1Gopal commented on #192
Notes:
SWOT versus gap analysis

SWOT has a set framework, whereas a gap analysis can be what you make it

The SWOT analysis uses a simple four-block grid framework to help managers visualize their business from four set perspectives. Although every SWOT analysis is a bit different — with varying outcomes and conclusions — the structure is always the same: strengths, weaknesses, opportunities, and

[2022-09-23 20:25] mxajPrice opened #219 "Offboard Mariana Melo-Vega"
### Overview
Need to offboard Mariana Melo-Vega.  Last day is 28 September.

### Action Items
- [x] Remove from Google calendar invite
   - [x] #141
- [x] Remove from 1password (ask the Slack Admin channel)
    - [x] remove from team vaults
       - [x] Access the Data - Data Literacy vault
       - [x] Zoom vault
- [x] Google Drive
   - [x] demote to viewer
- [x] Roster
  - [x] mark as inactive
-

[2022-09-24 06:56] Aparna1Gopal commented on #191
Progress: "What is the current status of your project? What have you completed and what is left to do?"

The automated data collection on selected CKAN websites is currently under progress.

Blockers: "Difficulties or errors encountered."
None

Availability: "How much time will you have this week to work on this issue?"
Not applicable

ETA: "When do you expect this issue to be completed?"
We shall

[2022-09-27 19:15] mxajPrice opened #220 "Offboard Paul Bahle"
### Overview
Need to offboard Paul Bahle, it has been over 2 weeks since he contributed and has let aj he is not able to at this time.

### Action Items
- [x] Remove from Google calendar invite
   - [x] #141
- [x] Remove from 1password (ask the Slack Admin channel)
    - [x] remove from team vaults
       - [x] Access the Data - Data Literacy vault
       - [x] Zoom vault
- [x] Google Drive
   - [

[2022-09-27 19:16] mxajPrice commented on #220
![Screen Shot 2022-09-27 at 12 16 29](https://user-images.githubusercontent.com/98370780/192615929-134afd84-8224-4192-9fe8-ac1c7bac343f.png)

[2022-09-27 21:20] mxajPrice commented on #99
Access is on onepassword.  Lucy had issues getting into Instagram, the history can be found in the AccessTheData email.  All accounts are reserved for us.

[2022-09-27 21:20] #99 closed

[2022-09-27 21:35] #141 closed

[2022-09-27 21:36] mxajPrice commented on #39
We have the baseline of what we need for now.

[2022-09-27 21:36] #39 closed

[2022-09-27 21:39] mxajPrice commented on #171
There is no longer a need to define the roles as they change with the project.

[2022-09-27 21:39] #171 closed

[2022-09-27 23:54] mxajPrice commented on #63
## 2022 September 28 - DEMO DAY

### AGENDA
_Timezones listed as PDT._
_Note: the Zoom room will close abruptly at the end-time of the meeting to accommodate another Hack for LA meeting._
- [ ] 17:00 - Go into project breakout rooms

### Notes:
All to dip into personal contacts for Community Activists.

Attendees that have a strikeout through their name have notified PMs that they will not be atte

[2022-09-28 01:15] Aparna1Gopal commented on #192
@mxajPrice An FYI, I have currently been working on this issue https://github.com/hackforla/access-the-data/issues/192 as I await the data collection on dependent issue https://github.com/hackforla/access-the-data/issues/191

Hence, I am moving https://github.com/hackforla/access-the-data/issues/192 back into in progress. And moving https://github.com/hackforla/access-the-data/issues/191 into prio

[2022-09-28 01:23] Aparna1Gopal commented on #192
Progress: "What is the current status of your project? What have you completed and what is left to do?"

Tasks currently working on:
- [ ] Formulating Research Plan
- [ ] Transferring research questions/ interview script to UsabilityHub
- [ ] Receive feedback from PMs and Project Leads
- [ ] Pilot test the Usability Hub unmoderated test
- [ ] Receive feedback from pilot test, revise and have it re

[2022-09-28 01:52] Aparna1Gopal commented on #185
**Notes**
Message from Slack:

Aparna Gopal
 Hi At Mariana Melo-Vega! An FYI: Henry K has also responded to my Slack message, today. I had reached out during our user interview process. Could you please recommend on next steps and how best to proceed. I have already messaged him saying I am liaising with you now and will get back to him at the earliest. Thank You!

Mariana Melo-Vega
At Louis Chan:

[2022-09-28 19:15] mxajPrice opened #221 "Create Onboarding Wiki Layout"
### Overview
We need to thoughtfully layout what information people need to know before contributing to Access the Data.  After all PMs have signed off on the outline, then work should begin on drafting the pages and user navigation flow.

### Action Items
- [x] Rename "Join the ATD Team" to "How to Contribute"
- [x] Create draft outline of information/documentation needed for onboarding

### Reso

[2022-09-28 19:45] mxajPrice opened #222 "Draft onboarding wiki pages"
### Dependencies

- [x] #221

### Overview
We need to create drafts of the new onboarding content for the wiki.

Part of epic #273.

### Action Items

- [x] Using the outline from #221, create a drafts for each page of the onboarding wiki
  - [x] How to join Hack for LA
  - [x] AtD open positions
  - [x] Checklist before volunteering:
    - Do you have the skills required?
    - Can you realistica

[2022-09-28 20:33] mxajPrice opened #223 "Create Welcome to AtD email template"
### Overview
When folx join the project, we should be able to send them a getting started package to help them navigate the project space, understand AtD, and get them to their first commit as quickly as possible.  We need to create an email template that we can send to new contributors to help get them started.

### Dependencies
We first need organized, functioning onboarding wiki pages
- [ ] #22

[2022-09-28 20:43] mxajPrice opened #224 "Create onboarding training material for PMs"
### Overview
PMs come and go, so we should make sure that as we finish updating the onboarding materials that we leave instructions for future PMs on how to use these materials to onboard folx to AtD.

###Dependencies
- [ ] #221
- [ ] #222
- [ ] To be created issue of finalizing copy of wiki pages (to be completed by UX writer)
- [ ] To be created issue of user testing the wiki pages (to be comple

[2022-09-28 21:16] mxajPrice opened #225 "UPDATE ONBOARDING PROJECT"
### Overview
We need to update our onboarding materials, which is going to be a bit of a project in itself.  This issue will be an overview of everything that needs to be done to complete this project.

### Dependencies

- [x] #221
- [x] #222
- [ ] #223
- [ ] #224

### Action Items

- [ ] Conduct retrospective with all team involved
- [ ] Create a [close-out report](https://docs.google.com/documen

[2022-09-29 01:37] mxajPrice commented on #155
## Week of 3 October

PM prep work:

- [ ] Create [agenda](https://docs.google.com/spreadsheets/d/1pIk9PUIYsg3VZDW-4NTl2t__Mhs56d8eXUFYA256ZyE/edit#gid=0)
- [ ] Send invites to leads team
- [ ] prep retrospective
- [ ] draft October objectives
- [ ] slides?
- [ ] clean up issues

Attendees:

- [ ] PM: @lrchang2
- [ ] PM: @mxajPrice
- [ ] PM: @bkong
- [ ] Development Lead: @nyarly

### Agenda
####

[2022-09-29 20:19] majkush commented on #217
Note, In reference to the 'recommended next steps' in this issue: At @lrchang2's suggestion, I created a section within the website wiki page to host the UX Writing Resources instead of creating them to house in an issue. If I need to re-organize where I put it, please let me know. https://github.com/hackforla/access-the-data/wiki/ATD-Website-Overview

[2022-10-03 15:55] majkush commented on #217
Closing out this issue, per conversation I had with @lrchang2. The resources in this issue, including the glossar of terms, were added to the ATD Website wiki page https://github.com/hackforla/access-the-data/wiki/ATD-Website-Overview#ux-writing-resources

[2022-10-03 15:55] #217 closed

[2022-10-03 17:25] majkush opened #226 "ATD Website UX Writing (Landing Page & About Page)"
### Overview
The ATD website prototype is in a transition away from data-literacy modules. The UX Writing Resources have been developed to assist in accurate and consistent brand voice. The website prototype text needs to be revisited and updated where needed.

### Dependency
This is a medium-term project. A related, smaller, priority project is the development of carousel text for the website pro

[2022-10-04 01:40] Aparna1Gopal commented on #193
**Notes:**

Spoke to Sara B (UXR Lead TWE'22/ Internship Project, & ATD Alumni) regarding community network she may know in Nebraska. Will confirm with PMs during this week's team meeting and if this network (outside Los Angeles) is okayed, will sent our recruitment message to Sara B via email.

[2022-10-04 01:45] Aparna1Gopal commented on #191
Progress: "What is the current status of your project? What have you completed and what is left to do?"

The automated data collection on selected CKAN websites is currently under progress.
Discussed the progress on this issue (methods, preliminary insights) during ATD Demo Day in September'22

Blockers: "Difficulties or errors encountered."
None

Availability: "How much time will you have this we

[2022-10-04 06:21] Aparna1Gopal commented on #193
**Notes:**

- Posted a new message on Twitter for community outreach. Message below.
- Used hashtags this time to gain more traction. A short info regarding hashtag activism is also shared below (on the importance of using hashtags as an outreach/activism tool)

[Hashtag Activism](https://en.wikipedia.org/wiki/Hashtag_activism)

[Twitter Post](<blockquote class="twitter-tweet"><p lang="en" dir="lt

[2022-10-05 14:20] Aparna1Gopal commented on #192
Progress: "What is the current status of your project? What have you completed and what is left to do?"

Tasks currently working on:
- [ ] Formulating draft of Research Plan
- [ ] Circulate Research Plan amongst PMs for feedback
- [ ] Transferring research questions/ interview script to UsabilityHub
- [ ] Receive feedback from PMs and Project Leads
- [ ] Pilot test the Usability Hub unmoderated te

[2022-10-05 23:17] deepamohan22 commented on #208
@lrchang2
Progress : Standardized the screen size of Desktop version
Blocker :   Difficulty in standardizing the Mobile version
ETA :         One week

[2022-10-05 23:19] deepamohan22 commented on #208
[Access the Data Main Figma.zip](https://github.com/hackforla/access-the-data/files/9719525/Access.the.Data.Main.Figma.zip)

[2022-10-05 23:20] deepamohan22 commented on #208
![NewTextOnCards -Landing](https://user-images.githubusercontent.com/102125634/194181066-00fc9df2-121e-4088-97a0-5052ebde905b.png)

[2022-10-05 23:21] deepamohan22 commented on #208
![Uploading NewTextOnCards -Landing (1).png…]()

[2022-10-05 23:22] deepamohan22 commented on #208
![New version with dropdown menu](https://user-images.githubusercontent.com/102125634/194181261-38bef3b0-8685-4739-9766-9d4d15cc49be.png)

[2022-10-05 23:23] deepamohan22 commented on #208
![Uploading NewTextOnCards -Landing (2).png…]()

[2022-10-05 23:23] deepamohan22 commented on #208
![NewTextOnCards -Landing (2)](https://user-images.githubusercontent.com/102125634/194181356-9da39aa6-b0c0-4c3e-a937-46645d6bc607.png)

[2022-10-05 23:24] deepamohan22 commented on #208
![NewTextOnCards -Landing (3)](https://user-images.githubusercontent.com/102125634/194181507-62e1ccf3-0e5e-4f03-bc25-2773b34038d2.png)

[2022-10-06 14:33] majkush opened #227 "Website Carousel Text A/B Test"
### Overview
The carousels for the website prototype need to be updated due to the transition away from data-literacy modules that is taking place in the project. An A/B test of the carousels will be performed to optimize their usability.

### Action Items
- [x] Gather the overarching goal for the carousels and the total number of carousels needed
- [x] Define a goal for each carousel
- [x] Craft

[2022-10-06 14:33] majkush commented on #227
Note: The action items are being developed. What is on the issue at the moment is a draft. I will meet with Lucy to discuss further in the next few days.

[2022-10-07 02:25] mxajPrice opened #228 "Reach out to GitHub Python developers"
### Overview
We are having challenges finding a Python developer.  We need to follow up with Bonnie from the #70 on 20 September about reaching out to Python developers at GitHub.

### Action Items

- [ ] create write up for Python developer #213
- [x] Check in with @ExperimentsInHonesty about reaching out to GitHub
- [x] Discuss future of AtD with @ExperimentsInHonesty
- [x] reach out to Ayushi G

[2022-10-07 02:30] #219 closed

[2022-10-07 02:30] #220 closed

[2022-10-12 07:39] mxajPrice commented on #63
## 2022 October 11 - Team Meeting

### AGENDA
_Timezones listed as PDT._
_Note: the Zoom room will close abruptly at 18:00 to accommodate another Hack for LA meeting._

- [ ] 17:00 _50 min_- Review backlog

### Notes:

[2022-10-12 22:31] Aparna1Gopal commented on #192
Progress: "What is the current status of your project? What have you completed and what is left to do?"

Tasks currently working on:
- [x] Formulating draft of Research Plan
- [ ] Circulate Research Plan amongst PMs for feedback
- [ ] Transferring research questions/ interview script to UsabilityHub
- [ ] Finalize Research Plan after receiving feedback from PMs and Project Leads
- [ ] Pilot test t

[2022-10-12 22:34] Aparna1Gopal commented on #191
Progress: "What is the current status of your project? What have you completed and what is left to do?"

The automated data collection on selected CKAN websites is currently under progress.
Discussed the progress on this issue (methods, preliminary insights) during ATD Demo Day in September'22

Blockers: "Difficulties or errors encountered."
None

Availability: "How much time will you have this we

[2022-10-12 23:58] mxajPrice commented on #221
moving this to the backlog so I can focus on Python recruitment.

[2022-10-13 00:08] deepamohan22 commented on #208
@lrchang2
Progress : Standardized the screen size of Mobile version
Blocker :NO
ETA : One day

[2022-10-13 00:58] mxajPrice opened #229 "Create a poll for LinkedIn"
### Overview
We need to create a poll question to see who is interested in Open Source Data.

### Action Items

- [ ] Brainstorm at least 5 questions we can ask that we feel will engage LinkedIn users
- [ ] Review questions with team and vote on three best questions
- [ ] test questions with poll on Slack to General channel
- [ ] take most successful question, prep LinkedIn post, get approval from

[2022-10-13 02:05] hannahsgr commented on #229
Update: Brainstormed a list of potential LinkedIn poll questions and posted it in the UX research slack channel for discussion.

[2022-10-14 01:56] mxajPrice commented on #70
## 2022 October 13 - PM Meeting

### AGENDA
_Timezones listed as PDT._

- [ ] 14:00 _15 min_ Follow-up tasks from meeting with Bonnie
- [ ] 14:15 _10 min_ Issues clean-up

#### FYIs

#### Notes from meeting

#### Task Items

[2022-10-14 02:08] mxajPrice opened #230 "Create one-sheet to recruit Python developers"
### Dependency
- Do we need this? #213

### Overview
In the 11 October with Bonnie, Lucy, and aj, Bonnie asked that we create a one-sheet of exactly what is needed for our python role that we can use for recruitment.

### Action Items

- [x] Draft the one-sheet
- [ ] finalize with PMs
- [ ] Share with Bonnie

### Additional Resources
[draft of one sheet ](https://docs.google.com/document/d/1XBcjpk

[2022-10-14 02:23] lrchang2 commented on #230
@nyarly i have consolidated our project one sheet and information from #213, please look over it and provide any edits

[2022-10-14 02:28] #218 closed

[2022-10-15 08:10] Aparna1Gopal commented on #193
### Notes:

**Based on meeting with PM Lucy C on October 13, 2022 this is being closed.**

- The project is currently pivoting in a new direction based on the current requirements of Access the Data. This includes ATD’s Website redesign based on CKAN incorporation and pivoting from the prior education modules model

- The personas (data expert and community activist) were developed during the educ

[2022-10-15 08:10] Aparna1Gopal commented on #184
### Notes:

**Based on meeting with PM Lucy C on October 13, 2022 this is being closed.**

- The project is currently pivoting in a new direction based on the current requirements of Access the Data. This includes ATD’s Website redesign based on CKAN incorporation and pivoting from the prior education modules model

- The personas (data expert and community activist) were developed during the educ

[2022-10-15 08:11] #184 closed

[2022-10-15 08:17] #193 closed

[2022-10-18 17:33] deepamohan22 commented on #208
![Redesign _ april'22](https://user-images.githubusercontent.com/102125634/196503440-e15e7275-e025-4048-998b-d8aa76d14f6b.png)

[2022-10-18 17:34] deepamohan22 commented on #208
![Frame 626950 fixed the margin of images](https://user-images.githubusercontent.com/102125634/196503613-df18b8e3-681e-4ba3-9ab3-27c77606212c.png)

[2022-10-18 17:34] deepamohan22 commented on #208
![Frame 626950 fixed the margin of images (1)](https://user-images.githubusercontent.com/102125634/196503732-519c44ae-ff9e-4cf5-a40e-aee1502cde1f.png)

[2022-10-19 12:30] Aparna1Gopal commented on #191
Progress: "What is the current status of your project? What have you completed and what is left to do?"

The automated data collection on selected CKAN websites is currently under progress.
Discussed the progress on this issue (methods, preliminary insights) during ATD Demo Day in September'22

Blockers: "Difficulties or errors encountered."
None

Availability: "How much time will you have this we

[2022-10-19 12:31] Aparna1Gopal commented on #192
Progress: "What is the current status of your project? What have you completed and what is left to do?"

Tasks currently working on:

 Formulating draft of Research Plan
 Circulate Research Plan amongst PMs for feedback
 Transferring research questions/ interview script to UsabilityHub
 Finalize Research Plan after receiving feedback from PMs and Project Leads
 Pilot test the Usability Hub unmoder

[2022-10-19 12:33] Aparna1Gopal commented on #192
Progress: "What is the current status of your project? What have you completed and what is left to do?"

Tasks currently working on:
- [x] Formulating draft of Research Plan
- [ ] Circulate Research Plan amongst PMs for feedback
- [x] Transferring research questions/ interview script to UsabilityHub
- [ ] Finalize Research Plan after receiving feedback from PMs and Project Leads
- [ ] Pilot test t

[2022-10-19 23:35] mxajPrice commented on #213
@nyarly and @mxajPrice will be meeting with [Noor Grewal](https://www.linkedin.com/in/noorgrewal/) about helping on the development team today at 6:30pmPT.

[2022-10-19 23:47] mxajPrice commented on #63
## 2022 October 19 - Team Meeting

### AGENDA
_Timezones listed as PDT._
_Note: the Zoom room will close abruptly at 18:00 to accommodate another Hack for LA meeting._

- [ ] 17:00 _20 min_- Review Website tasks: Progress made, availability this month, blockers
    - _5 min_ - #191  - @Aparna1Gopal
    - _5 min_ - #192  - @Aparna1Gopal
    - _5 min_ - #227   - @majkush
    - _5 min_ - #188  - @nya

[2022-10-19 23:57] lrchang2 commented on #190
- Went through wiki and organized all pages based on if they fit "product" updates or were "team assets and tools".
- Also updated persona page to reflect what information is outdated and our research pivot

[2022-10-19 23:59] majkush commented on #227
@steffiekim and I are making progress. We met and discussed the first draft of the text. Steffie suggested adjusting the text so that it would work better with the A/B test design method. As a result, I created two sets of text, one that reflects the Empowerment brand principle and one that reflects the Simple brand principle. Text was then put into drafts on Figma to create visuals. Steffie is wo

[2022-10-20 01:59] mxajPrice opened #231 "Onboard Noor Grewal"
### Overview
Noor Grewal will be joining the Access the Data development team.

#### Onboard
- [x] Slack channel membership
  - [x] #access-the-data
  - [x] #access-the-data-website
- [x] Add to Google calendar invites
   - [x] #141
- [x] Google Drive
   - [x] Add to drive as Contributor
- [x] Roster
  - [x] Send link
  - [x] Team member adds themselves
  - [x] Check for Public
- [x] GitHub
     -

[2022-10-21 02:40] bkong opened #232 "Create Figma tutorial on creating and using reusable components for UX Designers"
### Overview
Figma designs are getting messy because reusable components are not being created and used consistently. Find an online tutorial that can bring any new UX designer up to speed on the topic and create a Wiki page that directs people there.

### Action Items

- [x] Find online tutorials on Figma components
- [x] Create Wiki page about the tutorial and learning objectives for it
- [x] Ad

[2022-10-21 02:45] lrchang2 commented on #190
@bkong and I:

- went through the figma and created a new page called "CURRENT Hi Fi Wireframe (Desktop and Mobile)" to put the most updated version of the wireframes.
- consolidated the home, about us, and contact page for mobile and desktop
- Bailey will find tutorials/resources to help designers use components
- We determined that going forward, updates to the most current mobile and desktop ve

[2022-10-24 17:33] majkush commented on #226
A draft of the website text for the landing page about the about page has been drafted. @lrchang2 requested that I focus on that text for now. Thus, the text is now open for feedback from the team and can be accessed via the link to 'website copy - draft Oct 2022' under the header Work in Progress in the issue.

[2022-10-25 01:26] LouismChan commented on #205
@lrchang2 The [Data Expert Detailed Persona](https://www.figma.com/file/IQCYJ4KyZ0lpJBbwZuPTcn/Data-Expert) in FigJam has been completed.  Next step is presentation and then revision upon receiving comments and suggestions.

[2022-10-25 05:03] steffiekim commented on #227
Drafted a survey experiment on Qualtrics and shared it with Matt. (preview [here](https://usc.yul1.qualtrics.com/jfe/preview/previewId/0488eac2-ea4f-4004-a54a-d15892e47241/SV_e8TlRFT16zTVizI?Q_CHL=preview&Q_SurveyVersionID=current))
If resources allow, additional questions from a [previous survey](https://docs.google.com/document/d/1c90PcsDjI3UCYdaGh-aHZQ6KjVrDvy1rGxkcXSMAGLE/edit) that wasn't lau

[2022-10-25 16:57] lrchang2 commented on #205
thanks so much @LouismChan! this is awesome, ill put you on the agenda to present this to the team tomorrow wednesday 10/26 during demo day

[2022-10-25 17:01] lrchang2 commented on #63
## 2022 October 26 - DEMO DAY

### AGENDA
_Timezones listed as PDT._
_Note: the Zoom room will close abruptly at 18:00 to accommodate another Hack for LA meeting._

- [ ] 17:00 _5 min_- Review of Access the Data vision -
- [ ] 17:05 _10 min_-
- [ ] 17:15 _5 min_-
- [ ] 17:20 _15 min_- Data Expert Detailed Persona #205  - @LouismChan
- [ ] 17:35 _10 min_- Discuss personal and professional goals and

[2022-10-26 03:06] Aparna1Gopal commented on #191
**Notes:**

- On Demo Day (September 28,2022), UX Researcher discussed the process of using MS Clarity to collect the data on these selected CKAN websites (advantages, disadvantages, reflections etc.)
- Met with Judson L from Dev to discuss the process of embedding tracking code using Google Tag Manager (Dev had follow-up questions from Demo Day)
- MS Clarity allows tracking analytics data on thir

[2022-10-26 03:17] Aparna1Gopal commented on #192
Notes:

Resources for Gap Analysis:

A Guide to Competitive Analysis for UX Design
Jill DaSilva
https://xd.adobe.com/ideas/process/user-research/guide-to-competitive-analysis-ux-design/

Top Things to Know About UX Competitive Analysis
Kim Purcell, uxplanet.org
https://uxplanet.org/top-things-to-know-about-ux-competitive-analysis-d91689fd8b36

[2022-10-26 14:42] Aparna1Gopal commented on #192
Progress: "What is the current status of your project? What have you completed and what is left to do?"

Tasks currently working on:
- [x] Formulating draft of Research Plan
- [ ] Cleaning up draft of Research Plan to send to PMs
- [ ] Circulate Research Plan amongst PMs for feedback
- [x] Transferring research questions/ interview script to UsabilityHub
- [ ] Finalize Research Plan after receivin

[2022-10-26 15:53] hannahsgr commented on #229
Update: Posted top questions with answers in the UX research Slack channel.