[2021-02-07 19:34] snooravi opened #1 "One-sheet for project"
### Dependency
~Waiting for logo #52~

### Overview
Write a one-sheet for the Data Literacy Project including milestones for the next 6 months.

### Action Items

- [x] Review 100Automations Project one-sheet
- [x] Review 311-Data Neighborhood Engagement Tool one-sheet
- [x] Produce First Draft of Data Literacy Project project
- [x] Prepare questions for review with Bonnie

### Resources/Instructi

[2021-02-07 19:40] snooravi opened #2 "Update Readme"
### Overview
Readme needs an update so that people thinking about joining our project know how to contribute.

### Action Items

- [x] Review the readme resource and figure out what we can include in ours.  Also look at the one for civic opportunity as an example
- [x] Update our readme
- [x] Send to Bonnie for review

### Resources/Instructions
[Hack for LA's default readme](https://github.com/ha

[2021-02-07 19:53] snooravi opened #3 "Create project card for Access the Data"
### Dependency
This can get closed when the issue has been completed on the Hack for LA website team
https://github.com/hackforla/website/issues/1315

### Overview
Provide collateral for the hackforla.org website

### Action Items
- [x]   Gather items
  - [x]  600 x 400 image
     - [x]  Alt image text
  - [x]  Name of project
  - [x]  A blurb about the project
  - [x]  Links (github, slack channe

[2021-02-07 19:58] snooravi opened #4 "Role Identification"
### Dependency
When we need more people

### Overview
We need to build a team for the Data Literacy Project site.

### Action Items
- [ ] Review the roles document
- [x] Identify initial list
- [ ] Add requirements to current needs doc

#### Template
[code]

### Resources/Instructions
OLD ~[General Role Definitions](https://docs.google.com/document/d/1X6d6-Sm_QDQPobiRfqachCSajAOpqRLVUsdCnczhhts/ed

[2021-02-08 16:09] snooravi opened #5 "Notify VRMS of DLP Team Meeting Times"
### Dependency
Project card to be added to website

### Overview
Need to decide on meeting times and VRMS needs to know details of DLP weekly team meetings

### Action Items
Notify VRMS of weekly team meetings once project card issue completed

### Resources/Instructions

[Project Card Issue](#2 )

[2021-02-08 16:21] snooravi opened #6 "DNS setup for Domain Name"
### Dependency
Choosing a name

### Overview

### Action Items

### Resources/Instructions

[2021-02-08 16:27] snooravi commented on #4
Need:
- PM
- DS (research and data crunching)
- UX lead (for survey building)
- any one interested in educational materials

[2021-02-09 22:32] ExperimentsInHonesty commented on #5
Tuesdays at 2pm PST, duration 1 hour

[2021-02-09 22:32] snooravi opened #7 "Create Domain Name"
### Overview
We need a domain name for this project to distinguish it from the other data literacy projects we will interact with

### Action Items
- [x] Try out domain names that convey
   - [x] learning or access
   - [x] data
- [x] Make sure the domain is available in .com, .net. org and the social is available
- [x] register domain name

### Resources/Instructions
Domain name chosen: accessthe

[2021-02-09 22:44] ExperimentsInHonesty commented on #3
600 x 400 image
 Alt image text
 Name of project
 A blurb about the project:
 Links (github, slack channel url, Testing Site, Live Site, etc.)
 Any resources for a Getting Started link (a link to a wiki, readme(s) or both)
 Leadership
 Name
 Role
 Slack Member ID
 GitHub handle
 What you are looking for skills wise #4
 Vertical: Citizen Engagement
 Partners
 Technologies
 Location
 Status: Active

[2021-02-10 00:48] ExperimentsInHonesty commented on #1
@snooravi I made a few minor wording changes and added a bunch of notes.  Looking forward to the next review.

[2021-02-10 02:01] #7 closed

[2021-02-10 16:28] snooravi commented on #1
@ExperimentsInHonesty Thanks for the comments! Went through it this morning--let me know what you think. I still plan to update the logo

[2021-02-23 21:31] snooravi commented on #4
Created note on DS board for a Data Analyst

[2021-02-24 06:08] snooravi commented on #1
@ExperimentsInHonesty The one sheet is updated based on the feedback from today. LMK what you think.

[2021-02-24 06:39] snooravi opened #8 "Comparative Analysis of Websites (different from data sources) and MVP Feature Prioritization"
### Dependency
Will update after each version of MVP

### Overview
We need to have a comparative analysis for data literacy websites so that we can evaluate possible features to include in our website and decide on the MVP features for the website.

### Additional Details
Websites can be commercial or government.

In the comparative analysis, cells are color coded based on keyword:
- "yes" = green

[2021-02-24 07:00] snooravi commented on #4
Created note on UI/UX board for UX Researcher for [Competitive Analysis](https://github.com/hackforla/access-the-data/issues/8#issue-815158676)

[2021-03-10 02:32] snooravi opened #9 "Develop Access the Data slides for "What is Hack for LA?""
### Overview
Develop Access the Data slides for What is Hack for LA?

### Action Items
Develop the narrative around the Problem, Solution and Impact.

### Resources/Instructions
Find the link [here](https://docs.google.com/presentation/d/1aIsAMQoAwE25vy4r2QJdfJBO1502RatUZ19D9gazhgM/edit#slide=id.gc5d641ce54_2_12) to the Access the Data slide.
Find the link [here](https://docs.google.com/presentati

[2021-03-10 02:35] snooravi commented on #9
@Olivia-Chiong Working on this for the main deck.

[2021-03-18 22:53] ExperimentsInHonesty commented on #1
@snooravi I made a new draft in the same folder
[Access the Data One Sheet - draft 3/18](https://docs.google.com/document/d/1bWWhI0Zuas22sdEEDC6sSuRYZ3gXiBZ8LuyNUmD_s7o) to take out the mayor's office since we don't have a rep from that department yet.

I also turned it into a pdf and put in the folder where we store those:
https://github.com/hackforla/product-management/tree/master/project-one-sh

[2021-03-18 22:56] ExperimentsInHonesty commented on #2
I changed the link to the one sheet to point at the pdf version instead of the previous draft.

Previous Draft
https://docs.google.com/document/d/1_CxBQ_ku4sanPIWKtPyENJ4E9hQKETQs8IWAOCzgqqk/edit
Current Draft
https://docs.google.com/document/d/1bWWhI0Zuas22sdEEDC6sSuRYZ3gXiBZ8LuyNUmD_s7o/edit

[2021-03-18 22:56] #2 closed

[2021-03-23 20:31] snooravi opened #10 "Initial Survey Creation"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2021-03-23 20:33] snooravi opened #11 "Resources for Ecosystem Mapping"
### Overview
Better understand the three major organization that will be involved in this project: neighborhood councils, neighborhood empowerment and the mayor's office

### Action Items
Develop Mapping / description or list of currently available resources for each.

### Resources/Instructions

[2021-03-23 20:57] snooravi commented on #5
Meeting time for Access the Data: Tuesday at 7pm

[2021-03-27 18:53] snooravi commented on #8
Template here: https://docs.google.com/spreadsheets/d/1ePxxsLpdC4MMvJICyMYljHawhs1j-hpFHZFOtB0fdDc/edit#gid=1259306930

[2021-03-27 18:59] snooravi commented on #11
Assign to Derek Plemons. Waiting on him to accept the github request

[2021-03-29 17:11] ExperimentsInHonesty commented on #3
Note: the hero image comes from here, we will need to provide credit if we continue to use the image https://thenounproject.com/term/dashboard/1035313/

[2021-04-03 18:05] snooravi commented on #11
@ExperimentsInHonesty Can we give Derek Plemons access to this repo?

[2021-04-03 18:05] snooravi commented on #11
Progress on mapping found (here)[https://docs.google.com/spreadsheets/d/1JKMw4BT-i4gUC73lRXxI5g4yWOxhQ5OOAhG58Ch1LqY/edit#gid=0]

[2021-04-03 18:08] snooravi commented on #8
Progress can be found [here](https://docs.google.com/spreadsheets/d/1JKMw4BT-i4gUC73lRXxI5g4yWOxhQ5OOAhG58Ch1LqY/edit#gid=0)

[2021-04-06 22:24] dplem opened #12 "Feature Suggestion:"
### Overview
As a data professional, I would like to hear from the neighborhood council members about their perspectives of data literacy. I propose creating a targeted survey for the neighborhood council members to identify current knowledge gaps, data resource sentiment, pain points, what they would like to see for LA data literacy?, What data products would they or do they find useful? and What

[2021-04-13 17:21] snooravi opened #13 "Wiki Comparative Analysis"
### Overview
Once we have gathered universe of resources relevant to neighborhood councils, empowerment, and mayor's office, we will need to translate that into a wiki page.

### Action Items
Check out, sort and determine best option

### Resources/Instructions
See [here](https://docs.google.com/spreadsheets/d/1JKMw4BT-i4gUC73lRXxI5g4yWOxhQ5OOAhG58Ch1LqY/edit#gid=603153564)

[2021-04-13 17:24] snooravi opened #14 "Ecosystem Maps C&C Analysis"
### Overview
We need to determine what visualization is best suited for showing the relationships between organizations that we are partnering with for this project.

### Action Items
Explore google for existing map visuals and see which one aligns best with the data we are trying to show. Do an analysis and make a recommendation.

### Resources/Instructions
See [here](https://docs.google.com/spre

[2021-04-22 00:08] MalakH21 commented on #14
some updates to this task can be found [here](https://docs.google.com/document/d/1m5IQS5UeJYh15c1jzCTaRM5t6R9hGPfDzOYLuW1L8Lg/edit)

[2021-04-22 00:14] snooravi opened #15 "Stack Ranked List of Data Visualization Tools"
### Overview
We need a list of available data visualzation tools with pros/cons to evaluate what we will build our workshop content on top of

### Action Items
List of data visualization tools with pros/cons to teach

### Resources/Instructions
Find here.

[2021-04-22 00:55] snooravi opened #16 "Explore Tableau Public & Floursih"
### Overview
- Reviewing existing visualizations in the gallery
- Integration and data solution & maintenance

### Action Items
List of visualization contenders coming from Tableau Public gallery
Understanding of how data feeds into Tableau Public visuals & how to maintain "freshness" of the data.

### Resources/Instructions
[Tableau Public Gallery](https://public.tableau.com/en-us/gallery/?tab=vi

[2021-04-22 01:00] snooravi opened #17 "Ecosystem Map Requirements Gathering"
### Overview

### Action Items
We need the the following:

- [ ] collection of the ecosystem map ([Data Resources](https://public.tableau.com/app/profile/derekplemons/viz/LosAngelesDataResourcesDashboard/LinksDashboard))
   - [ ] #35
   - [ ] the descriptions of the various organizations that play into the ecosystem
- [ ] workshop content (see [document ](https://docs.google.com/document/d/1j2kDVi

[2021-04-23 19:18] snooravi opened #18 "Setup Figma Account"
### Overview
Setup figma for access the data project

### Action Items
Create draft and add in developers before the free version is deprecated

### Resources/Instructions
see [here](https://www.figma.com/file/UI9sFlZiFx6WFhqghf0xRh/Access-The-Data?node-id=1%3A35)

[2021-04-25 18:45] qiqicodes commented on #3
repo ID: 330800079

Identification ID is found here:
https://api.github.com/repos/hackforla/access-the-data

Next time, can we have the repo ID provided in the issue? Also the wiki link to how to get the repo ID?

[2021-04-29 00:58] snooravi opened #19 "Topic list for Workshops"
### Overview
**Look through Julien's shared resources and pull out most frequently requested topics (datasets)**
Develop list of topics to bring to Julien for his input on what we should start developing.

### Action Items
Look at Data Liaisons workshops for inspiration and develop 10 topics for first round of workshops

### Resources/Instructions
https://empowerla.org/data/
[drive](https://drive.

[2021-04-29 00:59] snooravi commented on #19
1. Intro to Community Data (applications of open source datasets)
2. Deep dive into 311 (data collection, to data tables, to visualization)

[2021-04-29 01:00] snooravi commented on #19
@MalakH21 @dplem if you can add to this list before Friday. Thank you

[2021-04-29 01:48] dplem commented on #16
First draft of Tableau dashboards: https://public.tableau.com/profile/derekplemons#!/vizhome/LosAngelesDataResourcesDashboard/LinksDashboard?publish=yes

[2021-04-30 02:00] dplem commented on #19
1. What Data Visualizations / Dashboards are currently available?
2. What is Data Analysis?
3. How to search LA Open Data Portal
4. What is the Geohub?
5. How to make your own visualizations with Tableau/ Google Colab
6. How to gather raw data

[2021-05-06 00:16] snooravi commented on #19
https://docs.google.com/spreadsheets/d/1E-0M2iowTMZ7WAhgC3mnhmS3XJgDM_GRo4ZI-tZqSTU/edit#gid=0

[2021-05-06 00:33] snooravi commented on #16
Action: We chose Tableau Public

[2021-05-06 00:36] snooravi commented on #17
First draft of Tableau dashboards: https://public.tableau.com/profile/derekplemons#!/vizhome/LosAngelesDataResourcesDashboard/LinksDashboard?publish=yes

[2021-05-06 01:00] snooravi opened #20 "Ecosystem map for data sources"
### Overview
Pull data from [here](https://docs.google.com/spreadsheets/d/1JKMw4BT-i4gUC73lRXxI5g4yWOxhQ5OOAhG58Ch1LqY/edit#gid=1370034216) to create a visualization using Tableau Public that will live on the main page of the wiki.

[2021-05-06 01:03] snooravi commented on #20
First draft of Tableau dashboards: https://public.tableau.com/profile/derekplemons#!/vizhome/LosAngelesDataResourcesDashboard/LinksDashboard?publish=yes

[2021-05-13 00:29] MalakH21 commented on #19
Update - Using [Voyant](https://voyant-tools.org/?corpus=2b0181973b00abff7bad37e4018115b9&stopList=keywords-cce16a25ac78cbe136862401e24816a7&panels=cirrus,reader,trends,phrases,contexts) to get a preliminary idea of topic areas of interests from the feedback forms provided by Julien

Next steps - update/change analysis to include bigraphs and update topic list if needed based on findings

[2021-05-20 05:04] snooravi opened #21 "Update Project Profile: Access The Data"
### Overview
We need to audit the project card for HackforLA to reflect the team's current project status and information.

### Action Items

- [x] Review the project card on the HackforLA website
- [x] Convert [Google Doc](https://docs.google.com/document/d/1bWWhI0Zuas22sdEEDC6sSuRYZ3gXiBZ8LuyNUmD_s7o/edit) to PDF at https://github.com/hackforla/product-management
- [x] Open a new ticket on the H

[2021-05-27 18:39] snooravi opened #22 "Develop Style Guide for All Content Creation"
### Dependencies
[ADA Compliance #26](https://github.com/hackforla/access-the-data/issues/22#issue-904071304)

### Overview
We need a style guide to standardize the writing, format and design of the website and workshop content so that all products (such as documents, slides, webpages, social media, etc.) created under the Access the Data brand will have consistency.

### Action Items
All elements

[2021-06-09 04:54] snooravi commented on #22
@ujunwaa Any updates on this issue? Can you add any blockers you may have before tomorrow's meeting. Thanks!

[2021-06-09 04:55] snooravi commented on #17
@sherelyn-saceda @ujunwaa Any update on this issue? Please update this issue with your progress or any blockers before tomorrow's meeting. Thanks!

[2021-06-10 00:09] snooravi opened #25 "Get Requirements for ADA Compliance"
### Overview
We need to have access to WCAG guidance for our website and our courses.  So that we can be in compliance with the city requirements and reach the most people.

### Action Items

- [ ] Check in with the UI/UX community of practice on the state of their guidance. If it's not completed and the need is immediate start helping the community of practice by doing the following.
   - [ ] Tal

[2021-06-10 00:22] snooravi commented on #25
UI/UX community of practice is creating templates for this. Ali Kiani will check with Olivia/Bonnie

[2021-06-17 00:24] amkiani32 commented on #25
@ujunwaa any updates on this?

[2021-06-26 15:19] ujunwaa opened #26 "ADA Compliance Guide"
@ujunwaa any updates on this?

_Originally posted by @amkiani32 in https://github.com/hackforla/access-the-data/issues/25#issuecomment-862820680_

Sorry for the delay but I've compiled and referenced the guidelines to follow to keep the website accessible.

https://docs.google.com/document/d/1dFKJlIl5PGXzddXnm7dFCzFTReT8N9-HIq5DDvWlxQ8/edit?usp=sharing

[2021-07-08 01:04] snooravi opened #27 "User Personas for Website"
### Dependency
#8

### Overview
We need to create user personas for the website and wiki to make sure we are reflecting the community needs.

### Action Items

- [x] consult comparative analysis for websites #8
- [ ] review previous survey results from literacy workshops
- [ ] review EmpowerLA website redesign survey results
- [ ] synthesize results from both surveys
   - [ ] update research plan

[2021-07-08 01:07] snooravi opened #28 "Old and Proposed Workshop Content Review"
### Overview
We need to review all the previously delivered educational materials so that we can spot any improvements or other changes we would like to make.

### Action Items
- [x] Review Julien's old workshops and proposal and put notes into "Review of Julien Materials" doc
- [x] add comments/thoughts into into the prior years presentation (intro to community data 101)

### Resources/Instructio

[2021-07-15 00:28] ExperimentsInHonesty commented on #27
we can place a request into the empowerla.org newsletter.
Here is a link to the  [survey questions](https://docs.google.com/document/d/1j2BXEZI4LwXkJa0BO8dpx0wwnTLNBgqeqrprZTZoliM/edit) we asked with empowerla on the https://github.com/hackforla/community-survey-empowerLA-website/wiki/Process project

[2021-07-15 00:57] ExperimentsInHonesty commented on #17
find data, where are LA's data sets and where are the sites that use them
read data, which means understanding what data is and the aspects of the world it represents.
work with data, including creating, acquiring, cleaning, and managing it.
analyze data, which involves filtering, sorting, aggregating, comparing, and performing other analytic operations on it.
argue with data, which means using da

[2021-07-15 01:05] ExperimentsInHonesty commented on #20
@Jeremy-D @MalakH21 will work on adding other items to the schema (for instance: what is the resource - data set, data portal, data viz of a data set. what level use is it for, kind of data: homelessness data, 311, etc, )

[2021-07-15 01:29] lrchang2 opened #29 "team member access - one password,"
Bonnie gets Access the Data team one password via team [roster](https://docs.google.com/spreadsheets/u/1/d/1b97Np96EimkxicW83pwnYkn7uDd7fCD5H_6F21nOkg4/edit#gid=0)

[2021-07-15 03:33] asselabilova opened #30 "Assel, Lucy, Alyssa need access to Figma Account"
@asselabilova abilovadesign@gmail.com
@abryant35 bryanta574@gmail.com
@lrchang2 lrchang2@illinois.edu

[2021-07-19 00:36] abryant35 commented on #21
Acceptance testing

- [ ] Github
- [ ] Slack
- [ ] One Sheet - should be updated to new one sheet
   - [ ] Convert [Google Doc](https://docs.google.com/document/d/1bWWhI0Zuas22sdEEDC6sSuRYZ3gXiBZ8LuyNUmD_s7o/edit) to PDF at https://github.com/hackforla/product-management
 - [ ]  Looking for- remove UX Lead to build surveys
 - [ ] Partner
 - [ ] Language
 - [ ] Tools
 - [ ] Location
 - [ ] Team Mem

[2021-07-19 00:37] lrchang2 commented on #21
add team members to website with name, slack member ID, github handle and title found in [roster] (https://docs.google.com/spreadsheets/u/1/d/1b97Np96EimkxicW83pwnYkn7uDd7fCD5H_6F21nOkg4/edit#gid=0)

- [ ] Uju
- [ ] Assel
- [ ] Alyssa
- [ ] Jeremy
- [ ] Lucy

[2021-07-19 00:54] abryant35 commented on #25
Here is a link to the UI/UX Accessibility Guide. It is a work in progress.
https://github.com/hackforla/UI-UX/issues/16

[2021-07-19 01:07] abryant35 commented on #26
@ujunwaa Thank you for the comprehensive work!

[2021-07-19 01:07] #26 closed

[2021-07-19 01:11] ExperimentsInHonesty commented on #19
@MalakH21 @snooravi I met with Julien on Friday and moved the conversation forward a little bit, and put notes in the following file, which it seemed like the place that the suggested courses are listed: https://docs.google.com/document/d/1zTYQzvlmEHNxEq10hbArYJ3QxP7OTC1J1zAFWiKu6pA/edit?ts=60c3d070#heading=h.maby6z9cy9ag

[2021-07-19 01:16] ExperimentsInHonesty commented on #19
@MalakH21 @snooravi it looks like on May 12 it said the next steps were:

Did that get done?

Besides firming up Julien's understanding of what the workshops will be about  and which order... it would be good to get a list of the steps remaining.

[2021-07-19 01:20] ExperimentsInHonesty commented on #30
@ExperimentsInHonesty Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-07-19 01:42] ExperimentsInHonesty commented on #8
The work on this so far will definitely be helpful: https://github.com/hackforla/access-the-data/issues/8#issuecomment-812903495
And it needs to be in the traditional format of our Comparative and Competitive analysis so that we can add more detail and prioritization.

[2021-07-19 01:54] Jeremy-D commented on #28
Bonnie left notes on another issue related to this issue https://github.com/hackforla/access-the-data/issues/19#issuecomment-882153473

[2021-07-19 02:13] lrchang2 commented on #27
@asselabilova we have rewritten this issue to make it clearer for next steps.

[2021-07-21 21:21] asselabilova commented on #27
https://docs.google.com/spreadsheets/d/18ckXu8YsMP4HAsxbxW9Xdc99Bvnb7t2wEJD8yeJnPLk/edit?usp=sharing

comparative analysis for websites draft

[2021-07-21 21:22] asselabilova commented on #8
comparative analysis for websites draft

https://docs.google.com/spreadsheets/d/18ckXu8YsMP4HAsxbxW9Xdc99Bvnb7t2wEJD8yeJnPLk/edit?usp=sharing

[2021-07-21 22:49] asselabilova commented on #8
https://www.figma.com/file/6xUSdpvbOMeAuZKRDMSJpy/Access-the-Data-Comp.-analysis?node-id=0%3A1

comparative analysis UI for websites draft

[2021-07-22 00:18] #16 closed

[2021-07-22 00:21] snooravi commented on #16
Reviewed Tableau Public and Florish, landed on usage of Tableau for visualization purposes.

[2021-07-22 00:24] #6 closed

[2021-07-22 00:29] lrchang2 commented on #21
**name:** Lucy Chang
 **slack member ID:** U025WJ8CHFC
 **Github handle:** lrchang2
 **Title:** product manager

[2021-07-22 00:30] snooravi commented on #21
Sarah Nabelsi
Slack ID: U01J9V1H63F
github: Sarah Nabelsi
Title: Project Manager

[2021-07-22 00:30] abryant35 commented on #21
Alyssa Bryant
Slack ID :U026DETL43B
Github: abryant35
Title: Product manager

[2021-07-22 00:30] Jeremy-D commented on #21
Jeremy DeCarvalho
Slack ID: UFDG06RJQ
GitHub: Jeremy-D
Title: Data Analyst

[2021-07-22 00:31] asselabilova commented on #21
name: Assel Abilova
slack member ID: U026G6WV49K
Github handle: asselabilova
Title: UX/UI Designer

[2021-07-22 00:34] snooravi commented on #21
next steps:
- [ ] Convert Google [Doc](https://docs.google.com/document/d/1bWWhI0Zuas22sdEEDC6sSuRYZ3gXiBZ8LuyNUmD_s7o/edit) to PDF at https://github.com/hackforla/product-management

[2021-07-22 00:34] MalakH21 commented on #21
Name: Malak Hmimy
Slack ID: U01TL5WE7G8
GitHub: MalakH21
Title: Generalist

[2021-07-22 01:05] Jeremy-D opened #31 "Summarize Data Resources"
### Overview
In order to design a data literacy curriculum or data literacy website we need to have a fairly in depth understanding of the available data resources. Writing a brief summary of each data resource with a note about how it can contribute to either the workshops or the website.

### Action Items

- [x] Update schema in data resources file
- [x] Summarize all of the links in the provide

[2021-07-22 01:20] Jeremy-D opened #32 "Suggest Resources for the First Workshop"
### Dependency
#47

### Overview
In order to run a succesful workshop we will need to have a variety of resources that people can use. After gathering context and summarizing the data resources, the analyst team will be able to make suggestions on which resources might be most beneficial for the first workshop.

### Action Items
- [x] Provide curriculum developer with a list of resources and ratio

[2021-07-22 23:31] snooravi commented on #21
[Access the Data One Sheet .pdf](https://github.com/hackforla/access-the-data/files/6865915/Access.the.Data.One.Sheet.pdf)

[2021-07-22 23:34] #18 closed

[2021-07-22 23:35] #14 closed

[2021-07-22 23:35] #3 closed

[2021-07-22 23:35] #5 closed

[2021-07-22 23:39] #11 closed

[2021-07-22 23:39] #9 closed

[2021-07-22 23:41] snooravi commented on #19
**Open Data Portal for Tabular data**
Progress has been made! Last year this time there was about 300 datasets and now there are 2K+ datasets. Examples: List of active businesses, Building & safety permits, Arrest data from 2010 - present, Open bid opportunities.

- **TOPIC 1**: Active Business
- **TOPIC 2**: 311 Data

Zimas for Tabular and Graphical Data

- **TOPIC 3**: Zimas

[2021-07-22 23:42] #19 closed

[2021-07-24 18:50] ExperimentsInHonesty commented on #21
@abryant35 This is the new url for the access the data one sheet
https://github.com/hackforla/product-management/blob/master/project-one-sheets/Access-the-Data-One-Sheet.pdf

[2021-07-24 18:53] ExperimentsInHonesty commented on #21
@abryant35 Please open the new issue on hackforla website: https://github.com/hackforla/website/issues/new?assignees=&labels=&template=project-profile-card-review-and-update.md&title=Update+Project+Profile%3A+%5BProject+Name%5D and past a link to the new issue so I can check it before we ask them to prioritize.

[2021-07-25 15:15] abryant35 commented on #21
@ExperimentsInHonesty I have opened the issue for our team. The issue [url](https://github.com/hackforla/website/issues/2007)

[2021-07-27 21:18] ExperimentsInHonesty commented on #17
Types of Resources - as dictated by Jeremy and reinterpreted by Bonnie
Find LA data: where are LA's data sets
Sites that visualize LA data: where are the sites that use la data
Reading data: which means understanding what data is and the aspects of the world it represents.
Working with data: including creating, acquiring, cleaning, and managing it.
Analyzing data: which involves filtering, sorting

[2021-07-27 21:23] ExperimentsInHonesty commented on #17
Next steps for this issue is having @Jeremy-D @MalakH21 meet to determine suitabily descriptive label titles.  There are current a set in [la data sources workbook ](https://docs.google.com/spreadsheets/d/1JKMw4BT-i4gUC73lRXxI5g4yWOxhQ5OOAhG58Ch1LqY/edit#gid=1370034216) and some brainstorming during the meeting (see the last two comments preceding this note.

[Jeremy's notes](https://github.com/ha

[2021-07-27 21:26] ExperimentsInHonesty commented on #31
https://github.com/hackforla/access-the-data/issues/17#issuecomment-887844403

[2021-07-27 21:28] ExperimentsInHonesty commented on #31
@Jeremy-D @MalakH21 Please provide update on how ya'll are doing on the sorting out the labels to sort the various resources
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-07-27 21:41] ExperimentsInHonesty commented on #28
@Jeremy-D Sarah Alyssa and I reworded and reworked this issue so that the directive would be clearer.  Can you give us an update on if you understand it, and what your Availability and ETA to completion will be if you do.

[2021-07-27 22:03] ExperimentsInHonesty commented on #4
@abryant35 please add UI/UX designer opportunity to the open roles board https://github.com/hackforla/UI-UX/projects/3

[2021-07-28 16:03] abryant35 commented on #4
@ExperimentsInHonesty Can you add me to the open roles boards?

[2021-07-28 20:58] asselabilova commented on #8
https://docs.google.com/spreadsheets/d/18ckXu8YsMP4HAsxbxW9Xdc99Bvnb7t2wEJD8yeJnPLk/edit?usp=sharing

Progress on comp. analysis for Website.

I'm not sure if we started the comp. analysis for Workshop? Will we need a separate file for workshop analysis? Should we assign someone to work on workshop comp. analysis @snooravi? Since I will be focusing only on UX/UI for website. Thanks!

[2021-07-31 19:21] snooravi commented on #4
updated to look for 2 UI/UX and UI Designer

[2021-07-31 19:32] snooravi commented on #31
@Jeremy-D can we add these: https://www.lamayor.org/Homelessness-Data-and-Dashboards

[2021-08-03 21:40] ExperimentsInHonesty commented on #21
@MalakH21 Can we do another title other than generalist?

[2021-08-03 21:44] ExperimentsInHonesty commented on #8
@asselabilova Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-08-03 21:45] ExperimentsInHonesty commented on #30
Still need to add Lucy and Alyssa

[2021-08-03 21:52] ExperimentsInHonesty commented on #30
At the next team meeting each person on this issue needs to claim a designer number, update the title in 1password vault  for the account
Example:
from: designer56 Figma login - unassigned
to: designer56 Figma login - Bonnie

[2021-08-03 21:55] ExperimentsInHonesty commented on #28
@Jeremy-D Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-08-03 22:08] lrchang2 opened #33 "WEEKLY Clean up labels for all issues"
### Dependency
4/26/22

### Overview
Need to organize issues on board to have the right associating labels so we can manage velocity, capacity, delivery, and recruitment.

### Action Items

- [x] Make the label for "size: missing"
- [x] Make a label for "dependency missing" and add it to any issue in the icebox that does not have a dependency
- [x] make search filter to check for issues that do no

[2021-08-03 22:14] lrchang2 commented on #33
[all issues that are missing size](https://github.com/hackforla/access-the-data/issues?q=is%3Aissue+is%3Aopen+label%3A%22size%3A+missing%22)

[2021-08-03 22:25] lrchang2 commented on #33
set up size labels using Fibonacci
1,2,3,5,8,13
1 point = 6 hours
2 points = 12 hours
3 points = 18 hours
5 points = 30 hours
8 points = 48 hours
13 points = 78 hours

Have assignees tell us availability and eta of issue delivery and see if it aligns with the points

[2021-08-03 22:55] ExperimentsInHonesty commented on #31
@Jeremy-D @MalakH21 Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-08-04 02:43] lrchang2 commented on #29
Access the Data members have received access to 1password from Bonnie, may need to reopen to add more people as we recruit more members.

[2021-08-04 23:28] Jeremy-D commented on #28
I'm going to call this done based on the meeting Sarah, Malak and I had last week. Next step is to make an outline for the first presentation centered around 311 data.

[2021-08-04 23:29] MalakH21 commented on #21
yup, edited the comment

[2021-08-04 23:44] MalakH21 opened #34 "Research : Actions to be taken from 311 Data"
### Overview
Research : Actions to be taken from 311 Data Findings/ Insights

### Action Items

- [ ] Compile list of examples or suggestions of action items that can be taken by individuals or Neighboorhood Councils (or others from insighst found using 311 Data, mostly convey utility of the 311 Data

- [ ] Go to 311 Meeting / Talk to 311 Members to add to this initial research

[2021-08-05 00:32] asselabilova commented on #8
https://www.figma.com/file/UI9sFlZiFx6WFhqghf0xRh/Access-The-Data?node-id=1%3A2 - progress, started Information architecture

https://docs.google.com/spreadsheets/d/18ckXu8YsMP4HAsxbxW9Xdc99Bvnb7t2wEJD8yeJnPLk/edit#gid=0 - progress, looking at features.

[2021-08-05 00:33] #28 closed

[2021-08-05 00:40] snooravi opened #35 "add filter to the ecosystem map according to the labels in the la data sources workbook"

[2021-08-05 00:41] snooravi commented on #35
assigned to @MalakH21

[2021-08-05 00:43] #31 closed

[2021-08-10 21:35] snooravi commented on #34
@MalakH21 Please provide update

Progress
Blockers
Availability
ETA

[2021-08-10 21:38] snooravi commented on #8
@asselabilova to Offload this work to someone else during tomorrow's team meeting

[2021-08-10 21:39] snooravi commented on #32
@Jeremy-D Please provide update:

Progress
Blockers
Availability
ETA

[2021-08-10 21:54] ExperimentsInHonesty commented on #10
Replaced by issue #12

[2021-08-10 21:54] #10 closed

[2021-08-12 00:25] ExperimentsInHonesty commented on #21
@abryant35 please update this comment https://github.com/hackforla/website/issues/2007#issuecomment-892183607 with the new title for Malak

[2021-08-12 00:33] lrchang2 commented on #27
Closing out issue, the website persona will be citizens of a low data literacy, no other specific details to describe them.

After website launch, workshop personas can be built out with survey data from workshops.

[2021-08-12 00:46] lrchang2 opened #36 "Website Information Architecture"
### Dependencies
#8

### Overview
We need to create an information architecture for the website so we know where features go and can help can develop wire frames.

### Action Items

- [ ] Determine essential features based on the Comparative Analysis #8
- [ ] Develop information architecture

### Resources/Instructions
[figma for info arch](https://www.figma.com/file/UI9sFlZiFx6WFhqghf0xRh/Access-

[2021-08-12 01:01] lrchang2 opened #37 "Low/Mid Fidelity Website Wireframes"
### Dependencies
~#36~
~#77~
~#102~

### Overview
We need to develop and test low fidelity wireframe prototypes of the website to know how the website structure will be.

Low Fidelity = sketches, grey-scale
Mid Fidelity = clickable prototype, ~color~, a version of content

### Action Items

- [x] mobile version
   - [x] Use information architecture #36  to prototype low-fi web pages
      - [x] de

[2021-08-12 22:55] abryant35 commented on #21
I have updated Malak's title

[2021-08-16 21:13] lrchang2 commented on #30
Alyssa and Lucy have both chosen designer accounts. closing out issue

[2021-08-16 21:13] #30 closed

[2021-08-16 21:31] abryant35 commented on #21
Still waiting for issue to be updated by Hack for LA website team.

[2021-08-17 14:25] lrchang2 opened #38 "Draft a Research Plan for Neighborhood Council Member Survey"
### Dependencies
#12

### Overview
We need to create a guide for a research plan for the Neighborhood Council Member Survey so we know the direction of the survey.

### Action Items

- [ ] Research how to build a research plan and other examples of survey research plans
- [ ] Use the template provided to build out research plan for survey
   - [ ] Review and edit plan with team
- [ ] Develop [Neig

[2021-08-17 14:35] lrchang2 opened #39 "Develop Brand Guide for All Content Creation"
### Dependencies
~#52~
~#53~
~#54~

### Overview
We need a branding guide to make the Access the Data brand understandable and replicable.

### Action Items
All elements of the branding guide needs to be ADA compliant #26 .

- [x] Redesign current Access the Data Logo #52
   - [x] Logo study of organizations that work with data literacy
- [x] Color palette #53
- [x] Typography #54
   - [x] Typogra

[2021-08-17 15:12] lrchang2 opened #40 "Develop Front-End Style Guide"
### Dependencies
~#26~
#39

### Overview
We need a style guide for the website elements that follows the Access the Data brand guide #39 .

### Action Items
All UI components for the front-end style guide need to be ADA compliant #26 and branding guide #39

- [ ] buttons
- [ ] navigation and sub-navigation menus

### Resources/Instructions
[Web Content Accessibility Guidelines](https://www.w3.org/

[2021-08-17 17:23] lrchang2 opened #41 "High Fidelity Website Wireframes"
### Dependencies
~#37~
~#102~

### Overview
We need to develop and test high fidelity wireframe prototypes of the website to help validate the design of the website and be able to pass on design to developers to use as their guideline for website development.

high fi = color, real content

### Action Items

- [ ] mobile version
   - [x] Develop low/mid-fi website wireframes #37
   - [x] Build out

[2021-08-17 21:48] ExperimentsInHonesty commented on #32
Hi @Jeremy-D I was checking our the document you provided above.  It looks like its some articles about 311 data analysis.  Please also provide a list of all the 311 data resources available, which I think you already have via the data sources workshop, but it would be good to have all in this issue so that we can keep the information in one place.

Please provide update on when you think you will

[2021-08-17 21:50] ExperimentsInHonesty commented on #34
Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-08-17 21:58] ExperimentsInHonesty commented on #33
This issue will get reassigned and reviewed every week

[2021-08-17 22:11] ExperimentsInHonesty commented on #21
same - but I unassigned the person working on it and put it back into prioritized backlog

[2021-08-17 22:12] ExperimentsInHonesty commented on #39
people assigned want clarity on Personas #27 before they proceed.

[2021-08-17 22:56] ExperimentsInHonesty commented on #20
Apps or visualizations can be found here
https://geohub.lacity.org/search?collection=App
https://geohub.lacity.org/search?collection=App%2CMap (includes maps not just apps)
https://know-your-community-lahub.hub.arcgis.com/search?&collection=App

Data sets can be found here
https://data.lacity.org/browse
https://geohub.lacity.org/search?collection=Dataset
https://data.lacounty.gov/browse

[2021-08-18 14:58] lrchang2 commented on #27
previous survey results from literacy workshops:
[Copy of Introduction to Community Data - Pacoima, Satisfaction Survey (Responses)](https://docs.google.com/spreadsheets/d/163Zmmy7HxrpVbqOrj54L4yds5dWB5XiGXuPN7l__dTU/edit#gid=1717551687)
[Copy of  Introduction to Community Data, Satisfaction Survey (Responses)](https://docs.google.com/spreadsheets/d/1w7M_KcPleFTwtAGFFRnfPz2l4MKS07vzgU8lABGiDcg/edi

[2021-08-18 15:10] lrchang2 opened #42 "FAQs Sheet for Access the Data"
### Dependency
Living document that will have questions and answers added to them as they come.

### Overview
We need to create and document questions and answers about the Access the Data project so the team can be on the same page and common questions can be externally shared. This document would also aid in the onboarding of new volunteers for the project.

### Action Items

- [x] Crowdsource q

[2021-08-18 15:23] lrchang2 opened #43 "Player Map for Access the Data's Ecosystem"
### Overview
We need a map of all the players for Access the Data and how they are connected so we can have a comprehensive ecosystem map to share with anyone internally and externally, who we serve and who serves us.

### Additional Details
This will involve Sarah braining dumping all of her knowledge about players and partners.
First draft to be done in Miro.

### Action Items

- [ ] Get access

[2021-08-18 15:36] lrchang2 opened #44 "Categorize Players/Resources in Ecosystem Map"
### Dependencies
Need to finish Player Map #43

### Overview
We need to categorize and explain the types of players and resources that are displayed in the ecosystem map so people who are unfamiliar with it can understand how everything is connected.

### Action Items

- [ ] create categorizes of all the types of players
   - [ ] detail out definitions for categories
- [ ] sort players into catego

[2021-08-18 15:43] lrchang2 opened #45 "User Stories for Website"
### Dependency
~#27~
~#58~

### Overview
We need to build out user stories for the website as an extension of the persona that was defined by the stakeholder to help guide the design of the brand and website.

### Additional Details
Julien, the stakeholder for Access the Data, has defined the persona for the workshops and website as someone with low data literacy but an interest in learning how to

[2021-08-18 22:07] Jeremy-D commented on #32
HI @ExperimentsInHonesty and @snooravi I added the 311 data resources to the in [workshop plan ](https://docs.google.com/document/d/1W1WLLVAN8izVGgm5CsUwEZ43xc_2upMeXR3Q8l9GNd4/edit#) that's in progress. That should cover the first point of this ticket.

The point of including the [Articles and Resources](https://docs.google.com/document/d/1ETtQ45YuzQIlAsIX3A69KaLx9awsqucBRfqkgzn4hJI/edit) documen

[2021-08-18 22:26] Jeremy-D commented on #20
@snooravi @ExperimentsInHonesty
I filled in the "Education Resource Type" column for the [LA Data Resources](https://docs.google.com/spreadsheets/d/1JKMw4BT-i4gUC73lRXxI5g4yWOxhQ5OOAhG58Ch1LqY/edit#gid=431474547) spreadsheet, but I'd like to move updating the schema to the prioritized backlog while we focus on creating the first workshop based on 311 data. I think the schema is functional for what

[2021-08-19 01:08] snooravi commented on #34
Next steps to ask the 311 Data Team:
- Understand when the new version of 311data will be deployed
- Use cases of the 311 data visualization tool
- What was the thought process behind the export

[2021-08-23 21:37] abryant35 commented on #33
Issues have been updated to have correct labels.

[2021-08-24 21:10] snooravi commented on #34
@MalakH21 Can you please provide an update since the last time we spoke?

[2021-08-24 22:01] lrchang2 commented on #1
need to review and review one-page for 6 month update

[2021-08-24 22:01] ExperimentsInHonesty commented on #21
@abryant35 Open a new issue asking them to change the overview link to this pdf url https://github.com/hackforla/product-management/blob/master/project-one-sheets/Access-the-Data-One-Sheet.pdf

[2021-08-25 02:33] abryant35 commented on #21
I've created a new [issue](https://github.com/hackforla/website/issues/2177) to get the Overview updated to the One Sheet pdf. I do not appear to have authorization to add labels to this issue. This is the [old issue](https://github.com/hackforla/website/issues/2007) that is now closed.

[2021-08-26 00:34] snooravi opened #46 "Create 311 Data Manual / How-to Guide"
### Dependencies
 #47 #48 #49 #50 #51

### Overview
We want to build a how-to guide to help supplement the workshops that we are developing around 311. The how-to guide will be added to the website and be leveraged during the workshops as supporting content.

### Action Items
The How-to guide should include:
- [x] #47
- [x] #48
- [x] #49
- [x] #50
- [x] #51

### Resources/Instructions
[311 Data Wo

[2021-08-26 01:12] snooravi opened #47 "Background on how to use (Overview & Motivation)"
### Overview

In order to communicate effectively about the project we need to build an understanding of the context of 311 data especially in the context of the city of LA

### Action Items

- [x]  Summarize 311 data articles and research papers
- [x]  Compile a list of main points from the articles as well as other points that may not have been covered by the articles
- [x] Collaborate with work

[2021-08-26 01:12] snooravi opened #48 "How to Use: Feature 1 (Map)"
### Overview
Participants in the 311 workshop(s) should be able to navigate the Maps feature of 311 to utilize its visualization and information to take action(s) or influence change in their communities
### Action Items

Create a detailed guide with description steps and accompanying screenshots explaining how to use the Map feature on [311](https://www.311-data.org/data )

### Resources/Instruct

[2021-08-26 01:12] snooravi opened #49 "How to Use: Feature 2 (Data Visualization)"
### Overview
As an ____ I need to do ____ for _____ reason

### Action Items

### Resources/Instructions

[2021-08-26 01:12] snooravi opened #50 "How to Use: Feature 3 (Neighborhood Comparison)"
### Overview
As an ____ I need to do ____ for _____ reason

### Action Items

### Resources/Instructions

[2021-08-26 01:12] snooravi opened #51 "How to Use: Feature 4 (Data Export)"
### Overview
As an ____ I need to do ____ for _____ reason

### Action Items

### Resources/Instructions

[2021-08-27 02:59] lrchang2 opened #52 "Design System - Brand: Redesign Access the Data Logo"
### Dependency
~#129~

### Overview
As part of the Branding Guide, we need to revamping the Access the Data Logo to reflect our brand's personality.

### Additional Information
Brand Personality: Simple, Trustworthy, Empowering, and Friendly

### Action Items
Logo must be ADA compliant #26. For logos, color contrast does not matter. It will require the correct alternative text (alt="Company Logo")

[2021-08-27 15:11] lrchang2 opened #53 "Design System - Style Guide: Color Palette"
### Overview
As part of the Branding Guide, we need to choose a color palette for Access the Data to reflect our brand's personality in all products/resources created.

### Additional Information
Brand Personality: Simple, Trustworthy, Empowering, and Friendly

### Action Items
Color palette is required to have a certain level of color contrast to be ADA compliant #26. Use [color contrast checker]

[2021-08-27 15:14] lrchang2 opened #54 "Design System - Style Guide: Typography"
### Overview
As part of the Branding Guide, we need to choose a font for Access the Data to reflect our brand's personality in all products/resources created.

### Additional Information
Brand Personality: Simple, Trustworthy, Empowering, and Friendly

### Action Items
Typography is required to be ADA compliant #26.

- [x] text type
    - [x] headings: h1, h2, h3
    - [x] paragraph text
    - [x]

[2021-08-30 17:34] ElizabethWarninger commented on #45
WIP - Starting to define/visualize the **Goals & Motivations**. These will be used to create the **actions** for the user stories.
[Link to Figma Jam file](https://www.figma.com/file/nqls7mJsNB4w03wSfiVGLQ/Goals-and-Motivations-for-User-Map?node-id=0%3A1)

[2021-08-31 00:45] snooravi opened #55 "Questions for HFLA 311Data.org Team"
### Overview
We would like to understand the 311Data.org product, motivation and use cases that were thought of while building this product. As such, we have questions that we would like answered as we develop the content for the Data Literacy workshops.

### Action Items
Develop list of questions for the 311Data.org PMM team

### Resources/Instructions
https://311data.org/data

[2021-08-31 00:48] snooravi commented on #55
1. Timeline for new version implementation

[2021-08-31 00:50] snooravi commented on #55
Resources page [here](https://docs.google.com/document/d/1ETtQ45YuzQIlAsIX3A69KaLx9awsqucBRfqkgzn4hJI/edit)
Completed overview/motivation for 311 lives [here](https://docs.google.com/document/d/1W1WLLVAN8izVGgm5CsUwEZ43xc_2upMeXR3Q8l9GNd4/edit#)

[2021-08-31 00:51] snooravi commented on #47
Resources page [here](https://docs.google.com/document/d/1ETtQ45YuzQIlAsIX3A69KaLx9awsqucBRfqkgzn4hJI/edit)
Completed overview/motivation for 311 lives [here](https://docs.google.com/document/d/1W1WLLVAN8izVGgm5CsUwEZ43xc_2upMeXR3Q8l9GNd4/edit#)

[2021-08-31 21:25] abryant35 commented on #47
I moved this issue into the questions and review for the following reasons
1. Because it does not have any details in it and the title is not clear
2. IT has two links (resources for 311 workshop and details about 311-data.org)

[2021-08-31 21:39] abryant35 commented on #55
This was in the in progress column with no one assigned to it. If someone is currently working on this please self assign. If no one is working on this then it needs to be moved to prioritized backlog.

[2021-08-31 21:46] snooravi commented on #55
Done. Added my team. We are collectively working on this one, thanks!

[2021-08-31 21:48] abryant35 commented on #48
Please describe in a user story what this issue is about
As an ____ I need to do ____ for _____ reason

[2021-08-31 21:56] abryant35 commented on #49
@MalakH21 @snooravi Please describe in a user story what this issue is about
As an ____ I need to do ____ for _____ reason
And Add any information or links appropriate to understand this issue

It seems it has an epic issue #46

[2021-08-31 21:57] abryant35 commented on #50
@snooravi Please describe in a user story what this issue is about
As an ____ I need to do ____ for _____ reason
And Add any information or links appropriate to understand this issue

It seems it has an epic issue #46

[2021-08-31 21:57] abryant35 commented on #51
@snooravi Please describe in a user story what this issue is about
As an ____ I need to do ____ for _____ reason
And Add any information or links appropriate to understand this issue

It seems it has an epic issue #46

[2021-08-31 22:03] #25 closed

[2021-08-31 22:21] abryant35 commented on #17
We are consolidating everything from this issue and #20

[2021-08-31 22:21] #17 closed

[2021-08-31 22:30] abryant35 commented on #8
@jenny-gih Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of th

[2021-08-31 22:30] lrchang2 commented on #52
@joanna-pham Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of

[2021-09-01 03:57] ElizabethWarninger commented on #42
I've added to the Questions/Review because I added [questions 12 & 13.](https://docs.google.com/document/d/1eCXRhByy4qMJGd3PvWFbYFPJpEP1YcvR8rg7GRPzfCs/edit?usp=sharing) Thanks!

[2021-09-01 18:35] joanna-pham commented on #52
@lrchang2 @abryant35

Progress: Compiling rough drafts/sketches of logos.
Blockers: Artist block
Availability: I have a couple of logo designs at the moment; I am designing more but this issue can be completed if current designs are approved
ETA: (same as availability)
Pictures: [Figma file](https://www.figma.com/file/7fJTLIYR6vwQ50zISq4ueM/Access-the-Data?node-id=3%3A5)- logo page

[2021-09-01 23:05] jenny-gih commented on #8
Progress: completed comparative analysis and synthesized it into miro to prioritize features to consider for MVP
Blockers: Need the feature prioritization reviewed. Who can confirm this task is good to go?
Availability: 5-10 hours a week
ETA: by next week if reviewed
Pictures: see "Feature prioritization for MVP in Miro + gap analysis" link in resources in original post

[2021-09-02 00:07] MalakH21 commented on #46
completed how to use: feature 1 (map) - please provide feedback w/ comments

[2021-09-02 00:12] lrchang2 opened #56 "Presentation slides for the workshops"

[2021-09-03 21:04] ExperimentsInHonesty commented on #15
Julien said these are the tools he has used
PowerBI, Tableau, ArcGIS (map, webapp, dashboard), Excel, Google Sheets

[2021-09-03 21:54] ExperimentsInHonesty commented on #27
I have added a link above to the video that Julien recorded regarding our Audience for the website

[2021-09-06 21:29] lrchang2 commented on #8
@jenny-gih Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of th

[2021-09-06 21:29] lrchang2 commented on #52
@joanna-pham Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of

[2021-09-06 21:30] lrchang2 commented on #45
@ElizabethWarninger
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictu

[2021-09-06 21:30] lrchang2 commented on #53
@henrywang7 Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of t

[2021-09-06 21:30] lrchang2 commented on #56
@melissamurphy Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures o

[2021-09-06 22:13] joanna-pham commented on #52
@lrchang2 @abryant35

Progress: Almost done creating logos based on designers' feedback; trying to create different variations
Blockers: Artist block
Availability: I have enough time this week before showcasing Wednesday
ETA: By Wednesday
Pictures: [Figma file](https://www.figma.com/file/7fJTLIYR6vwQ50zISq4ueM/Access-the-Data?node-id=3%3A5) - logo page

[2021-09-06 22:15] abryant35 commented on #21
Issue is still pending review

[2021-09-07 16:53] ElizabethWarninger commented on #45
Hello!
Progress: Today I will be adding citations/back research to where I pulled the motivations & goals. I will also review the Interview with Julien about the audiences/user.
Blockers: Time until now. Also, I do not have access to the files from #27 - User Personas. Specifically, I would like access to 3 "Resources/Instructions" including the interview with Julien.
ETA: By the EOD today
Picture

[2021-09-08 01:42] jenny-gih commented on #8
Progress: reconciled and updated the comparative analysis sheet and prioritized features for MVP in Miro
Blockers: 1) need a catch up meeting with Lucy and Alyssa 2) Pending meeting with Jeremy D from Workshop team to get workshop features from them
Availability: 5-10 hours a week
ETA: by next week if reviewed
Pictures: see "comparative analysis for websites draft" and "Feature prioritization for

[2021-09-08 23:54] henrywang7 commented on #53
Progress: Made 4 first drafts of possible color schemes
Blockers: Would like to look at any wireframes/layouts if any have been made so far so I can get an idea of how the UI looks, and so I can better show how colors will be used
Availability: ~5 hours
ETA: Early next week
Pictures: ![Access the Data Color Schemes](https://user-images.githubusercontent.com/46332993/132600543-9d72e0f1-12eb-4c1d-92

[2021-09-09 00:06] MalakH21 commented on #34
archiving since this is addressed by a different issue

[2021-09-09 18:22] lrchang2 opened #57 "Create Onboarding Issue for New Members"
### Overview
We need a "good first issue" for any newly onboarded members so they can have all the permissions and access they need to contribute to the project.

### Action Items

- [ ] Identify roles that we will recruit for
- [ ] Create onboarding template
- [ ] Create onboarding issue for each role

### Resources/Instructions

[2021-09-10 17:53] joanna-pham opened #58 "User Interview Script"
### Overview
Creating a list of questions that will be asked during interviews.

### Action Items
Ask open ended questions to keep conversation going and create opportunities for the person to tell their stories to give critical insights and ideas.
A few tips to keep in mind:
• Don’t try to ask all of these, prioritize based on your research goals.
• For each answer, be sure to ask “why” or “why n

[2021-09-10 20:07] joanna-pham opened #59 "Framing the Problem"
### Overview
Understanding and defining the problem from all angles to keep track of who we're designing for.

### Action Items
Complete slide deck to determine what we're solving for.

### Resources/Instructions
[Google Slide: Framing the Problem](https://docs.google.com/presentation/d/1qIJbbSEfJkwczBWMeT0mymWVr5ZzZY9NePlQJ1NqlF0/edit?usp=sharing)

[2021-09-11 02:09] lrchang2 opened #60 "UX/UI Designer Onboarding"
### Overview
For any new UX/UI Designer joining the Access the Data, they need to be onboarded to the project.

### Action Items

- [ ] Familiarize yourself with the project
   - [ ] Read [Access the Data FAQ ](https://docs.google.com/document/u/1/d/1eCXRhByy4qMJGd3PvWFbYFPJpEP1YcvR8rg7GRPzfCs/edit)
   - [ ] Read [Access the Data One-Sheet](https://docs.google.com/document/u/1/d/1bWWhI0Zuas22sdEED

[2021-09-13 02:30] ElizabethWarninger opened #61 "Establishing the Knowns/Unknowns/Assumptions"
### Overview
Creating a shared board that includes the **Knowns, Unknowns & Assumptions** of the Access-the-data project. The purpose is to ensure the team is on the same page, citing research, and guiding future research decisions.

### Action Items
- [ ] Create a board that lists the **Knowns, Unknowns, & Assumptions** of the project.
- [ ] Check with the UX/UI Designers to review and add their

[2021-09-13 19:43] melissamurphy commented on #56
Progress:
- Researched formats for presentation (Canva, PP, Google Slides) and recommend Google Slides for its shareability, low cost, and ease of integration with existing project docs (i.e. Google Drive)
- Researched cognitive studies (8 processes of communication) and surveys of slide presentations to identify factors affecting attention & learning
- Outlined findings & recommendations

Refer t

[2021-09-13 20:06] lrchang2 commented on #57
Created continuous onboarding issue for UX/UI role #60

[2021-09-13 20:30] melissamurphy opened #62 "Research plan for website"
### Overview
Create a guiding plan for website research outlining goals, research questions, and methods. The plan is a collaborative team effort to align UX research considerations with those of all project stakeholders; and as a living document, it will be periodically revised as research proceeds.

### Action Items
Initial Writeup
- [ ] Refer to HackforLA guide to research
- [ ] Refer to preexi

[2021-09-13 21:30] lrchang2 commented on #61
@ElizabethWarninger consider making a new project in github under hackforla/access-the-data for this board as your software

[2021-09-13 22:06] lrchang2 opened #63 "WEEKLY All Team Meeting Agenda"
### Overview
This issue tracks the agenda for the Access the Data team meeting.

Team meetings are on Wednesdays at 5-6PM PST

Template:
Meeting Date

Participants :

Things to discuss:

Things discussed:

Actions to take:

### Weekly Agenda and Summary
[9/15/2021](https://github.com/hackforla/access-the-data/issues/63#issuecomment-918615358)
[9/22/2021](https://github.com/hackforla/access-the-dat

[2021-09-13 22:08] lrchang2 commented on #63
Agenda and Summary for Week of September 15 2021

Agenda:
- In the first 20 minutes of the meeting, 311 data PM, Pras demonstrates his product
- Go over issues in the "Reviews and Questions" column

Summary:

[2021-09-13 22:10] lrchang2 opened #64 "ATD: UX/UI Meeting Agenda and Summary"
### Overview
This issue tracks the agenda for the Access the Data team meeting.

Website meetings are on Thursdays at 4-5PM PST

### Weekly Agenda
[September 16, 2021](https://github.com/hackforla/access-the-data/issues/64#issuecomment-918619036)
[September 23, 2021](https://github.com/hackforla/access-the-data/issues/64#issuecomment-921522720)
[September 30, 2021](https://github.com/hackforla/acc

[2021-09-13 22:14] lrchang2 commented on #64
Agenda and Summary for Week of September 16 2021

Agenda:

Summary:

[2021-09-14 18:38] Jeremy-D commented on #55
- Are there any examples of searches done with the 311-data website from users? (Maybe from neighborhood council members or other users)

- Do we have google analytics set up for the site?

- How might we collaborate to give user feedback from workshops to the 311 data team? Would this be useful/helpful?

[2021-09-14 19:43] ElizabethWarninger commented on #61
@lrchang2 - Can you describe more about making a new project and board?

[2021-09-14 19:44] ElizabethWarninger commented on #61
[Figma Jam file with the start of making the assumptions board.](https://www.figma.com/file/2lUFaHgoJaJtotC8MAmW4f/Knowledge-Board?node-id=0%3A1)

[2021-09-14 20:54] #21 closed

[2021-09-14 21:20] lrchang2 opened #65 "test"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2021-09-15 00:16] snooravi opened #66 "Create Demo How-to Videos"
### Overview
For the average citizen who is seeing our tools for the first time, we would like to create a series of how-to videos to help guide them on how to use and navigate our tools, create accounts, and achieve the tasks that we are walking them through in the workshop. This will be important for the pre-work distribution and the workshop content to live on the website.

### Action Items
- [

[2021-09-15 00:17] snooravi opened #67 "Create necessary videos"

[2021-09-15 00:23] MalakH21 commented on #48
updated the comment, added requested information describing the issue

[2021-09-15 00:24] snooravi commented on #32
@Jeremy-D happy to do that. do you mind clarifying what that second point was referring to tho? is the the how-to videos for the pre-work or the activities during the sessions? i think we worked through at least one example in the workshop outline, right? [311 Data Workshop Outline](https://docs.google.com/document/d/1W1WLLVAN8izVGgm5CsUwEZ43xc_2upMeXR3Q8l9GNd4/edit#heading=h.ulbyr8p783iz)

[2021-09-15 00:57] snooravi commented on #48
Just needs reformatting, otherwise looks good! [here](https://docs.google.com/document/d/1c4HsQkk24zRFg_lrca5BCI88o8gNYbCiyD_mkjZE5Tg/edit#heading=h.ojyvhfpt0k21)

[2021-09-15 03:30] jenny-gih commented on #8
Progress: consolidated and/or removed duplicates in comparative analysis
Blockers: none, this is iterative
Availability: 5 hours a week
ETA: Next week
Pictures: see "comparative analysis for websites draft" and "Feature prioritization for MVP in Miro + gap analysis" links in resources in original post

[2021-09-15 17:40] jenny-gih opened #68 "Create and send out Survey"
### Overview
Create and send out survey to 1) find more information about potential users for access to data and 2) find potential users to interview

~#76~

### Action Items
- [x] Create survey - Complete
- [x] Have survey reviewed by team 9/20 week - Complete
- [x] Finalize survey - Complete
- [x] Send out survey - Pending
- [x] Create Survey Banner - Complete
- [x] Create recruitment survey mes

[2021-09-15 21:20] Jeremy-D commented on #32
@snooravi What I was thinking was examples using data from the open data portal, but actually we did cover this with the examples we have in the [how to guide](https://docs.google.com/document/d/1c4HsQkk24zRFg_lrca5BCI88o8gNYbCiyD_mkjZE5Tg/edit) that you and Malak put together. When I wrote that previous comment I wasn't sure how we were going to go about making the examples, but the how to guide

[2021-09-15 22:27] henrywang7 opened #69 "Create competitive interview questions"
### Overview
Create interview questions about competitor websites for user research.

### Action Items
Set of Interview questions about competitor websites
A set user flow/goal to ask the interviewee to do for the websites

[2021-09-15 23:02] henrywang7 commented on #69
Progress: Created first draft of research questions/user tasks, will ask for feedback next ui/ux meeting
Blockers: Need more details on all the competitive sites we are planning on testing with
Availability: ~4 hours this week

https://docs.google.com/document/d/1wWXpXx-c5z2f_krySVTivJUDeVIFUvLE3DGNqbpUTXI/edit

[2021-09-15 23:56] MalakH21 commented on #55
Can we access the data behind the NC's + Request Types people are currently making on the 311 site to better understand the areas of interest/goals of people currently coming to the site?

It's a bit difficult to use + make sense of the request types: Feedback [FBK], Other [OTH] given their ambiguity and the Map tool only showing the time of the request, do you have any tips/resources for users wh

[2021-09-16 00:54] MalakH21 commented on #46
updated : how to use: feature 1 (map) #48   +  use case 3 #50 [here](https://docs.google.com/document/d/1c4HsQkk24zRFg_lrca5BCI88o8gNYbCiyD_mkjZE5Tg/edit?usp=sharing)

note: overall doc formatting still wip

[2021-09-16 01:22] lrchang2 commented on #63
Week of September 22 2021

**Participants:**

**Things to discuss:**
Workshop update

**Things discussed:**

**Actions to take:**

[2021-09-17 06:02] lrchang2 commented on #64
September 22 2021
,
**Participants:**

**Things to discuss:**

- Review research questions for plan PMs have ideated on  #62
- review survey questions and places to send out survey #68
- review interview questions for open ended interview #58
- review competitive website usability questions, structure of interview and recruitment plan #69

**Things discussed:**

**Actions to take:**

[2021-09-17 15:19] lrchang2 opened #70 "WEEKLY PM Meeting Agenda"
### Overview
This issue tracks meeting agenda and summary for the Access the Data PM meetings.

#### Template for meeting Agendas
[code]

Website PM meetings are on Mondays from at 2-4PM PST
### Website PM Weekly Agenda and Summary

[September 20, 2021](https://github.com/hackforla/access-the-data/issues/70#issuecomment-921892110)
[September 27, 2021](https://github.com/hackforla/access-the-data/i

[2021-09-17 15:35] lrchang2 commented on #70
September 20, 2021
**Participants:** Lucy and Alyssa

**Things to discuss:**
- clean up issues #33
- See if we can find answers for [EmpowerLA survey ](https://docs.google.com/document/d/1j2BXEZI4LwXkJa0BO8dpx0wwnTLNBgqeqrprZTZoliM/edit)
- Develop Github wiki that includes: [UX/UI](https://github.com/hackforla/UI-UX) [VRMS](https://github.com/hackforla/VRMS/wiki/Join-the-Team)
   - how to join/onb

[2021-09-17 15:37] lrchang2 commented on #70
September 21, 2021
**Participants:**

**Things to discuss:**
- research plan overview (20 minutes)
- make milestone labels
- logo redesign

**Things discussed:**

**Actions to take:**

[2021-09-19 21:07] ExperimentsInHonesty opened #71 "Add the team meeting times to VRMS"
### Overview
We need to communicate our meeting times for this team show up on our Hack for LA homepage and in VRMS for team check-ins.

### Action Items
- [ ] Open issue on VRMS using the link below
- [ ] Check to see if once completed it shows the meetings on the Access the Data webpage
- [ ] Provide the following information for each meeting to Bonnie for her to add to a new system Civic Tech J

[2021-09-20 21:31] lrchang2 commented on #71
- day: Tuesday
- start_time: 4pm
- duration in minutes: 60 minutes
- name_of_meeting: PM Meeting
 - who_must_attend: pm
 - who_should_attend: pm
 - who_can_attend: all_leads

- day: Tuesday
- start_time: 5pm
- duration in minutes: 60 minutes
- name_of_meeting: UX/UI Meeting
 - who_must_attend: design_lead
 - who_should_attend: design, research
 - who_can_attend: frontend

- day: Wednesday
- start_

[2021-09-21 00:23] snooravi opened #72 "Compile list of examples or suggestions of action items that can be taken by individuals or Neighboorhood Councils (or others from insighst found using 311 Data, mostly convey utility of the 311 Data"

[2021-09-21 00:27] snooravi commented on #47
Final version found [here](https://docs.google.com/document/d/1W1WLLVAN8izVGgm5CsUwEZ43xc_2upMeXR3Q8l9GNd4/edit#)

[2021-09-21 00:27] #47 closed

[2021-09-21 00:27] #32 closed

[2021-09-21 00:30] snooravi commented on #55
Ask about any UX research surveys they did pre/post 311 data launch

[2021-09-21 00:48] snooravi opened #73 "Research Live Survey Tools"
### Overview
During our workshops, we might be interested in doing live polling, so we will need a list of free and easy to use polling software or tools to leverage.

### Action Items
Talk to folks in HFLA or otherwise to develop a list of tools and select one to use in workshops.

[2021-09-21 01:05] snooravi commented on #55
Understand when the new version of 311data will be deployed
Use cases of the 311 data visualization tool
What was the thought process behind the export

[2021-09-21 03:20] lrchang2 commented on #70
September 27, 2021
**Participants:** Lucy and Alyssa

**Things to discuss:**
- clean up issues #33
- develop product roadmap
- write website copy

**Things discussed:**

**Actions to take:**

[2021-09-22 06:14] melissamurphy commented on #68
Maybe we can create a "balanced" question (see example in #7 of the article below) to quantify 5 interest levels for our findings (e.g. "Would you be interested in getting more involved in community efforts? a. Very interested b. Interested c. Neither interested nor uninterested d. Uninterested e. Very uninterested"). "Please explain why" could be the following question for more depth.

*Article o

[2021-09-22 08:50] melissamurphy opened #74 "Provisional Storyboard for Website User"
### Dependency
Will be updated based on user research #62

### Overview
A storyboard provides a visual of user experience and supplies a common reference for the entire team.

### Action Items

Define provisional User Persona types based on latest discussion across Access the Data site & workshop teams and stakeholders:
- The person who knows nothing about data + has community causes they are pass

[2021-09-22 09:21] melissamurphy opened #75 "UX Research Protocol"
### Dependency
~#58~
~#69~

### Overview
A [basic UX research protocol](https://docs.google.com/spreadsheets/d/172I2Hxv3IBK7xJbCg0GfdaJ5hvlvXw8fPoeXk4TeIq8/edit#gid=1343433490) describes the objectives, guidelines, and procedure for a given user assessment.

### Action Items

- [ ] Create an essential user interview script (4 open-ended questions) that comprises the basic structure for semi-struct

[2021-09-23 00:01] MalakH21 commented on #46
updated #51 [here](https://docs.google.com/document/d/1c4HsQkk24zRFg_lrca5BCI88o8gNYbCiyD_mkjZE5Tg/edit#)

[2021-09-23 04:48] melissamurphy opened #76 "UX Survey Decision Log and Purposes"
### Dependency
#68

### Overview
Create a document that delineates the UX survey's goals and how survey questions these goals.

### Action Items
List UX survey questions
For each survey question, note the rationale behind its inclusion
Tie UX survey purposes to the research purposes (described in the UX Research Plan) and other project purposes at large
Align purposes with rest of team and stakeho

[2021-09-24 01:49] lrchang2 opened #77 "Card Sort For Website"
### Overview
We need to do a card sort of all the essential content for the MVP to see how to organize website content.

### Action Items

- [ ] Develop card sort

### Resources/Instructions

[2021-09-25 20:50] jenny-gih commented on #76
Progress: completed screener survey decision log
Blockers: Need Bonnie to review survey questions and decision log
Availability: 5 hours
ETA: by next week if reviewed
Pictures: see link in issue description

[2021-09-25 20:51] jenny-gih commented on #68
Progress: completed screener survey and added Hack for LA + Access the Data banner
Blockers: Need Bonnie to review survey questions and decision log
Availability: 5 hours
ETA: by next week if reviewed
Pictures: see link in issue description

[2021-09-27 21:18] lrchang2 commented on #70
September 28, 2021
**Participants:**

**Things to discuss:**
- New issue created https://github.com/hackforla/access-the-data/issues/71
- make milestone labels
- EmpowerLA survey answers and video recording

**Things discussed:**

**Actions to take:**

[2021-09-27 21:45] abryant35 commented on #69
@mathhomework Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of

[2021-09-27 21:50] abryant35 commented on #8
MVP version 1 has been completed. This issue will be moved to the ice box until it's time to work on version 2.

[2021-09-27 21:52] abryant35 commented on #36
@rdburck Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the

[2021-09-27 21:54] abryant35 commented on #59
@joanna-pham Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of

[2021-09-27 21:58] abryant35 commented on #58
@joanna-pham Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of

[2021-09-27 21:59] abryant35 commented on #62
@melissamurphy Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures o

[2021-09-27 22:03] PazauMoua commented on #52
Thank you

On Mon, Sep 27, 2021 at 3:01 PM Alyssa Bryant ***@***.***>
wrote:

--

*Pazau Moua*
UX | UI Designer
http://www.pazux.com

[2021-09-28 15:12] rdburck commented on #77
Progress: Reviewed the Beta NYC website to get an understanding of the model website that our stakeholders like.
Blockers: User research incomplete. Learning the users' needs and wants will guide the team in designing the content and information architecture for the website.
Availability: I'm available for approximately 6 hours this week. If desired, I can start a rough draft card sort based on th

[2021-09-28 15:13] rdburck commented on #36
Progress: Reviewed the Beta NYC website to get an understanding of the model website that our stakeholders like.
Blockers: User research incomplete. Learning the users' needs and wants will guide the team in designing the content and information architecture for the website.
Availability: I'm available for approximately 6 hours this week. If desired, I can start a rough draft card sort based on th

[2021-09-29 05:22] mathhomework commented on #69
Progress: None.
Blockers: Unsure about whether this should be a priority considering this leads to interviewing which will take a fair amount of time. Meanwhile, we have 10 user interviews for user research that I think should be higher priority. The results of that will inform for tickets dependent on this one, at least for the first MVP iteration.
ETA: None.

[2021-09-29 16:40] ElizabethWarninger commented on #74
WIP - [Figma Jam file of the start of the Storyboard for the second persona listed.](https://www.figma.com/file/dF0R94T9OHvqLjBQcVnzoU/Persona-Storyboarding?node-id=0%3A1)

[2021-09-29 20:04] joanna-pham commented on #59
Progress: Completed slides to best of my knowledge on project. Need to be reviewed by PMs and/or stakeholder
Blockers:
Availability:
ETA:
Pictures:

[2021-09-30 00:07] lrchang2 commented on #68
@jenny-gih Bonnie will share survey with Julien. She suggests cover picture be customized to Access the Data (aka don't use the picture from Hack for LA)

[2021-09-30 00:20] lrchang2 commented on #70
September 27, 2021
**Participants:**

**Things to discuss:**

**Things discussed:**

**Actions to take:**

[2021-09-30 00:21] lrchang2 commented on #70
October 5, 2021
**Participants:**

**Things to discuss:**

**Things discussed:**

**Actions to take:**

[2021-09-30 02:14] abryant35 commented on #63
Week of September 29 2021

Participants:
Lucy, Alyssa, Malak, Melissa, Elizabeth, Joanna, Richard, Andrew, Henry

Things to discuss:

Workshop team will update website team on their work
Revisit MVP prioritization and go through features "could have" and "should not have" in Comparative Analysis of Websites (different from data sources) and MVP Feature Prioritization  #8
Things discussed:

Actions

[2021-09-30 22:17] abryant35 commented on #64
September 30 2021
,
Participants:
Alyssa, Lucy, Melissa, Joanna

Things to discuss:

Things discussed:

Actions to take:

[2021-09-30 23:13] lrchang2 commented on #63
@abryant35 look at this

[2021-10-01 19:42] ExperimentsInHonesty commented on #68
@lrchang2 I spoke to Julien. they will put a link for us into the newsletter.  We need to write the text and they can't tell us when the deadline is because right now its very unpredictable.

[2021-10-04 02:05] PazauMoua commented on #54
Progress: Typography selected - Group approval?
Pictures: See [Google Doc ](https://docs.google.com/document/d/1N1Eo3nCERoPhMnKvKCkRFVXHBg2xt_AorQO1GZ6JWJ0/edit?usp=sharing)for Typography choices

[2021-10-04 02:10] PazauMoua commented on #53
Progress: Still working on it - Looking at Henry's colors
Blockers: None at the moment
Availability: Will have update with accessibility and color palette posted by Monday 10/04 9pm
ETA: Monday 10/04 9pm
Pictures:

[2021-10-04 02:11] PazauMoua commented on #52
Progress: Digitalizing logo ideas
Blockers:
Availability: By Wednesday 10/06 9pm
ETA: Wednesday 10/06 9pm
Pictures:

[2021-10-04 15:44] melissamurphy opened #78 "UX Participant Recruitment"
### Dependency
#99

### Overview
Outline channels of recruitment for user research (user interviews, card sort, survey) and evaluate their feasibility and relevance to our project. Write a recruitment message and create a template to track and schedule respondents.

### Action Items
- [x] Confirm participant criteria
- [x] Background reading on UX recruitment practices
- [x] Brainstorm (on figjam)

[2021-10-04 17:29] jenny-gih commented on #68
@lrchang2 I've updated the banner in the survey. Let me know if you want any changes.

[2021-10-04 22:23] lrchang2 commented on #69
closing issue, unnecessary research for what we've determine for website MVP

[2021-10-04 22:23] #69 closed

[2021-10-04 22:41] abryant35 commented on #63
Week of October 6 2021

Participants:

Things to discuss:

Vote on #54

Things discussed:

[2021-10-04 23:00] Jeremy-D opened #79 "Create More Activities for the First Workshop"
### Overview
In order to engage participants in learning about 311 data, the workshops team has decided to create the first 311 data workshop with a focus around homelessness in Venice, CA.

### Action Items
- [x]  Look up media articles about homelessness in Venice
- [x] Create data story about homelessness in Venice with 311 data and media resources
- [ ] Create activities that create an opportu

[2021-10-04 23:03] ElizabethWarninger commented on #74
@lrchang2 & @abryant35, what do you think about adding both the **Stakeholder** and **Potential Funders** as new personas? [Per the updated MVP V1 & V2. ](https://github.com/hackforla/access-the-data/wiki/Progress-of-Project). We can discuss if they should be added to our personas to understand their motivations/needs/goals/pain points and if a storyboard would be helpful as well. @melissamurphy &

[2021-10-04 23:16] lrchang2 commented on #74
@ElizabethWarninger the needs for the stakeholder is to show "tangible progress on our project" and for potential funders, we can replace that with Bonnie, cause she may potentially use the website to present to funders. But the needs for the funders are the same as users who would want to know the purpose and potential of the project.

since there is overlap, i don't think their needs warrant a p

[2021-10-04 23:20] lrchang2 commented on #36
@rdburck this version of the info arch that you are doing, is for MVP V1, which is a purely informational static website (see defined users and deliverables for MVP V1 [here](https://github.com/hackforla/access-the-data/wiki/Progress-of-Project). So no additional user research is needed for this phase and the content that we have defined in the competitive analysis has been confirmed by all stakeh

[2021-10-04 23:22] lrchang2 commented on #77
@rdburck based on, [comment on #36](https://github.com/hackforla/access-the-data/issues/74#issuecomment-933925880), please continue with developing a card sort test.

[2021-10-04 23:26] abryant35 commented on #54
@PazauMoua The team will vote on their favorite option at the next team meeting on Wednesday

[2021-10-04 23:30] abryant35 commented on #76
Closing due to survey questions being confirmed

[2021-10-04 23:30] #76 closed

[2021-10-04 23:33] abryant35 commented on #62
@melissamurphy Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures o

[2021-10-04 23:37] abryant35 commented on #58
@joanna-pham Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of

[2021-10-04 23:40] abryant35 commented on #68
@jenny-gih The updated banner looks great! We are going to push it out as is.

[2021-10-04 23:42] abryant35 commented on #59
@joanna-pham @lrchang2 and I reviewed the slides and added comments.

[2021-10-04 23:44] abryant35 commented on #61
Tabling this issue to focus on storyboard #74 issue

[2021-10-05 03:51] ElizabethWarninger commented on #74
@lrchang2, thanks for your response and clarifying and stating the needs of the stakeholder.

[2021-10-06 01:39] PazauMoua commented on #53
Progress: Need to vote at meeting on options
Blockers:
Availability:
ETA:
Pictures
![COLOR PALETTE OPT 1 BOLD](https://user-images.githubusercontent.com/90879134/136127090-aa7a0821-9209-4663-946b-957c0e84c0d8.jpg)
![COLOR PALETTE OPT 2 BRIGHT](https://user-im
![NEUTRAL](https://user-images.githubusercontent.com/90879134/136127111-d39558a6-9053-467e-b440-2f141838dcb3.jpg)
ages.githubusercontent.com

[2021-10-06 06:10] melissamurphy opened #80 "UX Field Study"
### Overview
We need to review the sites gathered during the [comparative analysis ](https://docs.google.com/spreadsheets/d/1_cx15yObwAl3KZYJjDgqjXd7Njw2D05BfcSc1eGZDtU/edit#gid=1172277014) to find opportunities to improve user experience of data literacy programs.

#### What is a field study
Especially suitable for big-picture insights at the start of the design process, a field study tracks a us

[2021-10-06 15:40] melissamurphy commented on #62
Progress: We need to revisit the main research questions together to our current concerns and new roadmap as of yesterday and current concerns.
The research plan was reviewed and revised with the workshop team 2 weeks ago. It is approved by Bonnie and remains to be seen by Julien (possibly this Friday 10/8).
Blockers: Waiting on card sort and possible further field study (contextual inquiry) issue

[2021-10-06 16:03] melissamurphy commented on #53
@abryant35 Suggest having this issue follow Storyboarding in the meeting. Storyboards will be presented today and will serve to 'Identify target market and message to target market' [mentioned as a step in this issue] if discussed directly before the Color Palette review.

[2021-10-06 17:54] melissamurphy commented on #74
Background research updated with outside theories of data literacy personas.

[2021-10-07 05:18] rdburck commented on #36
Progress: Card sort study of 20 cards created on optimal workshop (see comment on issue #77)
Blockers: Personal issues outside of Hack for LA. Also to me it also looks like a content inventory was already done. Do you want me to do a new one? I also kind of feel overwhelmed with looking over all the work that has already been done and trying to figure out where you want me to pick up. Maybe a one-

[2021-10-07 18:28] lrchang2 commented on #36
@rdburck thank you for the update. more than happy to have a one-on-one with you. if you are coming to today's meeting, when we do breakout rooms, we have have a one-on-one.

For the card sort, since we have an aggressive deadline to meet to launch V1, we are going to move that to a group activity that we will do during the meeting. with those insights from the group, you can use that to create th

[2021-10-07 21:47] mathhomework commented on #78
@lrchang2 @abryant35 Do we have a team email from which we could send/receive responses?

[2021-10-08 07:56] melissamurphy commented on #77
<img width="1372" alt="Group Card Sort AtD 100821" src="https://user-images.githubusercontent.com/54216219/136519311-d1095737-9065-43c6-90cd-5a5426329161.png">
Picture of common skeleton emerging from today's card sort during meeting (5 minutes allotted for individual card sort completion)

[2021-10-08 09:22] melissamurphy commented on #77
<img width="647" alt="Screen Shot 2021-10-08 at 2 21 09 AM" src="https://user-images.githubusercontent.com/54216219/136531767-39f19304-224f-480a-bd21-0f3f555629ae.png">

[2021-10-08 09:26] melissamurphy commented on #37
From [Card Sort for website](https://github.com/hackforla/access-the-data/issues/77) at today's website team meeting
<img width="1372" alt="Group Card Sort AtD 100821" src="https://user-images.githubusercontent.com/54216219/136532052-2b4a6732-abd6-4cd6-9630-1c33dcdecf29.png">

[2021-10-08 09:37] melissamurphy commented on #37
[Sitemap in Figma](https://www.figma.com/file/nS5IqnutUT2FuPwwJObHaY/Access-the-Data-Main-Figma?node-id=2%3A7) based on above Card Sort

<img width="647" alt="Screen Shot 2021-10-08 at 2 21 09 AM" src="https://user-images.githubusercontent.com/54216219/136533666-1effc163-30e5-45f5-8157-e7da61b4cb84.png">

@henrywang7 @mathhomework @miguel-hugo @lrchang2 @abryant35

[2021-10-11 22:54] mathhomework commented on #77
@melissamurphy Is this site map above what we are going to use for the wireframes?

[2021-10-12 20:50] lrchang2 commented on #78
@mathhomework the email is: accessthedata@hackforla.org and the budget is $0.00 for recruitment

[2021-10-12 20:55] jenny-gih opened #81 "Create Design System for Website"
### Overview
Create design system for website

### Action Items
Look into design systems
Review and leverage Hack for LA's design systems
Create Access the Data Design system

### Resources/Instructions
Link to design system TBD

[2021-10-12 21:10] ExperimentsInHonesty commented on #1
@abryant35 Add the link to the current published one sheet (pdf) and google doc.  And add this to next weeks pm meeting

[2021-10-12 21:42] ExperimentsInHonesty commented on #36
@melissamurphy the image above of the site.  Where is the original?  Please provide link

[2021-10-12 21:46] ExperimentsInHonesty commented on #68
@jenny-gih Please provide the message as a google document with text, so that we can review it.

[2021-10-12 21:48] ExperimentsInHonesty commented on #58
@joanna-pham Please provide update or let us know if you cannot work on this issue so we can reassign it
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-10-12 22:00] jenny-gih commented on #68
Great idea, I've put the variations in a word doc and updated the link above for your review. Thanks!

[2021-10-12 23:20] lrchang2 opened #82 "User Research Feedback Presentation for Julien"
### Overview
We (research/design leads) need to create a 5 minute presentation about the research questions and personas for the user research for the stakeholder, Julien, to get feedback and consensus on the direction of the user research.

### Action Items

- [x] Look at example stakeholder presentations
- [x] Develop powerpoint presentation
- [x] Get feedback from Bonnie and PMs about presentat

[2021-10-12 23:22] lrchang2 commented on #82
@joanna-pham @melissamurphy please link powerpoint within this issue

[2021-10-12 23:38] ExperimentsInHonesty commented on #68
@jenny-gih I added a comment to the document.  The graphics are awesome looking,!  We will need language that provides context about the project to go into the Empower.la newsletter.

[2021-10-13 01:39] melissamurphy commented on #74
@ExperimentsInHonesty There is no one checklist for this issue as we produced 3 distinct storyboards--each of which had to run through the steps (which was originally bulleted for this reason) by a distinct person.
How might we note a set of requirements/steps that apply to 3 different team members and results?

[2021-10-13 01:51] melissamurphy commented on #36
The issue description and the image above now link to original Figma file for site map.

[2021-10-14 00:37] snooravi opened #83 "Exploratory Analysis on MyLA311 Service Reqest Data 2020"
### Overview
Analyze [MyLA311 Service Request Data 2020](https://data.lacity.org/City-Infrastructure-Service-Requests/MyLA311-Service-Request-Data-2020/rq3b-xjk8), a public dataset available for preview and download (1,491,773 records, 34 feature columns), to understand what kind of stories (insight) we could tell based on it

### Action Items

- [x] Dataset preprocessing, overview check NA, dupli

[2021-10-14 22:53] PazauMoua commented on #52
Progress: working on abstract concepts and then doing second round edits (adding color)
Blockers: need to finalize colors
Availability: working on this today (10/14) through weekend (along with color and mood boards
ETA: Tues 10/19 9pm
Pictures:

[2021-10-14 22:56] PazauMoua commented on #54
Progress: working on type combos/pairings
Blockers: NA
Availability: Working on this today through weekend
ETA: Tuesday 10/19 9pm
Pictures:

[2021-10-14 23:51] PazauMoua opened #84 "Create Mood Boards"
### Overview
We need to create different mood boards to help find different options for branding.

### Additional Information
Brand Personality: Simple, Trustworthy, Empowering, and Friendly

### Action Items
Include examples of:

- [x] pictures/images/graphics
- [x] color palettes
- [x] typography
- [ ] branding design

[2021-10-18 22:52] abryant35 commented on #82
@melissamurphy @joanna-pham Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add a

[2021-10-19 00:06] MalakH21 commented on #46
10/18
- content done see [here](https://docs.google.com/document/d/1c4HsQkk24zRFg_lrca5BCI88o8gNYbCiyD_mkjZE5Tg/edit#), still, need to (1) format w/ arrows + (2) format appendix with reference definition of NC vs CC
- completion eta: 10/19

[2021-10-19 00:47] snooravi opened #85 "Review of and Team Walkthrough of ArcGIS tool"
### Overview
We will need to understand how to use the ArcGIS tool in order to structure and understand how data is visualized in this tool.

### Additional Information
- #128  finalize story for 311 workshop and be ready to identify requirements for visualization tools

### Action Items

- [ ] Play around with [ArcGIS](https://www.esri.com/en-us/arcgis/products/create-account) with LA data
- [ ]

[2021-10-19 00:51] #48 closed

[2021-10-19 00:51] #49 closed

[2021-10-19 00:51] #50 closed

[2021-10-19 00:52] #51 closed, assigned to nobody

[2021-10-19 00:52] snooravi commented on #46
This issue is complete and we will move into phase 2: minor tweaks, formatting, etc

[2021-10-19 00:52] #46 closed, assigned to nobody

[2021-10-19 00:55] snooravi opened #86 "Review of 311data.org How to Guide"
### Overview
We have changed the story line of the 311Data workshop and as such, need to update screenshots in the how-toguide to reflect.

### Action Items

- [ ] Review for spelling and formatting changes
- [ ] Update screenshots

### Resources/Instructions
[How To Guide](https://docs.google.com/document/d/1c4HsQkk24zRFg_lrca5BCI88o8gNYbCiyD_mkjZE5Tg/edit#)

[2021-10-19 01:01] snooravi commented on #83
Things we need:

- [ ] Where are we getting our data from / how are we handling data limitations
- [ ] Do we need an export from the 311data team?
- [ ] Are we using the visualizations in the tool? or some other tool?

[2021-10-19 21:09] #82 closed

[2021-10-19 23:08] abryant35 commented on #63
Week of October 20, 2021

Participants :

Things to discuss:

Things discussed:

Actions to take

[2021-10-19 23:48] mathhomework commented on #82
Notes from the meeting:
https://docs.google.com/document/d/1HlWS5TNYHgLNo57g05dQEvQ7pKju-WidlHMBMkCbmQI/edit

[2021-10-19 23:52] lrchang2 opened #87 "Website Copy"
### Dependency
~- #102~
- #106 - need for origin story copy

### Overview
Based on information architecture, we need develop usable website copy that can be applied to the wireframes.

### Additional Information
Brand Personality: Simple, Trustworthy, Empowering, and Friendly

Goals for Copy:
1. people who visit the website have a clear understanding of what Access the Data is as a project and who

[2021-10-20 03:17] PazauMoua commented on #84
![Mood Board v1](https://user-images.githubusercontent.com/90879134/138022518-9369bf09-ebc0-45f1-a71f-a738092819eb.jpg)
![Mood Board v2](https://user-images.githubusercontent.com/90879134/138022522-13c5ece8-94cf-488f-9960-0460511fcde7.jpg)

[2021-10-20 20:33] melissamurphy commented on #78
Progress: Message was flagged as spam. Took link out of message and a number of rewrites, but no success yet.
Blockers: Unknown why our message is automatically flagged as spam. Will need to look into this further (and possibly find alternatives)
Availability: 3 more hours this week (outside of meeting times).
ETA: This week.

[2021-10-21 01:02] lrchang2 commented on #64
October 14, 2021

Things discussed:
working meeting

[2021-10-21 01:04] lrchang2 commented on #64
October 21 2021

Participants:

Things to discuss:

- define website copy audience and direction
- talk about research recruitment issues/blockers
- breakout rooms to work on research, copy, or wireframes

Things discussed:

Actions to take:

[2021-10-21 03:56] ElizabethWarninger opened #88 "Usability Testing for Low/Mid Fidelity Prototypes"
### Overview
Create a plan and conduct usability tests for both the mobile and desktop versions of the low/mid fidelity prototypes.

### Dependencies

- #37
- #87

### Action Items

- [x] Research best practices for usability testing

**Create a usability research plan detailing:**
- [x] Usability task flows based on the goals of MVP 1
- [x] Determine the method of the usability test (structured,

[2021-10-26 10:03] #84 closed, assigned to PazauMoua

[2021-11-01 22:55] abryant35 commented on #70
November 01, 2021
Participants: Lucy and Alyssa

Things discussed:

Actions to take:

[2021-11-02 01:11] snooravi opened #89 "311 Data Storyline Brainstorm"
### Overview
We are looking to anchor on a story that will be interesting to LA citizens leveraging available 311 data. Example storylines we have considered:

- Homeless encampments in Venice pre/post covid
- Illegal Dumping related to reduced frequency of Street sweeping pre/post covid

### Action Items
Each member of the Access the Data Workshop will provide 1-3 different ideas for us to consid

[2021-11-02 01:15] abryant35 commented on #58
Interview Script is complete. Closing issue

[2021-11-02 01:15] #58 closed

[2021-11-02 21:12] abryant35 commented on #70
November 01, 2021
Participants: Lucy, Bonnie, Sarah and Alyssa

Things discussed:
Website copy #87

Actions to take:

- Need to complete branding exercise with team (find new tagline instead of "Grow Smart with Data")

[2021-11-03 08:15] melissamurphy commented on #88
Added [Affinity Map from Monday 11/1 group debrief FigJam](https://www.figma.com/file/doYnKXIUX9PC0XF7UcyU4P/Mid-fi-Wireframes-Usability-test-debrief-and-synthesis?node-id=0%3A1) to the issue description

[2021-11-04 00:00] MalakH21 commented on #89
@MalakH21 's ideas

1. Not sure if graffiti harbors some of the same sentiment as homeless encampments - but it seems like a good storyline to consider since the reporters here [cited the usage of 311](https://xtown.la/2021/02/23/graffiti-los-angeles-art/). Although you can only use the Alpha tool to go back as far in time as cited in the article, the map and data visualization tools lend themselv

[2021-11-04 00:46] ShikaZzz commented on #89
Service request data from MyLA311 for 2015 - 2021
data source: [LA open data](https://data.lacity.org/browse?q=311+data&sortBy=relevance&page=1)

explore the data patterns and trends in:

- request source (call, mobile(iOS, Android))
- processing days (closed date - service created date)
- status (open, closed, canceled,out)
- seasonal (request # vs date per year)
....

with respect to request # p

[2021-11-04 01:28] snooravi opened #90 "Refining the "Data Literacy" Journey Designs"
### Overview
As a part of the website, we are attempting to help orient the user as to where they are in their journey and next possible steps they can take.

### Action Items

- [x] Review current [diagram](https://drive.google.com/file/d/1lMCtxNrLIyb6PJZ2GrzASGlLWJxlM3Ii/view) and visualization + critique
- [x] Modify the [copy](https://docs.google.com/document/d/1EM1u0aECTVjalYmnRys7ZNHdiZlm1je

[2021-11-04 01:39] abryant35 commented on #63
Week of November 10, 2021

Participants :

Things to discuss:

Things discussed:

Actions to take:

[2021-11-04 01:55] abryant35 commented on #64
November 03, 2021

Participants:

Things to discuss:

- Website copy
- Go over professional experience on 11/10

Actions to take:

[2021-11-04 02:11] lrchang2 commented on #64
November 11, 2021

Participants:

Things to discuss:

- professional development for ux/ui team
- go over
   - resume
   - linkedin
   - portfolio

Actions to take:

[2021-11-04 16:48] mcmorgan27 commented on #89
**Background**
A bit of background/moodling to start:
1. I too am using the [MyLA311](https://data.lacity.org/City-Infrastructure-Service-Requests/MyLA311-Service-Request-Data-2021/97z7-y5bt) data set.
2. Thinking of 311 systems and [interoperability](http://eil.mie.utoronto.ca/wp-content/uploads/2015/06/nalchigar-jsc17.pdf) should be a long term goal, but probably beyond scope now.
3. Always a go

[2021-11-04 23:52] lrchang2 commented on #53
![Choices](https://user-images.githubusercontent.com/10827101/140435969-b135b388-1517-4818-8474-370ebb3cb712.jpg)

[2021-11-08 23:18] abryant35 commented on #70
November 08, 2021
Participants: Lucy and Alyssa

Things discussed:

- how to promote website (social media)
- Possibly have footer, nav bar and button done by end of week

Actions to take:

[2021-11-09 00:49] abryant35 commented on #70
November 09, 2021
Participants: Lucy and Alyssa

Things discussed:

Actions to take:

[2021-11-09 01:02] MalakH21 commented on #85
Here's an example of a visualization that can be created using layering + address adjustments with ArcGIS
<img width="782" alt="Screen Shot 2021-10-27 at 7 52 19 PM" src="https://user-images.githubusercontent.com/40288906/140842471-cdf8be72-8ab8-4443-b098-21534003e894.png">

[2021-11-09 01:50] MalakH21 commented on #90
workshop team met and agreed  on this diagram + these personas
![image](https://user-images.githubusercontent.com/40288906/140846900-9d4b284a-62c0-4e84-8808-8c865dd78e6b.png)

[2021-11-09 02:04] snooravi commented on #89
Next steps:
Chose your favorite topic and explore the datasets within or that would support to review on Wednesday with the team.

[2021-11-09 05:25] mcmorgan27 commented on #85
Maybe we could discuss this next week?  What does layering + address adjustments mean?  What are the layers you're using?  I see an earlier comment about "find easy way to go from address -> lat, long" ... are you using an ESRI geocoder?  I have good luck using [nominatim](https://nominatim.org/) for geocoding.

I'd like to know more.

[2021-11-11 01:15] MalakH21 commented on #89
relevant to #1 & #2 service request data - https://data.lacity.org/City-Infrastructure-Service-Requests/MyLA311-Service-Request-Data-2020/rq3b-xjk8

data source for #2 https://data.lacity.org/Public-Safety/Traffic-Collision-Data-from-2010-to-Present/d5tf-ez2w has codes for which types of collisions were caused by stop signs/street lights

data sources for #1 more context on grafitti cleaning in LA

[2021-11-11 01:36] snooravi opened #91 "Adding Context to 311"
### Overview

The presentation and notes from [empowerla.org](https://empowerla.org/data/) data literacy initiative identifies several other import data sets.  This issue will examine how we might incorporate this information with 311, both for querying and reporting.

### Action Items

- [x] Service organizations (mapping table to be added to drive)
- [x] Demographic information
- [x] Land Use
-

[2021-11-11 01:37] MalakH21 commented on #85
@mcmorgan27 yes! layering in reference to ArcGIS, is how you add geographical data within the tool. Each "layer" is the volume of service requests by a service request type within a NC, taken from https://hackforla.github.io/311-report/ the Alpha tool. Honestly, I was stumbling around through ArcGIS, so if you'd like to test out the tool with the Alpha tool data, please do!

The lat, long conversi

[2021-11-11 01:44] snooravi commented on #83
https://github.com/hackforla/access-the-data/issues/89

[2021-11-11 01:56] MalakH21 commented on #85
next @mcmorgan27 @MalakH21 to discuss geocoding, alternative visualization methods

[2021-11-11 02:44] snooravi commented on #89
Notes:
- Link the service request type to the service organization (in the dataset).
- Identify neighborhood council (and neighboring councils)

 Final:
- Moving forward with [@ShikaZzz ](https://github.com/hackforla/access-the-data/issues/89#issuecomment-960344503)

[2021-11-11 18:40] mcmorgan27 commented on #85
@MalakH21 do you have some candidate times we might meet?  I have questions ...

[2021-11-13 20:34] melissamurphy opened #92 "Research Findings Summary Presentation"
Dependency
- ~#88~

### Overview
We (research/design leads) need to create a 5 minute presentation about the research findings from field studies and usability testing for the stakeholder, Julien, to get feedback and consensus on the direction of the site.

### Action Items

- [x] Look at example stakeholder presentations
- [ ] Develop powerpoint presentation
- [ ] Get feedback from Bonnie and PMs

[2021-11-15 04:20] melissamurphy commented on #87
@lrchang2 @ashleyxz Now that we have a good amount of content, it's time to make a content inventory -- I can make a separate issue for this, @ashleyxz would you be interested in getting that going with me?

[2021-11-15 17:25] ashleyxz commented on #87
Yes, count me in! @melissamurphy

[2021-11-16 02:20] ShikaZzz commented on #83
Updated content

[2021-11-16 22:28] ExperimentsInHonesty commented on #68
@jenny-gih I made one final edit, please review.  Sorry for the delay

[2021-11-16 22:29] snooravi commented on #83
@ShikaZzz can you link any material that you have for this issue. We will review today

[2021-11-16 22:30] snooravi commented on #85
@MalakH21 Any update on this issue?

[2021-11-16 22:33] ExperimentsInHonesty commented on #68
@jenny-gih I added a response to completed surveys on the form

[2021-11-16 22:34] ShikaZzz commented on #83
@snooravi The updated content is from my analysis of the dataset on my local Jupyter notebook. I can share my screen and organize the result into a Google colab notebook later if necessary

[2021-11-16 22:35] ExperimentsInHonesty commented on #81
@jenny-gih Please add update using this template

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the visual changes made to the site

[2021-11-16 22:36] snooravi commented on #83
That would be great, thanks!

[2021-11-16 22:37] ExperimentsInHonesty commented on #88
@mathhomework @joanna-pham  Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add a

[2021-11-16 22:38] ExperimentsInHonesty commented on #80
@joanna-pham  Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of

[2021-11-16 22:39] ExperimentsInHonesty commented on #78
@melissamurphy who do you need to be involved to confirm email template?  If you are referring to another issue, please indicate the issue.

[2021-11-16 22:47] lrchang2 commented on #37
mid fi version is done and can be seen [here](https://www.figma.com/proto/nS5IqnutUT2FuPwwJObHaY/Access-the-Data-Main-Figma?node-id=2%3A13)  and usability testing #88 has be finished. closing issue

[2021-11-16 22:53] ExperimentsInHonesty commented on #40
Close this is a duplicate of #39

[2021-11-16 22:54] #40 closed

[2021-11-16 23:10] ExperimentsInHonesty commented on #52
@pazau Please update this issue and the figma with the current work

[2021-11-16 23:13] ExperimentsInHonesty commented on #53
@PazauMoua Above is the pallet and the font selected for the project.  Please indicate this in figma by moving all the non selected to another page called Branding and Logo - Archived 2021-11-03, and move it to the Archived section at the bottom of the list of figma pages

[2021-11-17 01:45] snooravi opened #93 "Data Preprocessing for 311 Data"
### Overview
We need to develop a preprocessing function or class that will identify and solve for issues we are finding within the 311 dataset

### Action Items

- [x] Identify pre-processing steps (removing erroneous data, cleaning up council names, etc)
- [x] Wrap in a class or function

### Resources/Instructions
[Google Colab link](https://drive.google.com/file/d/1LvuuPDWPGC6g3WOLHOk806ocQbYA

[2021-11-17 01:46] snooravi commented on #93
Add questions we need chelsey to help us answer

[2021-11-17 16:18] melissamurphy commented on #87
Worked on this for 4 hours this week so far. I can work on copy/content frames/content inventory for another 2 hours in our meetings or later this week (after Thursday).
Miguel had input into the IA of the copy (see comments in Google doc and Figma).
We can use the Site Map & brainstorm a Content Frame for the Content Inventory:
Site Map for Content: https://www.figma.com/file/nS5IqnutUT2FuPwwJObH

[2021-11-17 16:18] melissamurphy commented on #87
Will be working with @ashleyxz on the above today or tomorrow

[2021-11-17 16:29] melissamurphy commented on #78
**Progress**: 1 interviewee scheduled for this Thurs 11/18. Interviewee recruited from social media sharing from our team. I will conduct and second researcher @ashleyxz will be present for note-taking.
**Blockers**: Blocker 1 continues to be spam filtering. Meetup, Facebook, etc. have excluded our message from being sent due to spam filtering. Blocker 2 - Unavailable newsletter - Stakeholder had

[2021-11-17 17:13] ExperimentsInHonesty commented on #89
Re this post https://github.com/hackforla/access-the-data/issues/89#issuecomment-960305167

The definition of graffiti is unsanctioned painting on a surface

If you paint on a wall with the owner's permission is art
if you paint on the wall without the owner's permission, it's graffiti

Have you tried the Hack for LA 311 tool https://311-data.org?

Have you reviewed the work Henry Kaplan did for G

[2021-11-17 17:28] ExperimentsInHonesty commented on #89
@snooravi @mcmorgan27 @MalakH21 @ShikaZzz I think [Sarah ](https://github.com/hackforla/access-the-data/issues/89#issuecomment-965940144 )is indicting what I am about explicitly spell out, but I do want to leave the note on this issue for future team members.

After having read all the brainstorming here, I am appreciative of all the talent on this team.

I think this is a great starting point

Da

[2021-11-17 17:32] ExperimentsInHonesty commented on #91
@snooravi
- when you say service organizations, do you mean district types? https://github.com/hackforla/data-science/issues/124

[2021-11-17 17:33] lrchang2 commented on #91
@mcmorgan27
Please add update using this template

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the visual changes made to the site

[2021-11-17 17:38] ExperimentsInHonesty commented on #83
@ShikaZzz please always add your work to a Google colab or commit your code in a draft pr, in case you git hit by a bus.  Its the data science equivalent of only working on documents that are stored in our shared drive instead of a persons mydrive.

Thanks!!!

[2021-11-17 17:40] ExperimentsInHonesty commented on #93
@snooravi @ShikaZzz The 311 data team has already written a ton of scripts to clean the 311 data.  They spent a year writing those.  Let's not reinvent the wheel.  Do we really need the raw data, if so, we can arrange to get the cleaned data from the hackforla 311-data team.

[2021-11-17 17:41] snooravi commented on #93
@ExperimentsInHonesty We just got the scripts from @chelseybeck yesterday. https://drive.google.com/file/d/1LvuuPDWPGC6g3WOLHOk806ocQbYAJ5qj/view?usp=sharing

[2021-11-17 18:00] ExperimentsInHonesty commented on #90
@snooravi do you have an updated version of the image?

[2021-11-17 18:01] lrchang2 commented on #70
November 09, 2021
Participants: Lucy, Bonnie and Alyssa

Things to discuss:
#90

Actions to take:

[2021-11-17 18:03] lrchang2 commented on #63
Week of November 17, 2021

Participants :

Things to discuss:

- get feedback on hi fi wireframe (mobile) #41
- go over board and issues within review/questions
   - #78
   -

Things discussed:

Actions to take:

[2021-11-17 18:04] ExperimentsInHonesty commented on #78
@melissamurphy lets talk during meeting about how we can get around the spam filtering, but also how we think we got caught in it.

[2021-11-17 18:11] ExperimentsInHonesty commented on #93
@ShikaZzz once you identify what is in the Google Colab, please write a better description for it in the top section of this issue.

[2021-11-17 18:16] lrchang2 commented on #33
Go through the issues and check to see that there is a label for the following types of labels:
all issues that have size missing or size assigned
all issues that have feature missing or feature assigned
all issues that have role missing or role assigned
 Go through the issues and check to see that there is a label for the following types of labels:
all issues that are missing size
all issues that

[2021-11-17 18:51] ExperimentsInHonesty opened #94 "WEEKLY To Update Check"
### Overview
We need to make sure that volunteers are updating their issues in a timely way.

### Action Items
-  [x] Make a list of any items that have update label
-  [x] Review all in progress items that do not have update label
-  [x] Review items, add update reminder  to any issues that requires it
-  [ ] updating list with new link (optional)

### Resources/Instructions
[Issues with To Updat

[2021-11-17 18:51] lrchang2 opened #95 "Roadmap Milestone Labels"
### Overview
We need to apply the milestone and labels associated with our roadmap to all our issues so we can track project progress.

### Action Items
- [ ] Define milestone objective, requirements and features in [milestone breakdown](https://docs.google.com/spreadsheets/u/2/d/1_cx15yObwAl3KZYJjDgqjXd7Njw2D05BfcSc1eGZDtU/edit#gid=1172277014)
- [ ] Create milestones
- [ ] Apply milestones to all

[2021-11-17 18:54] ExperimentsInHonesty commented on #94
- #80
- #68
- #81
- #85
- #89
- #83

[2021-11-17 18:59] ExperimentsInHonesty commented on #54
@PazauMoua please update your issue with the following info  if you have not already
- Progress: "What is the current status of your project? What have you completed and what is left to do?"
- Blockers: "Difficulties or errors encountered."
- Availability: "How much time will you have this week to work on this issue?"
- ETA: "When do you expect this issue to be completed?"

If you need help:
1. Be

[2021-11-18 01:08] MalakH21 commented on #85
@MalakH21 @mcmorgan27 to meet on Nov. 23rd to review potential usage plans for ArcGIS and/or alternative software,
will update the issue after that meeting

[2021-11-18 01:08] lrchang2 commented on #54
sora was the final font chosen

[2021-11-18 01:12] lrchang2 commented on #53
closing issue, color palette confirmed and in design system figma

[2021-11-18 01:22] joanna-pham commented on #88
Closing issue. Usability testing for mobile mid-fi wireframes has been completed. Issue has been updated with links to materials and results of testing.

[2021-11-18 01:22] #88 closed

[2021-11-18 06:11] joanna-pham commented on #80
Materials for the field study were previously added under **Recordings** and **Documents of Findings**. Moving issue to prioritized backlog - need to split studies into separate issues.

[2021-11-18 17:07] lrchang2 commented on #64
November 18, 2021

Things to Discuss:
- usability testing results
- content framing
- find new meeting time for after thanksgiving
- assign issues

[2021-11-19 01:18] KaylenaNguyen commented on #37
reopening issue to add desktop version of mid-fi

[2021-11-19 01:23] KaylenaNguyen opened #96 "Design System - Component(s): Carousel"
### Dependency

- ~#135~
- #124
- #119

### Overview
We need a template for images to inset into the website carousel so we can make the carousel modular.

### Additional Information
This component is a molecular component that includes button and image.

### Action Items

- [x] Use [data literacy journey](https://github.com/hackforla/access-the-data/issues/90) as the initial use case
- [x] Determ

[2021-11-19 01:25] lrchang2 commented on #96
![image (2)](https://user-images.githubusercontent.com/10827101/142534809-79c593b2-f808-4afd-8f60-0915da3085bd.png)
sara's roadmap for potential users

[2021-11-19 15:48] lrchang2 commented on #64
December 2, 2021

Attendees:

Things to Discuss:
- roadmap for developers - what can be worked on first (components/pages)

Things Discussed:

Actions to Take:

[2021-11-19 20:21] ExperimentsInHonesty commented on #68
Julien recommends adding examples of open data to the top of section2

[2021-11-29 22:21] ShikaZzz commented on #83
may pause for now and change to how to use 311-data.org tools and the Alpha Report Tool to derive insights

[2021-11-29 22:52] mcmorgan27 commented on #91
Progress:
  - Identified/collected/processed all contextual data except road networks
  - Analyzing results for specific problems/NCs
  - I'm adding temporal analysis to the 311 data
  - I will publish my work on my github and figure out where it should go
  - Willing to review my work if there's interest

Blockers:
 - No technical/data blockers
 - Would be nice to develop better "stories" for the

[2021-11-30 01:00] MalakH21 commented on #85
moving to ice box - will revisit once guiding narrative is determined to better guide choice around visualization software + attaining licensing for said software if needed

[2021-11-30 01:02] MalakH21 opened #97 "Workshop Slides"
Start adding content to existing slides and workshop outline

- [ ]

- [ ] Format + revise after feedback

[2021-11-30 01:37] snooravi commented on #91
Next steps: Upload jupyter notebooks. ettc

[2021-11-30 01:39] snooravi commented on #93
@ShikaZzz can you add an update for this issue. and tag Chelsey if we need her help

[2021-11-30 01:48] snooravi commented on #89
Final outcome:

We will focus on grafitti volume in LA over time in various neighborhoods.

[2021-11-30 01:48] #89 closed

[2021-11-30 02:09] snooravi commented on #91
@mcmorgan27 Please add 2-3 questions that anchor around graffiti as a use-case for us to develop story for workshop

[2021-11-30 02:12] ShikaZzz commented on #83
analytics concepts:
- normalization/standardization: not only comparing the total number but also comparing the fraction; by population
- stacked barplot vs barplot

challenge:
- data preprocessing: consistency,

[2021-11-30 20:32] lrchang2 commented on #41
@miguel-hugo
Please add update using this template

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the visual changes made to the sit

[2021-11-30 20:33] lrchang2 commented on #87
@ashleyxz @melissamurphy
Please add update using this template

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the visual changes mad

[2021-11-30 20:34] lrchang2 commented on #37
@KaylenaNguyen
Please add update using this template

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the visual changes made to the s

[2021-11-30 20:34] lrchang2 commented on #96
@KaylenaNguyen
Please add update using this template

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the visual changes made to the s

[2021-11-30 20:42] lrchang2 commented on #95
finished first pass through milestones, need to go through old issues and make sure correct milestone is applied. next is to finish making feature labels and apply them

[2021-11-30 21:26] lrchang2 commented on #90
need to discuss this with UX team during team meeting

[2021-11-30 22:23] snooravi opened #98 "Interview [Council Member] to understand their day to day usage of 311 Data"

[2021-11-30 22:35] lrchang2 commented on #90
![image (2)](https://user-images.githubusercontent.com/10827101/144139186-9e6c8dbc-9e40-4171-bab7-19c02c282b0e.png)

[2021-11-30 22:44] lrchang2 commented on #90
edits to make on the image
- [ ] make persona background block go all the way down (use one color)
- [ ] "raise your voice hand sign" covers the word "persona" - stack as persona and community activist
- [ ] for "get involved & network" put the & on the next line
- [ ] use same alignment for right titles for each step of journey

[2021-11-30 22:50] snooravi commented on #90
https://docs.google.com/presentation/d/1pvd1c_z1spS_8tARF1LpKonCfdUTiNk6teiri2EI7xA/edit#slide=id.g103c389c4c0_0_0
<img width="963" alt="Screen Shot 2021-11-30 at 2 49 54 PM" src="https://user-images.githubusercontent.com/22307660/144140771-e5cc7859-1e00-4ea4-81db-74012aae7a72.png">

[2021-11-30 22:52] lrchang2 commented on #63
Week of December 1, 2021
**Participants**
**Things to Discuss**

- [ ] anyone that has a "To Update!" label update issue during meeting
- [ ] go over issues
    - [ ] https://github.com/hackforla/access-the-data/issues/90

[2021-12-01 02:31] ashleyxz commented on #87
Progress:
1) 1st user interview session (note taking), notes: https://docs.google.com/spreadsheets/d/12vylnca020OKdUc0fJECGhHW5Jgn5bZcC96nsHCAl4w/edit#gid=705693488

2) 1st user interview session (analysis)
https://miro.com/app/board/o9J_lhs1V4g=/

2) content inventory
https://docs.google.com/spreadsheets/d/1rapDKXRvHAerkgR0VIg-xl9W59uMcesm/edit?rtpof=true#gid=727218828

Blockers: may need some he

[2021-12-01 21:18] melissamurphy commented on #87
@ashleyxz Great work! Could you move your google docs into our shared Access the Data research drive? https://drive.google.com/drive/u/0/folders/1Wr3qoQ56T9WefQ5yTbbSPvHSZt9RMW0k

It looks like you need to also grant us permission to view the Miro

[2021-12-01 21:42] KaylenaNguyen commented on #37
Progress: About finished with the Hi-Fi wireframes. All that's left to do is edit some font sizes. Miguel will also look it over and edit what needs to be done.
Blockers: Had some difficulties with colors but Joanna helped me out with that.
Availability: A couple hours.
ETA: If not tonight, tomorrow (12/02).
Pictures: https://www.figma.com/file/nS5IqnutUT2FuPwwJObHaY/Access-the-Data-Main-Figma?nod

[2021-12-01 22:36] ashleyxz commented on #87
@melissamurphy Hey Melissa, how about this?
https://miro.com/welcomeonboard/alVEU1BuQXB1bE1LNk9CQzI2Zms0a2hFVEtGOVhaY0ZuWWxkckE2V1JZUUR0THJZbm1qeWM4SXkyWnNDWllydXwzMDc0NDU3MzYyMzc3MzIxNDI5?invite_link_id=613211402360

[2021-12-02 01:07] snooravi commented on #93
@mcmorgan27 to upload his file to the github and share with @ShikaZzz

[2021-12-02 07:29] TracyLuu commented on #81
![Screen Shot 2021-12-01 at 11 27 57 PM](https://user-images.githubusercontent.com/52874505/144377074-4fda49fe-74d4-4fd2-ac7b-503ce1b37850.png)

[2021-12-02 21:48] melissamurphy commented on #81
Nice! I edited the issue's "link tbd" to now link to your work in our [high-fi wireframes (mobile) figma](https://www.figma.com/file/nS5IqnutUT2FuPwwJObHaY/Access-the-Data-Main-Figma?node-id=1236%3A4449)

[2021-12-02 23:40] KaylenaNguyen commented on #96
Progress: Template is finished without a headline or description.
Blockers: I sketched out my original idea, but ended up changing it to something more simple for all users.
Availability: A couple hours.
ETA: Depends on the feedback.
Pictures: https://www.figma.com/file/nS5IqnutUT2FuPwwJObHaY/Access-the-Data-Main-Figma?node-id=2%3A16

[2021-12-03 00:39] lrchang2 commented on #90
Persona 2: "Data Amateur" is changed to "Data Hacker"

[2021-12-03 04:42] melissamurphy commented on #90
For consistency, let's keep Persona 2 "Data Amateur" in mind as originally conceived (a community activist who does have that domain knowledge, but is newer to data) and add "Data Hacker" (someone more familiar with data) in as an additional persona.

[2021-12-04 00:42] mcmorgan27 commented on #93
I think I have stuff working in my repos https://github.com/researchsherpa/data-literacy.

@ShikaZzz - If your just looking for data there are multiple zip files in data/311.  Lot's of examples on how to read them.  Not sure if you're working in pandas or geopandas but there are examples of both.  The data was generated in 311-data-cleaning and 311-data-cleaning-part2 (mostly).  ENV.md explains ho

[2021-12-06 21:07] ShikaZzz commented on #93
@mcmorgan27 thanks for the update! I didn't find how you dealt with invalid dates (e.g date is set to the previous year)  and the inconsistent NC names in 11-data-cleaning and 311-data-cleaning-part2. Is it not an issue for the 2021 data?

[2021-12-07 22:10] lrchang2 commented on #37
@KaylenaNguyen
Please add update using this template

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the visual changes made to the s

[2021-12-07 22:10] lrchang2 commented on #87
@ashleyxz @melissamurphy Please add update using this template

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the visual changes mad

[2021-12-07 22:10] lrchang2 commented on #96
@KaylenaNguyen Please add update using this template

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the visual changes made to the s

[2021-12-07 22:10] lrchang2 commented on #41
@miguel-hugo Please add update using this template

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the visual changes made to the sit

[2021-12-07 22:11] lrchang2 commented on #68
@melissamurphy Please add update using this template

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the visual changes made to the s

[2021-12-07 22:11] lrchang2 commented on #78
@melissamurphy Please add update using this template

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the visual changes made to the s

[2021-12-07 22:12] ExperimentsInHonesty commented on #33
there is only one issue missing labels.  It looks like an issue from Sarah that she has not finished. I moved it to the New Issue approval column and added the missing label labels.

[2021-12-07 22:13] ExperimentsInHonesty commented on #70
2021-12-07

### Prework:
- [x] Label Check: #33
- [ ] To Update Check: #94

### Participants:

### Things to discuss:
- [x] #34
- [x] #89 & #83
- [ ] objective, requirements and feature labels for [milestones](https://docs.google.com/spreadsheets/d/1_cx15yObwAl3KZYJjDgqjXd7Njw2D05BfcSc1eGZDtU/edit#gid=144012752)
- [x] #90
- [ ] breakdown issues with too many labels

### Actions to take:

[2021-12-07 22:20] ExperimentsInHonesty opened #99 "Create social media accounts"
### Overview
We need to have matching social media accounts to our domain name for outreach

### Action Items
- using the accessthedata@hackforla.org email account, setup social media accounts
- [x] Instagram
- [x] twitter
- for role based social accounts ask the following people to like the page you setup and then add the pm, the UX lead, any marketing people and bonnie as administrators with bon

[2021-12-07 22:24] ExperimentsInHonesty commented on #78
Created a new issue #99 which will help in the activities.  Still need an update from assignee.

[2021-12-07 22:25] lrchang2 commented on #91
@mcmorgan27 Please add update using this template

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the visual changes made to the site

[2021-12-07 22:41] ExperimentsInHonesty commented on #37
Hack for LA should not appear in the partners section. it should be at the bottom of the footer.  See the footer for the 100automations.org site https://100automations.org/  it doesen't have to look exactly like that, but lets talk about your proposal.

[2021-12-07 22:44] ExperimentsInHonesty commented on #37
Make Government Data your Superpower is not exactly right.  It's really Using Government data.  So maybe try some other options to make it clearer.  Off the top of my head... not saying to use these words but let's just make sure it's clear.
Make using government data your super power
Using Government Data can be your super power
Make accessing Government Data your super power

[2021-12-07 22:50] ExperimentsInHonesty commented on #37
Lets use the color city logohttps://www.pngfind.com/mpng/hJbwwmR_city-of-los-angeles-crest-transparent-city-of/in the partners section

[2021-12-07 22:52] KaylenaNguyen commented on #96
Progress: There are 3 different designs for the carousel images. I know it was mentioned in the meeting that we could do different layouts for different images so users aren't always looking in the same spot. I also did full page and half page. The only thing left to do is pick out images and decide on headlines, which I thought we could do collectively.
Blockers: Didn't encounter any errors, the

[2021-12-07 22:59] lrchang2 commented on #83
@ShikaZzz Please add update using this template

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the visual changes made to the site s

[2021-12-07 23:09] KaylenaNguyen commented on #37
Progress: I need to update and use the components. Add images as well as fix font sizes. Also, everything Bonnie mentioned.
Blockers: No blockers or errors encountered.
Availability: I'll have about 4 hours this week to work on this.
ETA: I am hoping by the end of this week.
Pictures: https://www.figma.com/file/nS5IqnutUT2FuPwwJObHaY/Access-the-Data-Main-Figma?node-id=2%3A16

[2021-12-08 07:09] ashleyxz commented on #87
Progress:

Website Copy: v3 of website copy sent to Melissa for review (not including the About Us Page) https://docs.google.com/document/d/1AITqJN5elR6q78RfYakUnACuO83z7ehWA9C6BN4WxuI/edit?usp=sharing

User Research: mental modal (analysis)
https://miro.com/welcomeonboard/alVEU1BuQXB1bE1LNk9CQzI2Zms0a2hFVEtGOVhaY0ZuWWxkckE2V1JZUUR0THJZbm1qeWM4SXkyWnNDWllydXwzMDc0NDU3MzYyMzc3MzIxNDI5?invite_link_i

[2021-12-08 21:12] mcmorgan27 commented on #93
After our discussions this week this issue is complete and will be closed.

[2021-12-08 21:12] #93 closed

[2021-12-09 00:52] mcmorgan27 commented on #91
Progress:  Completed.  Moving the last task to slide deck issue

I will verify this at the meeting tonight.

[2021-12-09 01:40] snooravi commented on #97
@MalakH21 can you add more context to this issue.

[2021-12-09 01:51] ShikaZzz commented on #83
Progress:
 - Completed: data cleaning by dividing into 2 general sets: 1 set has only valid data (ServiceDate/ClosedDate is in 2020 and after CreatedDate); 1 complimentary data set
 - Doing: Working on analysis that focuses on median days to ServiceDate by:
    1. overview of various features
    2. graffiti
   For the median days, there will be a comparison on before vs after outliers by using th

[2021-12-10 00:32] lrchang2 commented on #41
add suggested edits to all versions

- [Hack for LA logo](https://github.com/hackforla/access-the-data/issues/37#issuecomment-988313743)
- [update city of LA logo to colored one](https://github.com/hackforla/access-the-data/issues/37#issuecomment-988318057)

[2021-12-10 00:34] miguel-hugo commented on #41
Progress: Finished applying current design and creating components to mobile wireframes. Need to finish carousel on landing page, update components, and build user flow documentation.
Blockers: Need finished copy to update text
Availability: Around 3-5 hours
ETA: Depends on the status of the copy, but most likely within 2 weeks

[2021-12-10 20:36] ExperimentsInHonesty commented on #78
Who is the author of this file .  Its not in our current drive
https://docs.google.com/document/d/1U4mTdU5BqrQ74j6ThHDUPcNF29cA0NGNopIdSn3eLsY/edit

[2021-12-13 21:23] mcmorgan27 commented on #91
So I think we determined this could be closed.

[2021-12-13 21:23] #91 closed

[2021-12-13 23:47] ShikaZzz commented on #83
Progress:
- did:
   -  uploaded notebooks to Google Colab (see the end of the main)
   -  cleaned the data
   -  visualizations of:
        1. Hour of a day when a request is created: total number of requests, request types
        2. processing days (days from request created to service) by various features (feature can be easily visualized by using created function) and comparison of before remo

[2021-12-14 00:57] snooravi opened #100 "ATD: Workshop Team Meeting Agenda and Notes"
### Overview
This Issue will serve as the meeting agenda and notes for the Access the Data workshop team

[2021-12-14 00:58] snooravi commented on #100
## 12.13.2021

[2021-12-14 21:28] lrchang2 commented on #96
trying out a different carousel format where users can see all the slides within the carousel.
![image](https://user-images.githubusercontent.com/10827101/146081842-54ba6b5c-8860-4e90-85c0-09a6134034ae.png)

next step is to apply text formatting with the image that include headline and body text

[2021-12-14 21:51] lrchang2 commented on #68
ice boxing this issue, potentially may reuse as we recruit for more participants

[2021-12-14 21:53] lrchang2 commented on #97
@mcmorgan27 @MalakH21
Please add update using this template

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the visual changes made t

[2021-12-14 22:00] lrchang2 commented on #33
Go through the issues and check to see if X is missing or assigned

size: 1/9
role: 1/7
feature: 1/3
Go through the issues and check to see that there is a label missing:

size: 1/0
role: 1/0
feature: 1/0
Check to see if there are any issues not yet on the project

no project: 1/0

[2021-12-14 22:03] lrchang2 commented on #94
- #95
- #37

[2021-12-14 22:07] lrchang2 commented on #95
had sarah move her issues to the correct milestone

[2021-12-15 09:26] melissamurphy commented on #96
Do we have headlines and body text decided for the carousel (if so: where?)?

[2021-12-15 20:58] KaylenaNguyen commented on #96
I applied body texts to the images that I thought fit. Let me know if anyone thinks differently, so we can change it up.
Still no headlines.

Progress: Thank you to whoever created the layouts! Super helpful and very much appreciated. So far we have body texts and CTA's included but no headlines.
Blockers:  Headlines!!
Availability: I will have a few hours the rest of this week.
ETA: As long as we

[2021-12-15 22:45] KaylenaNguyen commented on #37
Progress: Made changes based on what Bonnie mentioned. Still need to add images and the Hack For LA logo in the footer.
Blockers: No blockers or errors.
Availability: I'll have a few hours this week. If there are major changes or updates, I'll do as much as I can. However, if anyone can help if I can't get it done by this weekend, that would be great.
ETA: Hopefully, we can go over what images we

[2021-12-16 02:03] snooravi commented on #97
@MalakH21 to own 5,6,8
@mcmorgan27 to own 4 & 1 analysis slide
@ShikaZzz to own motivating deeper analysis

[2021-12-16 19:00] ExperimentsInHonesty opened #101 "Document the SEIE survey Qualitative Analysis process"
### Overview
We need to document the SEIE Qualitative Analysis and Presentation process so that we can have info for a case study and be able to replicate the process in the future

### Action Items
- [x] Find and link all relevant documents to this issue
- [x] Create a google doc and start outlining what was done and any useful notes about it.  This is just a draft, we will later make a markdown

[2021-12-16 23:35] lrchang2 commented on #68
sending out survey in EmpowerLA newsletter 12/20.

blurb for newsletter:
"
Hack for LA's Access the Data team is working in partnership with EmpowerLA to create an accessible data resource website within the LA community.

We are looking for participants to share their experiences interacting with open source data, regardless of level of expertise. We want to understand how people are currently na

[2021-12-16 23:36] lrchang2 commented on #68
made a copy of screener survey to add extra question for Lucky Parking's UXR team.

added Kiki - Salmonciara@gmail.com to survey

[2021-12-17 21:22] ExperimentsInHonesty commented on #101
@Justlee98 @snooravi @soleeshin -

@akhaleghi  and I are cleaning out the Data Science Google Drive, and we found this document created by Grace Jones, called [SEIE Themes](https://docs.google.com/document/d/1boyk7P_YdTh7Hyx12eHsIRbH2k27sGpzF-t92S2jObU/edit?usp=sharing)

It looks like people on the team have used it back in September

- Sarah
- Solee
- And Annon

Abe has reached out to Grace to mo

[2021-12-21 01:06] snooravi commented on #101
[Here](https://docs.google.com/document/d/1xlpyBClq6Py9K023REIijf3RHt7TLpH1zWW6759Oswk/edit#) is the current Draft

[2021-12-21 21:33] lrchang2 commented on #87
[most updated version of the copy](https://docs.google.com/document/d/1b92A3mBuK65hRkWF_ouXRFi31tiFwY7koerVtio84xs/edit)

this copy will be applied to the wireframes for usability testing

[2021-12-21 21:35] lrchang2 commented on #96
carousel copy is within most [updated version of website copy](https://github.com/hackforla/access-the-data/issues/87#issuecomment-999108082)

[2021-12-21 21:44] lrchang2 opened #102 "Usability Testing for High Fidelity Prototypes"
### Overview
We need to conduct usability testing of the high fidelity prototypes of the desktop and mobile version to see if the design is user friendly.

### Action Items

- [x] Develop documentation for usability testing
- [x] Conduct 2 usability tests (one for desktop, one for mobile) using the Script and put notes in documentation
- [x] Put noteworthy observations about each test into FigJam

[2021-12-21 21:45] lrchang2 commented on #41
new website that needs to be applied to wireframes can be found [here](https://github.com/hackforla/access-the-data/issues/87#issuecomment-999108082).

[2021-12-21 21:47] lrchang2 commented on #102
testing will be conducted by all designers over the course of 12/21/2021 to 1/3/2022

[2021-12-21 21:47] lrchang2 commented on #37
new website that needs to be applied to wireframes can be found [here](https://github.com/hackforla/access-the-data/issues/87#issuecomment-999108082).

[2021-12-23 22:03] ExperimentsInHonesty commented on #70
Add to next Next meeting:
- Can we unpin this issue from the issues tab? https://github.com/hackforla/access-the-data/issues/88, so that we can pin another agenda issue
- What is the difference between the website and the team meeting? (see agendas)

[2021-12-28 20:08] ExperimentsInHonesty commented on #70
- [ ] Review new issue approval column for
   - [ ] [Workshops](https://github.com/hackforla/access-the-data/projects/1?card_filter_query=label%3A%22feature%3A+workshops%22)

[2021-12-28 20:12] ExperimentsInHonesty commented on #100
## 2022-1-08 Meeting Agenda

### Prework to prep for meeting
- [ ]

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/open-community-survey/projects/1#column-15476398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Sarah](https://github.com/hackforla/access-the-data/issues/assigned

[2021-12-28 20:20] ExperimentsInHonesty commented on #79
On Advice from two stakeholders (Bonnie and Julien) we will not be using homelessness data as our first workshop

[2021-12-28 20:20] #79 closed

[2021-12-28 20:27] ExperimentsInHonesty commented on #97
## This content was created by Malak on 2021-11-29

- [ ] Create content for first draft of the 311 workshop presentation slides, following this outline:

<img width="673" alt="Screen Shot 2021-12-08 at 8 10 29 PM" src="https://user-images.githubusercontent.com/40288906/145331330-115b7f71-d3f9-4cd6-a16d-5c412848d937.png">

[slides](https://docs.google.com/presentation/d/1ueR5pYLyGvazpV03yvmOZ5rHFt

[2021-12-28 20:34] ExperimentsInHonesty commented on #66
- After Sarah finishes reworking the slides issue https://github.com/hackforla/access-the-data/issues/97 then it can be determined if there is a dependency for this issue to proceed.  We think there is because its not ready to work on now.  So there must me one.

[2021-12-28 20:36] ExperimentsInHonesty opened #103 "Define videos needed for workshop: 311 data"

[2021-12-28 22:10] ExperimentsInHonesty commented on #90
Next step on this issue is that Lucy will finish adding the task items

[2021-12-28 22:15] ExperimentsInHonesty commented on #68
Lucy will summarize issue and identify exact next steps, assign appropriate role

[2021-12-28 22:50] ExperimentsInHonesty commented on #45
@ElizabethWarninger Thank you for your work on this issue.  We are marking this complete.

[2021-12-28 22:50] #45 closed

[2021-12-28 23:07] ExperimentsInHonesty commented on #33
size missing: 2
role missing: 1 (a new issue made by sarah that has nothing in it)

[2021-12-28 23:34] ExperimentsInHonesty commented on #70
## [2022-01-04] Meeting Agenda

### Prework to prep for meeting
- [ ] [Audit](https://github.com/hackforla/access-the-data/issues/33)
- [ ] Review the prioritized backlog and clear any issues possible.
- [ ] https://github.com/hackforla/access-the-data/issues/94

### Recurring items: Happens on the PM  Saturday meeting
 - [ ] review any issues that are in the [new issue approval column](https://gi

[2021-12-29 04:25] snooravi opened #104 "PM To-Do"
### Overview
Putting together a list of things to do before the new year.

### Action Items

- [ ] Split up the [workshop slides](https://github.com/hackforla/access-the-data/issues/97) issue into it's parts
- [ ] Write issue about next steps for [exploratory analysis](https://github.com/hackforla/access-the-data/issues/83) issue
- [ ] Put together a proposal for Julien for next year's time commit

[2021-12-29 04:30] snooravi commented on #104
@ExperimentsInHonesty Mind reviewing this issue and LMK if I missed anything. Thanks!

[2021-12-29 04:34] snooravi commented on #101
Made a copy and added to the drive [here](https://docs.google.com/document/d/13TVGgBeNxRKLfq64E1KdJ8RlkZiIFhp_xrj1pw-gmpI/edit#)

[2021-12-29 05:15] snooravi commented on #101
@ExperimentsInHonesty Please take a look at the [final](https://docs.google.com/document/d/13TVGgBeNxRKLfq64E1KdJ8RlkZiIFhp_xrj1pw-gmpI/edit#heading=h.fygqv5wam51l) version and LMK if there's anything else you'd like added/changed.

[2021-12-29 05:21] snooravi commented on #101
@ExperimentsInHonesty About the SEIE Theme's document you referred to, it's old work and unnecessary for our final deliverable, but I've made a copy and added it to our shared drive [here](https://docs.google.com/document/d/1qXKyjAhkBVFyKmG7dRxcwHe8T3vGxgxs5FOfGYVe3XA/edit)

[2021-12-29 09:11] miguel-hugo commented on #41
Progress: Finished updating final copy of text, finished carousel for mobile hi-fi, and updating layout, interactions, and components. *Under "Updated Version: December 2021" in Hi-Fi Wireframes: Mobile"*
Blockers: Need feedback on look to determine if finished.
Availability: Around 3-5 hours
ETA: Depends on feedback provided, but should not be too much.

[2021-12-29 15:57] snooravi opened #105 "311Data Workshop Resource Aggregation"
### Overview
There are a lot of different resources that can be leveraged to understand 311data (already built applications or packages on how to handle spatial data). This issue aims to consolidate them all into one spot. This will help us internally as a team as well as give us a spot to grab resources to share with students of the workshop.

### Action Items
Consider resources related to:
- 311

[2021-12-29 15:59] snooravi commented on #105
- @mcmorgan27 [Github](https://github.com/researchsherpa/data-literacy) that contains 311 data analysis
- Blight [application](https://la.myneighborhooddata.org/2021/06/vacant-properties/)
- [GeoSnap](https://github.com/spatialucr/geosnap)

@mcmorgan27 can you add more details to the above and add into the research resources doc

[2021-12-29 22:48] lrchang2 commented on #64
## [insert date] Meeting Agenda

### Prework to prep for meeting
- [ ] [Audit](https://github.com/hackforla/access-the-data/issues/33)
- [ ] Review the prioritized backlog and clear any issues possible.
- [ ] https://github.com/hackforla/access-the-data/issues/94

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/open-community-s

[2021-12-29 23:17] lrchang2 opened #106 "Website About Page: Origin Story"
### Overview
We need to develop copy for the origin story of the project to share with users on the website in order for them to better understand the project's purpose.

### Additional Information
First round of usability testing showed that users didn't connect well with the purpose of the project and wanted to know more about how it got developed. Story format is more engaging of a way to conve

[2022-01-04 21:45] lrchang2 commented on #33
no size: 2/9
no role: 0/3
no feature: 0/7

size missing: 2/0
role missing: 1/0
feature missing: 0/0
no project: 0/0
no milestone: 3

[2022-01-04 21:50] lrchang2 commented on #90
closing issue.

Defined journey is handed off to the UX team. Designers have determined to put journey into a carousel format on the website. Developing, testing and approving of carousel designs are in #96.

[2022-01-04 21:50] #90 closed

[2022-01-04 21:59] lrchang2 commented on #96
new copy has been applied to both website and mobile version of wireframes.

[2022-01-04 22:10] lrchang2 commented on #104
@snooravi please tell us how many hours this will take

[2022-01-04 22:21] lrchang2 commented on #96
@KaylenaNguyen
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures o

[2022-01-04 22:22] lrchang2 commented on #83
@ShikaZzz
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the

[2022-01-04 22:23] lrchang2 commented on #97
sarah is breaking this issue down into multiple issues

[2022-01-04 22:24] lrchang2 commented on #102
@miguel-hugo @joanna-pham @KaylenaNguyen @melissamurphy @ashleyxz @TracyLuu
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expe

[2022-01-04 22:25] lrchang2 commented on #95
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the visual ch

[2022-01-04 22:26] lrchang2 commented on #106
@snooravi
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the

[2022-01-04 22:36] ExperimentsInHonesty opened #107 "Collect existing videos from Julien and team"

[2022-01-04 22:56] lrchang2 commented on #70
## [2022-01-11] Meeting Agenda

### Prework to prep for meeting
- [x] [Audit](https://github.com/hackforla/access-the-data/issues/33)
- [x] Review the prioritized backlog and clear any issues possible.
- [x] https://github.com/hackforla/access-the-data/issues/94
- [x] Review ice box and see if dependencies are still open or not

### Recurring items: Happens on the PM  Saturday meeting
 - [x] revie

[2022-01-04 22:58] lrchang2 commented on #94
#104
#95
#106
#96
#83
#102

[2022-01-05 01:44] mcmorgan27 opened #108 "Generate 2020 and 2021 cvs's from 311-data.org dev api"
### Overview
For this project, we need one common dataset for all data analysis. In this spirit, we will use the api dev site created by our 311-data.org team.

### Action Items

- [x] Understand API and build code to call and combine data
- [x] Generate 2020 csv
- [x] Generate 2021 csv
- [x] Transfer both files to [goog](https://drive.google.com/drive/u/1/folders/1cM4Ied1LQCAk1HwdyR0jFzq5V4x9HFia

[2022-01-05 06:36] snooravi commented on #104
@lrchang2 updated with the size. Thanks

[2022-01-05 14:56] MalakH21 commented on #97
Here’s the general flow
- Start by identifying relevant NCs + CCs

- [ ] Create slides that walk through identifying NC + CC by address, explain CC relevance

- Assume that there is no NC/CC issue (or issue linked to a request type “definitionally” - e.g. there area at the top of the mind of the user
- With this assumption, guide the user through three primary visualizations (Time to Close, Freque

[2022-01-05 15:15] MalakH21 opened #109 "311 Data Slides: Map 1 Slide"
### Overview

We need to add content to the 311 workshop slides to inform attendees what the terms: Bulky Items and Illegal Dumping mean so that they can understand the maps and other methods that follow.

### Action Items
- [x] 311 Data Map 1 : Demo an example using the map with the following parameters:
-  date range: last 6 months
- NC: van nuys
- request type selection: select all request type

[2022-01-05 23:51] melissamurphy commented on #102
Progress: Desktop test completed.
No difficulties other than some Figma buttons being nonoperative to the participant.
I can work 2 additional hours on this issue this week if we need more tests, interpretation, or a presentation.

[2022-01-06 00:08] mcmorgan27 commented on #108
Progress: I have the software to get from API.   Working on technique to automate calls to API with my functions.
Blockers: I need some help (or permission) to create repo on H4LA github
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"

[2022-01-06 00:39] mcmorgan27 commented on #105
Progress: The github task is a duplicate from #108 so it's done (here).  I've identified several open source packages and data sources.  In the process of evaluating.  Need to document what I've found.
Blockers: None
Availability: Two hours
ETA: Will document my findings this week.

[2022-01-06 01:00] ashleyxz commented on #102
Progress: Desktop usability test completed.
No difficulties or blockers.
Availability: conduct the mobile test this week.

[2022-01-07 16:16] mcmorgan27 commented on #108
I completed the initial tasks.  I've added one last task to better explain what I did and what I discovered.

[2022-01-08 15:04] mcmorgan27 commented on #108
Pushed the new analysis code.

Issue is complete.

[2022-01-08 15:04] #108 closed

[2022-01-11 17:43] lrchang2 commented on #102
reviewing results with team members at team meeting on 1/12/22

[2022-01-11 17:44] lrchang2 commented on #96
review and edits based on usability test results that will be synthesized in #102

[2022-01-11 17:46] lrchang2 commented on #4
need:

- [ ] 2 PM (workshop and website)
- [ ] data analyst
- [ ] content writers
- [ ] developers

[2022-01-11 21:20] lrchang2 commented on #33
Go through the issues and check to see if X is missing or assigned
size: 0/9
role: 0/3
feature: 0/7

Go through the issues and check to see that there is a label missing:
size: 1/1  (a new issue made by sarah that has nothing in it)
role: 1/0  (a new issue made by sarah that has nothing in it)
feature: 0/0

Check to see if there are any issues not yet on the project
no project: 0/0

[2022-01-11 21:43] lrchang2 commented on #94
- #104
- #106

[2022-01-11 21:54] lrchang2 commented on #63
Week of January 12, 2022

Participants:

Things to discuss:

- [ ]  anyone that has a "To Update!" label update issue during meeting
- [ ]  transition people who are leaving - annotate and unassign from issues
     - [ ] [Shika] (https://github.com/hackforla/access-the-data/projects/1?card_filter_query=assignee%3Ashikazzz)
- [ ]  go over board and issues within review/questions to discuss blockers

[2022-01-11 22:18] lrchang2 commented on #4
### Audit Week of 2022-01-08
- [ ] Sufficient number of Issues in prioritized backlog for each role (that match the most important milestones)

#### Product
- [ ] No. of issues:
   - [ ] [link to issues](https://github.com/hackforla/access-the-data/projects/1?card_filter_query=label%3A%22role%3A+product+management%22)
- [ ] Total No. of points ____ story points:
- [ ] How many resources do we curr

[2022-01-11 22:29] lrchang2 opened #110 "Role Recruitment: Product Management"
### Dependency
whenever audit in #4 determines the need for more resources

### Overview
We need to recruit for product manager(s) to help move the project along.

### Action Items
- [x] Get access to edit open role board by pinging #admin channel in slack
- [ ] Write blurb to put on the open role board based on template:

[code]

- [ ] Review blurb
- [ ] Follow [directions ](https://github.com/ha

[2022-01-11 22:37] lrchang2 opened #111 "Role Recruitment: Design"
### Dependency
whenever audit in #4 determines the need for more resources

### Overview
We need to recruit for UX/UI designer to help move the project along.

### Action Items
- [ ] Get access to edit open role board by pinging #admin channel in slack
- [ ] Write blurb to put on the open role board based on template:

[code]

- [ ] Review blurb
- [ ] Follow [directions ](https://github.com/hackfo

[2022-01-11 22:37] lrchang2 opened #112 "Role Recruitment: Research"
### Dependency
whenever audit in #4 determines the need for more resources

### Overview
We need to recruit for UX research to help move the project along.

### Action Items
- [x] Get access to edit open role board by pinging #admin channel in slack
- [x] Write blurb to put on the open role board based on template:

[code]

- [x] Review blurb
- [ ] Follow [directions](https://github.com/hackforla/

[2022-01-11 22:39] lrchang2 opened #113 "Role Recruitment: Data Analyst"
### Dependency
- whenever audit in #4 determines the need for more resources

### Overview
We need to recruit for data scientists/analysts to help move the project along.

### Action Items

- [ ] Write blurb to put on the open role board based on template:

[code]

- [ ] Review blurb
- [ ] Follow [directions ](https://github.com/hackforla/product-management/projects/8#card-53859442)to put on open

[2022-01-11 22:45] ExperimentsInHonesty commented on #4
### To do Items

- [ ] Product
   - [ ] Recruit new resource
- [ ] Research
   - [ ]  Recruit new resource
   - [ ]  Make new issues for resource

[2022-01-11 23:01] lrchang2 commented on #105
@mcmorgan27 can you put the resources you linked with context to within the [311 data resources document](https://docs.google.com/document/d/1ETtQ45YuzQIlAsIX3A69KaLx9awsqucBRfqkgzn4hJI/edit#)?

[2022-01-12 01:27] mcmorgan27 commented on #105
Added description for data, packages, and analysis ideas.

[2022-01-12 10:05] lrchang2 commented on #110
[need to recruit for 1-2 PMs](https://github.com/hackforla/access-the-data/issues/4#issuecomment-1010434886)

[2022-01-12 10:11] lrchang2 commented on #113
project has 1 open role (data analyst) on the board

[2022-01-12 10:14] lrchang2 commented on #112
need to recruit for [1-2 PMs](https://github.com/hackforla/access-the-data/issues/4#issuecomment-1010434886)

[2022-01-13 01:24] snooravi commented on #100
## 2022-1-04 Meeting Agenda

### Prework to prep for meeting
- [ ]

### Recurring items:
 - [x] review any issues that are in the [new issue approval column](https://github.com/hackforla/access-the-data/projects/1?card_filter_query=label%3A%22feature%3A+workshops%22#column-15402664)
 - [x] Do we have any new videos to add to https://github.com/hackforla/access-the-data/issues/103
 - [ ] Accountabi

[2022-01-13 01:35] snooravi opened #114 "311-data Workshop Resources Information Architecture"
### Overview
We need to develop an easy to navigate information architecture for the list of resources that the data analysts have provided for the 311-data workshop.

### Action Items

- [ ] Attend workshops meeting while they work on #115
    - [ ] Mondays 5PM PST
    - [ ] Wednesdays 5PM PST
- [ ] During meetings represent the personas in #90 and ask questions that guide data analysts in how th

[2022-01-14 00:07] lrchang2 commented on #102
final edits that will be made to all high fi wireframes:

- enlarging desktop menu (words)
- adding exit button for mobile menu
- make carousel timing longer (both mobile and desktop)
- make button look like it's been clicked on

next steps are to work on spacing, ordering of information and copy.

[2022-01-14 00:46] lrchang2 opened #115 "311-data Workshop Resources Information Architecture"
### Overview
We need to develop an easy to navigate information architecture for the list of resources that the data analysts have provided for the 311-data workshop.

### Action Items

- [ ] Get rapid prototype of resource info arch in wiki from data analyst
- [ ] Translate prototype for website page and flow
- [ ] Usability test information architecture
- [ ] Edit based on test

### Resources/In

[2022-01-14 02:09] snooravi opened #116 "Create a one pager for finding your NC"
### Overview
In order to prevent time during the workshop to be used to teach people how to find their NC, we will aim to create a one pager that we can send as pre-work.

### Action Items

- [x] Create a one pager based on slides 10-11 [here](https://docs.google.com/presentation/d/1ueR5pYLyGvazpV03yvmOZ5rHFt0JCJwJME6rCYHdRy8/edit#slide=id.g1067131bffc_1_22)
- [x] Review, edit and format for final

[2022-01-14 02:14] snooravi opened #117 "Create a one pager that contains the 311data request types and their definitions"
### Overview
In order to prevent time during the workshop to be used to teach people about the 311 data request types, we will aim to create a one pager that we can send as pre-work or as a handy file that we can add to the site.

### Action Items

- [ ] Create a one pager based on slides 8 [here](https://docs.google.com/presentation/d/1ueR5pYLyGvazpV03yvmOZ5rHFt0JCJwJME6rCYHdRy8/edit#slide=id.g10

[2022-01-14 02:15] snooravi commented on #117
@lrchang2 we will probably want all the links of one-pagers we develop to live on the website FYI

[2022-01-14 23:27] lrchang2 commented on #110
**Project Name:** Access the Data

**Volunteer Opportunity:** We are looking for 2 product managers, one to help develop workshops and the other for a website.

The workshops product manager will be in charge of guiding the develop of data literacy workshops and content to teach citizens how to use open source data for public good. You will be working closely with a team of data analysts to develo

[2022-01-17 00:21] KaylenaNguyen commented on #102
I enlarged the desktop menu headings from 20 to 26.
The carousel timing is longer for both mobile and desktop - from 2000ms to 6000ms.
I added the same menu button to the mobile menu, when clicking it, it exits.
I also added an interaction for the about heading on the mobile menu. When you click About it will now go to the about page.
If I have time, I'll work on making the buttons look like it's

[2022-01-18 19:42] lrchang2 commented on #70
## [2022-01-18] Meeting Agenda

### Prework to prep for meeting
- [ ] [Audit](https://github.com/hackforla/access-the-data/issues/33)
- [ ] https://github.com/hackforla/access-the-data/issues/94
- [ ] Review [ice box](https://github.com/hackforla/access-the-data/projects/1#column-12519284) and see if dependencies are still open or not

### Recurring items: Happens on the PM meeting
 - [ ] review a

[2022-01-18 19:43] lrchang2 commented on #33
Go through the issues and check to see if X is missing or assigned
size: 0/9
role: 0/3
feature: 0/7

Go through the issues and check to see that there is a label missing:
size: 1/1  (a new issue made by sarah that has nothing in it)
role: 1/0  (a new issue made by sarah that has nothing in it)
feature: 0/0

Check to see if there are any issues not yet on the project
no project: 0/0
no milestone: 1

[2022-01-18 19:57] lrchang2 commented on #109
@MalakH21 Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the

[2022-01-18 19:58] lrchang2 commented on #94
#109

[2022-01-18 20:14] lrchang2 commented on #112
**Project Name:** Access the Data

**Volunteer Opportunity:** We are looking for 1-2 UX researcher to help our research efforts around a data literacy website. Tasks will include recruitment, surveys, interviews, information architecture and usability testing. The research will be expected to collaborate with the PMs and designers to move the research along and synthesize the information collected

[2022-01-18 20:37] lrchang2 commented on #92
@ashleyxz Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the

[2022-01-18 20:54] lrchang2 opened #118 "UX/UI Research Process and Progress Documentation"
### Overview
We need to develop and consolidate all UX/UI research documentation within the github wiki that details out what we have done and how we have conducted our work. This will be useful documentation for newcomers and can be used to build out established research procedures.

### Action Items

- [ ] Look at examples (below) on how to write research documentation
- [ ] Develop list of rese

[2022-01-18 21:05] lrchang2 commented on #33
for all issues with label "role: UX/UI" replace with either "role: research" or "role: design" so we can delete label.

- [all issues with the "role: UX/UI"](https://github.com/hackforla/access-the-data/labels/role%3A%20UX%2FUI)

"role: UX/UI": 9/19 - relabeled all open issues

[2022-01-20 01:15] ExperimentsInHonesty commented on #100
## 2022-01-19 Meeting Agenda

### Prework to prep for meeting
- [ ]

### Recurring items:
 - [x] review any issues that are in the [new issue approval column](https://github.com/hackforla/access-the-data/projects/1?card_filter_query=label%3A%22feature%3A+workshops%22#column-15402664)
 - [ ] Do we have any new videos to add to https://github.com/hackforla/access-the-data/issues/103
 - [x] Do we hav

[2022-01-20 01:23] ExperimentsInHonesty commented on #116
update: Malak will have this finished by end of week

[2022-01-20 01:30] MalakH21 commented on #109
Blockers: 0
Availability: 3 hours (Thursday PM)
ETA: EOW (01/21/2022)
Pictures: n/a - no changes to site - content creation

[2022-01-20 01:38] lrchang2 commented on #102
edit: make header sticky

[2022-01-20 01:43] lrchang2 opened #119 "Design System - Component(s): Header and Footer"
### Overview
We need to develop library for the header and footer components so it can be passed off and used by the developers.

### Additional Information

- Footer requires Access the Data logo and Hack for LA logo.
- Make the header reactive, current it is static.
- The drop down menu (desktop) should have a hover effect.

### Action Items

- [x] Do industry research on different types of head

[2022-01-21 00:07] lrchang2 opened #120 "Design System - Component(s): Buttons"
### Dependency
~#135~

### Overview
We need to develop library for the button components so it can be passed off and used by the developers.

### Action Items

- [x] look at UI component for high-fi wireframes for button
- [x] do research on types of buttons and uses
    - [x] standalone buttons
    - [x] carousel buttons
- [x] document sites and interfaces researched in figma
- [x] size
   - [x]

[2022-01-21 01:23] MalakH21 commented on #116
done, can be found [here](https://docs.google.com/document/d/1Xv5Ph8abS2vCEIUEKQXO-p1_ze0vhWTlpmlcEtFHV_o/edit#)
<img width="500" alt="Screen Shot 2022-01-20 at 7 15 47 PM" src="https://user-images.githubusercontent.com/40288906/150448535-acb5c0a9-2bf7-4039-8941-649926034f4a.png">
<img width="475" alt="Screen Shot 2022-01-20 at 7 15 37 PM" src="https://user-images.githubusercontent.com/40288906/15

[2022-01-21 05:43] lrchang2 commented on #64
## 2022-01-27 Meeting Agenda

### Prework to prep for meeting
- [ ] Create new meeting Agenda
   - [ ] Carry over anything that did not get addressed in the last meeting to the new meeting Agenda

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/access-the-data/projects/1?card_filter_query=label%3A%22feature%3A+workshops%22#colu

[2022-01-21 18:23] lrchang2 commented on #110
edited blurb to be shorter so it would fit the word count.

posted blurb for[2 product managers](https://github.com/hackforla/product-management/projects/8#card-76483249) on the open board.

[2022-01-21 18:32] lrchang2 commented on #112
posted blurb for [1-2 UXR](https://github.com/hackforla/UI-UX/projects/2#card-76483532) on the open board.

[2022-01-21 18:45] lrchang2 commented on #70
## [2022-01-25] Meeting Agenda

### Prework to prep for meeting
- [ ] [Audit](https://github.com/hackforla/access-the-data/issues/33)
- [ ] https://github.com/hackforla/access-the-data/issues/94
- [ ] Review [ice box](https://github.com/hackforla/access-the-data/projects/1#column-12519284) and see if dependencies are still open or not

### Recurring items: Happens on the PM meeting
 - [ ] review a

[2022-01-23 23:05] KaylenaNguyen commented on #102
I tried to find different ways to get this done. I tried creating a layer over the header to be able to create the fixed position for the header. However, it's not possible to do so when it's on an auto-layout. I'm going to share a link that can better explain what the issue is. Figma doesn't allow for constraints on an auto-layout.

https://forum.figma.com/t/how-can-i-get-fix-position-when-scroll

[2022-01-25 00:30] lrchang2 opened #121 "Audit Website Design System Development"
### Overview
We need to create a roadmap on how we will develop the design system.

### Action Items

- [ ] read H4LA design system document
- [ ] conduct audit of reusable visual qualities and elements of current design that include:
   - [ ] color
   - [ ] typography
   - [ ] components
- [ ] after audit, standardize styles of components
- [ ] organize reusable components into categories
- [ ] c

[2022-01-25 01:06] lrchang2 commented on #119
@TracyLuu Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the

[2022-01-25 01:06] lrchang2 commented on #120
@Archana-M Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of th

[2022-01-25 01:07] lrchang2 commented on #52
@katelyntn Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of th

[2022-01-25 01:08] lrchang2 commented on #56
@delacrem Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the

[2022-01-25 01:11] lrchang2 commented on #33
Go through the issues and check to see if X is missing or assigned
size: 0/0
role: 0/0
feature: 0/0

Go through the issues and check to see that there is a label missing:
size: 1/0  (a new issue made by sarah that has nothing in it)
role: 1/0  (a new issue made by sarah that has nothing in it)
feature: 0/0

Check to see if there are any issues not yet on the project
no project: 0/0
no milestone: 1

[2022-01-25 01:30] lrchang2 commented on #109
@MalakH21 Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the

[2022-01-25 01:32] ExperimentsInHonesty commented on #116
@MalakH21 We gave the document a little edit.  Can you remake the screen shots and put them in this [slide presentation](https://docs.google.com/presentation/d/1xu_lYuucKkBKD9jWfLDZkEv3PkmIjcFEf0MnjEJdV5c/copy) (just the screenshots) using the annotation method described in the slides without the arrows

We want to just highlight the one thing we want them to pay attention to using the orange outl

[2022-01-25 01:32] lrchang2 commented on #94
- #119
- #120
- #52
- #56
- #109

[2022-01-25 07:06] katelyntn commented on #52
Progress: Created different favicon styles, still need to add to browser for mockup
Blockers: Figuring out how to work the mockup
Availability: around 2-4 hours on tues
ETA: by this week
Pictures:
![Access the Data Favicon](https://user-images.githubusercontent.com/75820160/150927861-b52a40e0-495c-4d94-99f2-7532e5a5f296.png)

[2022-01-27 00:36] lrchang2 commented on #63
Week of January 26, 2022

Participants:

Things to discuss:
- [ ]  anyone that has a "To Update!" label update issue during meeting
- [ ]  transition people who are leaving - annotate and unassign from issues
     - [ ] [Shika](https://github.com/hackforla/access-the-data/projects/1?card_filter_query=assignee%3Ashikazzz)
     - [ ] [Tracy](https://github.com/hackforla/access-the-data/issues/assign

[2022-01-27 01:39] MalakH21 commented on #116
updated the images to in the one pager to follow the guidelines in the linked slides,

also added the images in a copy of the linked slides [here](https://docs.google.com/presentation/d/1E2X-XQHVAkRJq6TQ0o_qdp0x0yk7RA48mvrSsOm2n4Q/edit#slide=id.g10fc3d8e5e4_0_11)

[2022-01-27 01:56] ashleyxz commented on #106
Origin Story Interview Guide: https://docs.google.com/document/d/1dVlGaWzt0mBh42odFwac8ACwTUrm-ZGJDMCNkndifZI/edit

[2022-01-27 02:16] ExperimentsInHonesty commented on #115
We made progress tonight sorting items in to the wiki and renaming the pages a little bit.  See here
https://github.com/hackforla/access-the-data/wiki/Workshop-Resources-Overview

[2022-01-27 05:08] ExperimentsInHonesty commented on #70
Add to the next pm meeting
- [ ] Discuss the changes Bonnie made to the WIKI.  We need to make issues for each team lead to update their part of the wiki, so that a new person could join the team and easily get up to speed on all the work to date.

[2022-01-28 00:57] lrchang2 commented on #106
next steps is to schedule interview with sarah

[2022-02-01 00:18] lrchang2 commented on #96
based on the testing, team has decided that we need to reformat the carousel to be "above the fold"

[2022-02-01 00:18] lrchang2 opened #122 "Design System - Component(s): Menu and Submenu"
### Overview
We need to develop library for the menu and submenu components so it can be passed off and used by the developers.

### Action Items
- [ ] do any audit for workshop cards on the Workshop Page within the mobile and desktop high-fi wireframes
- [ ] collect all versions of cards and determine if designs are inconsistent (based on sizing, style, etc) and if we need to standardize them

[2022-02-01 00:25] lrchang2 opened #123 "Design System - Component(s): Text Fields"
### Overview
We need to develop library for the text fields components so it can be passed off and used by the developers.

### Additional Information

- This component is an atomic component that will be used in the contact us form and waitlist form.
- based on usability testing, need to add text as a placeholder

### Action Items

- [x] do industry research on how websites are using text fields

[2022-02-01 00:30] lrchang2 opened #124 "Design System - Component(s): Section Layout, Grid, and Spacing"
### Overview
We need to develop library for the layout of the pages so it can be passed off and used by the developers.

### Action Items

- [x] look at high-fi wireframes for current layout
- [x] parts
   - [x] margins/paddings
   - [x] header/text divider (line)
   - [x] image sizing
- [x] states
   - [x] mobile
   - [x] desktop
- [x] create component with
   - [x] class
   - [x] css
   - [x] us

[2022-02-01 00:30] lrchang2 opened #125 "Design System - Component(s): Workshop Card"
### Overview
We need to develop library for the cards for workshop components so it can be passed off and used by the developers.

### Additional Information
This component is an molecular component that includes button. title, body text, and date and time.

### Action Items
- [ ] do any audit for workshop cards on the Workshop Page within the mobile and desktop high-fi wireframes
- [ ] collect al

[2022-02-01 00:45] lrchang2 opened #126 "Design System - Design: Graphics/Images"
### Overview
We need to standardize image use so they don't look stretch and pixelated.

### Action Items

- [x] get blush plugin on figma
- [x] check how images are being used
- [x] do any audit for images within the mobile and desktop high-fi wireframes
- [x] collect all versions of images and determine if designs are inconsistent (based on sizing, style, etc) and if we need to standardize them

[2022-02-01 06:10] lrchang2 commented on #120
realize there were 2 different button sizes applied to the prototype: bigger carousel button and smaller primary button.

did a comparison of the bigger vs smaller buttons applied to the prototype. team decided that even though aesthetically the bigger button seemed more proportional to images and headings and the bigger button calls attention to it, we need to do a competitive analysis of button

[2022-02-01 06:11] lrchang2 commented on #120
@Archana-M Please add update using this template

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the visual changes made to the site

[2022-02-01 06:12] lrchang2 commented on #56
@delacrem Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the

[2022-02-01 06:15] lrchang2 commented on #52
reviewed work on favicon and logo during team meeting. suggested solid color for "D" for the logo.
next steps are:
- focus on just the "D" as the icon for the favicon
- applied favicons to browser mockups
- check the contrast of the favicons and logos with the figma able plugin
- consider testing other logo ideas

[2022-02-01 06:15] lrchang2 commented on #52
@katelyntn Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of th

[2022-02-01 06:18] lrchang2 commented on #121
from PM+leads meeting, added
#125
#96
#122
#123
#124
#126

@KaylenaNguyen put down any suggestions you have after reading the document here

[2022-02-01 06:19] lrchang2 commented on #102
@KaylenaNguyen can we close out this issue?

[2022-02-01 06:20] lrchang2 commented on #109
@MalakH21 Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the

[2022-02-01 06:36] lrchang2 commented on #33
Go through the issues and check to see if X is missing or assigned
size: 0/0
role: 0/0
feature: 5/0 - fixed; "feature: recruitment" added

Go through the issues and check to see that there is a label missing:
size: 1/0  (a new issue made by sarah that has nothing in it)
role: 1/0  (a new issue made by sarah that has nothing in it)
feature: 0/0

Check to see if there are any issues not yet on the p

[2022-02-01 06:38] lrchang2 commented on #94
- #104
- #120
- #52
- #56
- #121
- #102
- #109

[2022-02-01 19:37] Archana-M commented on #120
Progress: Completed the comparative analysis [Figma Link](https://www.figma.com/file/nS5IqnutUT2FuPwwJObHaY/Access-the-Data-Main-Figma?node-id=2402%3A5648)
Blockers: Discuss the comparative analysis with the team and come to a conclusion about the standard button size.
Availability: 6 hours
ETA: 02/07

[2022-02-01 20:34] #102 closed

[2022-02-01 22:28] ExperimentsInHonesty commented on #34
Q: Understand when the new version of 311data will be deployed
A: possibly 6 months or longer based on current team size

Q: What was the thought process behind the export
A: NC leaders told us they wanted images to put in their newsletters.

Q: Use cases of the 311 data visualization tool
A: I have added this to the 311-data PM meeting agenda, we will answer it here

[2022-02-01 22:42] lrchang2 commented on #33
during PM meeting, fixed an issue that was assigned to sarah. need to ask UX research team about size for issue

[2022-02-01 22:44] lrchang2 commented on #104
@snooravi Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the

[2022-02-01 22:49] lrchang2 commented on #56
@delacrem we havent heard from you on this issue, are you still on the team?

[2022-02-01 22:50] lrchang2 commented on #64
https://github.com/hackforla/access-the-data/issues/56 - still being worked on?

[2022-02-01 23:05] lrchang2 commented on #110
https://user-images.githubusercontent.com/37763229/112223238-e1163500-8be6-11eb-9877-4818ba411759.png

[2022-02-02 06:34] katelyntn commented on #52
Progress: Designed variation of styles of "D" form for favicon and mockup for each style
Blockers: none, will need team to vote
Availability: 2-3 hrs
ETA: By Thurs meeting
Pictures:
<img width="735" alt="Access the Data Favicon (1)" src="https://user-images.githubusercontent.com/75820160/152105560-7d4e8cb3-51bc-4318-af67-c40f2b92088b.png">

[2022-02-02 20:21] lrchang2 commented on #121
- confirm website copy and carousel sizing (above the fold) before layout/spacing

[2022-02-03 00:49] lrchang2 commented on #53
reopening to update design system

[2022-02-03 00:49] lrchang2 commented on #54
reopening to update design system

[2022-02-03 00:55] lrchang2 opened #127 "Research Plan: Community Activist Persona"
### Overview
We need to create a research plan for talking to people who give back to their community but do not have a data science background.

### Action Items

- [x] Familiarize self with targeted persona in #90
- [x] read up on Hack for LA UX/UI research plan issue guide and past Access the Data research work to guide research plan draft development
- [x] create research plan draft (in a Goog

[2022-02-03 01:35] mxajPrice commented on #70
## [2022-02-08] Meeting Agenda

### Prework to prep for meeting
- [ ] #33
- [ ] https://github.com/hackforla/access-the-data/issues/94
- [ ] Review [ice box](https://github.com/hackforla/access-the-data/projects/1#column-12519284) and see if dependencies are still open or not

### Recurring items: Happens on the PM meeting
 - [ ] review any issues that are in the [new issue approval column](https:

[2022-02-03 01:36] mcmorgan27 opened #128 "Spatial Analysis for Bulky Items 2021"
### Overview

Create data story similar to the graffiti removal request type.  Focus on bulky items.

### Action Items

- [x] Build out basic analysis for bulky items
- [x] Create choropleth maps
- [x] Created data for gdrive
- [x] Save results as notebook
- [x] Save png files into the drive with proper titles (time frame & request type & analysis type)
- [x] Update [github](https://github.com/hac

[2022-02-03 01:36] MalakH21 commented on #116
everything is complete

[2022-02-03 01:38] #116 closed

[2022-02-03 01:38] snooravi commented on #116
Done --can be found on project board

[2022-02-03 01:46] snooravi commented on #117
Definitions of Call Types
Definition Source : https://www.311-data.org/faq
Dead Animal [DAN] - Report a dead animal located on City of Los Angeles streets or outside of residences within the City of Los Angeles
Homeless Encampment [HLE] - Report a new homeless encampment
Single Streetlight [SSL] - For poles knocked down or to report a streetlight outage on a wooden power pole or for malfunctioning

[2022-02-03 01:50] mxajPrice commented on #33
Go through the issues and check to see if X is missing or assigned
size:
role:
feature:
 Go through the issues and check to see that there is a label missing:
size:
role:
feature:
Check to see if there are any issues not yet on the project
no project:
no milestone:

[2022-02-03 02:01] mcmorgan27 commented on #128
This is the PM stuff that ....

[2022-02-04 00:15] lrchang2 commented on #52
team has voted in the [figma](https://www.figma.com/file/nS5IqnutUT2FuPwwJObHaY/Access-the-Data-Main-Figma?node-id=2%3A3) that favicon #16 looks the best on the browsers.

Katelyn will update the current Access the Data logo with the rounded edges like favicon #16, instead of the straight edges like favicon #6 that it currently has

[2022-02-04 22:20] KaylenaNguyen commented on #121
carousel has been updated.
based on feedback, text and images have been swapped for zig-zag layout, for easier reading.
buttons have been changed to fit the rest of the page. smaller button for users when viewing on their own screens.
Archana and I will go over this on Monday and discuss questions for usability testing.

[2022-02-08 00:55] lrchang2 commented on #127
@kimberly-tellez Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures

[2022-02-08 00:56] lrchang2 commented on #115
@ExperimentsInHonesty Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pic

[2022-02-08 00:56] lrchang2 commented on #106
@ashleyxz Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the

[2022-02-08 01:08] lrchang2 commented on #121
@KaylenaNguyen open the carousel issue back up and have you comment these insights in there.

[2022-02-08 01:12] snooravi commented on #128
@mcmorgan27
Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures that will help illustrate

[2022-02-08 01:12] snooravi commented on #117
@MalakH21
Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures that will help illustrate w

[2022-02-08 02:44] lrchang2 commented on #52
@katelyntn Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of th

[2022-02-08 02:45] lrchang2 commented on #56
@delacrem Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the

[2022-02-08 02:46] lrchang2 commented on #109
@MalakH21
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of the

[2022-02-08 02:46] lrchang2 commented on #120
@Archana-M
Please add update using this template (even if you have a pull request)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pictures of th

[2022-02-08 02:47] lrchang2 commented on #94
- #104
- #127
- #115
- #106
- #52
- #56
- #109

[2022-02-08 04:48] lrchang2 opened #129 "Access the Data Logo Perception Study"
### Overview
We need to do a usability test on the potential logo to make a decision on which version of the logo to go with.

### Action Items

- [x] Create png versions of logo with straight lines and rounded lines
- [x] Create usability test to compare the two types of logos
- [x] Review test with PMs
- [x] recruit for participants
   - [x] ask team members during Wednesday team meeting
   - [x

[2022-02-08 04:50] lrchang2 commented on #129
@katelyntn please put all your progress with screenshots here.

you can use the template below:
Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures: "Add any pi

[2022-02-08 16:57] Archana-M commented on #120
Progress: Completed working on buttons [figma](https://www.figma.com/file/nS5IqnutUT2FuPwwJObHaY/Access-the-Data-Main-Figma?node-id=2158%3A5281)
Would like to suggest that we go with small padding for buttons.

[2022-02-08 22:42] ExperimentsInHonesty commented on #115
We didnt work on this at last nights meeting, there were other items.  We will pick it up at the next meeting that Sarah is not at. Because when Sarah is there, she needs to work on the slide deck with people

[2022-02-08 22:53] lrchang2 opened #130 "Onboard & Offboard: Product"
### Dependency
When we have a PM join or leave the project

### Overview
We need to have a checklist of items to do when a product manager onboard and offboards so that the process can be consistent and fast.

### Dates
Created: 2022-02-08
Last Updated: 2022-03-01

### Action Items
- [ ] Copy template to comment below
- [ ] Add name of person
- [ ] Check off as done

[code]
[code]

### Resources/I

[2022-02-08 22:56] lrchang2 commented on #70
## [2022-02-08] Meeting Agenda

### Prework to prep for meeting
- [x] #33
- [x] https://github.com/hackforla/access-the-data/issues/94
- [x] Review [ice box](https://github.com/hackforla/access-the-data/projects/1#column-12519284) and see if dependencies are still open or not

### Recurring items: Happens on the PM meeting
 - [x] review any issues that are in the [new issue approval column](https:

[2022-02-09 01:21] kimberly-tellez commented on #127
@lrchang2 let me know if you want to continue being tagged in all progress updates.

Progress: I'm reviewing all of the content that is related to the ATD research plan & Persona #1. I've created an outline for the research plan but still need to populate the details, including creating new screener survey questions to target community activists.
Blockers: I noticed that the survey that already ex

[2022-02-09 04:29] lrchang2 commented on #127
@kimberly-tellez thank you for your update. you can tag me if you want. I get notifications for any comment in our repo and look at all the issues, so i'll see it anyways.

when you get a chance, please provide hyperlinks to all the materials that you produce under the "Resources/Instructions" section of the issue

[2022-02-09 05:11] katelyntn commented on #129
Progress: Set up a usability test on the rounded or non-round logo & iterated the usability test based on Lucy's feedback.
Blockers: No blockers
Availability: 3-4 hrs
ETA: results and decision making should take place next week
Pictures:

[2022-02-09 05:59] snooravi commented on #104
@lrchang2 Can I get your help splitting up the slides using [this](https://docs.google.com/spreadsheets/d/1k8DvQ0wiiT3YJVliscCXOtXAiHx1yJDhPvjzYHZpOLQ/edit#gid=0) template.

[2022-02-09 14:47] lrchang2 commented on #63
Week of February 9, 2022

Things to discuss:
- [ ]  anyone that has a "To Update!" label update issue during meeting
- [ ]  transition people who are leaving - annotate and unassign from issues
- [ ]  workshop and website update
- [ ] go over board and issues within review/questions to discuss blockers
- [ ] breakout room

Things discussed:

Actions to take:

[2022-02-09 17:53] KaylenaNguyen commented on #96
carousel has been updated.
based on feedback, text and images have been swapped for zig-zag layout, for easier reading.
buttons have been changed to fit the rest of the page. smaller button for users when viewing on their own screens.
Archana and I went over this on Monday.
Some things to note:
- Heading and text alignment aren't quite aligned. It's definitely a personal preference, but I think th

[2022-02-10 00:03] delacrem commented on #56
Progress: In the research phase. Evaluating example slides and 311 data draft slides
Blockers: None
Availability: Thursday evening, Friday evening, and all of Sunday
ETA: Sunday
Pictures: N/A

[2022-02-10 01:20] ashleyxz commented on #106
recoding
https://drive.google.com/drive/folders/16pYdyxyY1s_nzW5_xo48eqf8eXBfsTrU?usp=sharing

[2022-02-10 01:33] MalakH21 commented on #109
Progress: none to report
Blockers: none to report
Availability: 4 hours Saturday
ETA: Feb 23
Pictures: N/A

[2022-02-10 01:34] lrchang2 commented on #106
next steps are to make a list of questions to ask Julien to fill in gaps of what we got from sarah

[2022-02-10 01:40] ExperimentsInHonesty commented on #104
update on 311 data pipeline https://github.com/hackforla/311-data/issues/1165

[2022-02-10 01:47] lrchang2 commented on #120
look at length of button copy (by character count) - does it need a specific call to action?

[2022-02-10 01:57] lrchang2 commented on #96
- margins for pictures increased
- left alignment of headings

developers need to weigh in on automated flipping through cards in carousel and how it works

[2022-02-10 02:04] lrchang2 commented on #129
consider if we want to keep the blue background.
![image](https://user-images.githubusercontent.com/10827101/153323121-500a0c87-a746-49b5-87e9-a7784b0db7fd.png)

play around with text colors with white background

[2022-02-10 02:32] lrchang2 commented on #64
## 2022-01-27 Meeting Agenda

### Prework to prep for meeting
- [x] Create new meeting Agenda
   - [x] Carry over anything that did not get addressed in the last meeting to the new meeting Agenda

### Recurring items:
 - [x] review any issues that are in the [new issue approval column](https://github.com/hackforla/access-the-data/projects/1#column-15402664)
 - [x] review goals/roadmap of project

[2022-02-10 06:35] melissamurphy commented on #96
@KaylenaNguyen @lrchang2 Could we get a link in this issue to the carousel wireframes in Figma?  I'm not finding it in the Access the Data Hi-Fi Wireframes page https://www.figma.com/file/nS5IqnutUT2FuPwwJObHaY/Access-the-Data-Main-Figma?node-id=2%3A16

[2022-02-10 06:38] KaylenaNguyen commented on #96
@melissamurphy

Yep! Sorry, it's in the Components page.

https://www.figma.com/file/nS5IqnutUT2FuPwwJObHaY/Access-the-Data-Main-Figma?node-id=1313%3A4075

[2022-02-10 06:48] melissamurphy commented on #96
Great, I updated the issue description with it as well!  I was looking in hi fi under _Figma's_ Components page ("Local Components")

[2022-02-14 15:24] snooravi commented on #128
Hey @mcmorgan27. Please provide update:

Progress
Blockers
Availability
ETA

[2022-02-14 18:28] mcmorgan27 commented on #128
Progress: Added overview charts on gdrive
Blockers:  None
Availability: Time it takes to update to github
ETA: 02/16/2022

[2022-02-15 01:01] MalakH21 commented on #117
one pager here on pages 3 https://docs.google.com/document/d/1-WzGxAbqRENZByrrPepChhGxBRAkmNF5YbpTwyd6Oi8/edit#

[2022-02-15 01:32] MalakH21 opened #131 "311 Data Slides: Workshop Intro"
### Overview
Working on creating a workshop for website + tools around 311-Data.org
311 Data Slides: 1 - 3

### Action Items

- [ ] Title : Title of the Workshop, Name of Organization, Date of Workshop
- [ ] HackforLA Intro Slide : Blurb on HackforLA / Logo
- [ ] Agenda : Agenda for the Workshop

### Resources/Instructions
[311 Data Workshop Outline](https://docs.google.com/document/d/1W1WLLVAN8iz

[2022-02-15 01:39] scho-git opened #132 "311 Data Slides: 311 Data Intro"
### Overview
Working on creating a workshop for website + tools around 311-Data.org
311 Data Slides: 8-9

### Action Items

- [ ] Summarization of what 311 is "non-emergency" hotline, etc.
- [ ] Screenshot highlighting the tool (map / data viz / alpha)

### Resources/Instructions
[311 Data Workshop Outline](https://docs.google.com/document/d/1W1WLLVAN8izVGgm5CsUwEZ43xc_2upMeXR3Q8l9GNd4/edit)
[311

[2022-02-15 01:47] Avangarde2225 opened #133 "311 Data Slides: Request Type Definitions"
### Overview
We need to add content to the 311 workshop slides to inform attendees what the terms: Bulky Items and Illegal Dumping mean so that they can understand the maps and other methods that follow.

### Action Items
  - [x]  Request Type Definitions: in the definitions for Bulky Item and Illegal Dumping and tell people where to find the rest of the definitions

### Resources/Instructions
- [